@{
	ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />
<script src="~/js/Home/Index.js" asp-append-version="true"></script>

<div id="BannerSwiper" class="container-fluid position-relative p-0">
	<div class="swiper">
		<div class="swiper-wrapper">
			<figure class="swiper-slide">
				<img src="~/images/banner/Home/banner.jpg" alt="" />
				<figcaption class="position-absolute bottom-0 mb-4 me-1 text-white">
					<h3 class="my-1">Derek獨立式浴缸新上市 打造身心專屬舒壓時光</h3>
				</figcaption>
			</figure>
			<figure class="swiper-slide">
				<img src="~/images/banner/Home/banner02.jpg" alt="" />
				<figcaption class="position-absolute bottom-0 mb-4 me-1 text-white">
					<h3 class="my-1">「淨未來」微電腦馬桶座系列享受瞬熱式潔淨 冬季溫暖就靠它</h3>
				</figcaption>
			</figure>
		</div>
	</div>
	<div class="swiper_button container d-flex p-0 justify-content-between position-absolute">
		<button class="btn_swiper_prev_banner border-0 p-0 text-center bg-transparent fs-3">
			<i class="fa-solid fa-chevron-left"></i>
		</button>
		<button class="btn_swiper_next_banner border-0 p-0 text-center bg-transparent fs-3">
			<i class="fa-solid fa-chevron-right"></i>
		</button>
	</div>
	<div class="swiper_pagination_banner position-absolute text-center"></div>
</div>

<div id="btn_gonews"><i class="fa-solid fa-chevron-down"></i></div>

<div id="Guess_Like">
	<div class="title">猜您會喜歡</div>
	<div class="content">
		<div class="frame">
			<div class="top">
				<div class="name">DE-R1073&ensp;德瑞克直熱式微電腦馬桶座／遙控型</div>
				<button class="btn_favorites bg-transparent border-0">
					<i class="fa-regular fa-heart"></i>
				</button>
			</div>
			<div class="tag">
				<ul>
					<li>熱銷款</li>
					<li>直熱式</li>
					<li>遙控型</li>
				</ul>
			</div>
			<div class="image"><img src="~/images/product/pro_01.png" alt="" /></div>
			<div class="buy">
				<div class="price">28,000</div>
				<a href="/Toilet/01" class="btn_buy border border-secondary px-4 rounded-pill text-black align-self-center">立即購買</a>
			</div>
		</div>
		<div class="frame">
			<div class="top">
				<div class="name">C659NA德瑞克Smart III淨未來智慧馬桶</div>
				<button class="btn_favorites bg-transparent border-0">
					<i class="fa-regular fa-heart"></i>
				</button>
			</div>
			<div class="tag">
				<ul>
					<li>奈米</li>
					<li>智慧馬桶</li>
					<li>一觸即掀</li>
				</ul>
			</div>
			<div class="image"><img src="~/images/product/pro_02.png" alt="" /></div>
			<div class="buy">
				<div class="price">135,000</div>
				<a href="/Toilet/01" class="btn_buy border border-secondary px-4 rounded-pill text-black align-self-center">立即購買</a>
			</div>
		</div>
		<div class="frame">
			<div class="top">
				<div class="name">L602&ensp;檯上三角盆</div>
				<button class="btn_favorites bg-transparent border-0">
					<i class="fa-regular fa-heart"></i>
				</button>
			</div>
			<div class="tag">
				<ul>
					<li>歐洲省水二段</li>
					<li>三角盆</li>
				</ul>
			</div>
			<div class="image"><img src="~/images/product/pro_03.png" alt="" /></div>
			<div class="buy">
				<div class="price">28,300</div>
				<a href="/Toilet/01" class="btn_buy border border-secondary px-4 rounded-pill text-black align-self-center">立即購買</a>
			</div>
		</div>
	</div>
</div>

<div class="favorite container">
	<div class="title d-flex align-items-center justify-content-center pb-5">您喜愛的商品</div>
	<ul class="row row-cols-2 row-cols-sm-3 row-cols-lg-6">
		<li class="col">
			<figure class="m-0">
				<div class="top_icon text-end">
					<button class="btn_favorites bg-transparent border-0 p-0">
						<i class="fa-solid fav_item fa-regular fa-heart"></i>
					</button>
					<button class="btn_addtocart bg-transparent border-0">
						<i class="fa-solid fa-cart-shopping"></i>
					</button>
				</div>
				<img class="w-100" src="~/images/product/pro_01.png" alt="" />
				<figcaption class="ms-auto">
					<div class="text-white px-3 py-2">微電腦馬桶座</div>
				</figcaption>
			</figure>

			<div class="name text-center">DE-R1073&ensp;德瑞克直熱式微電腦馬桶座／遙控型</div>
		</li>

		<li class="col">
			<figure class="m-0">
				<div class="top_icon text-end">
					<button class="btn_favorites bg-transparent border-0 p-0">
						<i class="fa-solid fav_item fa-regular fa-heart"></i>
					</button>
					<button class="btn_addtocart bg-transparent border-0">
						<i class="fa-solid fa-cart-shopping"></i>
					</button>
				</div>
				<img class="w-100" src="~/images/product/pro_01.png" alt="" />
				<figcaption class="ms-auto">
					<div class="text-white px-3 py-2">微電腦馬桶座</div>
				</figcaption>
			</figure>

			<div class="name text-center">DE-R1073&ensp;德瑞克直熱式微電腦馬桶座／遙控型</div>
		</li>

		<li class="col">
			<figure class="m-0">
				<div class="top_icon text-end">
					<button class="btn_favorites bg-transparent border-0 p-0">
						<i class="fa-solid fav_item fa-regular fa-heart"></i>
					</button>
					<button class="btn_addtocart bg-transparent border-0">
						<i class="fa-solid fa-cart-shopping"></i>
					</button>
				</div>
				<img class="w-100" src="~/images/product/pro_01.png" alt="" />
				<figcaption class="ms-auto">
					<div class="text-white px-3 py-2">微電腦馬桶座</div>
				</figcaption>
			</figure>

			<div class="name text-center">DE-R1073&ensp;德瑞克直熱式微電腦馬桶座／遙控型</div>
		</li>

		<li class="col">
			<figure class="m-0">
				<div class="top_icon text-end">
					<button class="btn_favorites bg-transparent border-0 p-0">
						<i class="fa-solid fav_item fa-regular fa-heart"></i>
					</button>
					<button class="btn_addtocart bg-transparent border-0">
						<i class="fa-solid fa-cart-shopping"></i>
					</button>
				</div>
				<img class="w-100" src="~/images/product/pro_01.png" alt="" />
				<figcaption class="ms-auto">
					<div class="text-white px-3 py-2">微電腦馬桶座</div>
				</figcaption>
			</figure>

			<div class="name text-center">DE-R1073&ensp;德瑞克直熱式微電腦馬桶座／遙控型</div>
		</li>

		<li class="col">
			<figure class="m-0">
				<div class="top_icon text-end">
					<button class="btn_favorites bg-transparent border-0 p-0">
						<i class="fa-solid fav_item fa-regular fa-heart"></i>
					</button>
					<button class="btn_addtocart bg-transparent border-0">
						<i class="fa-solid fa-cart-shopping"></i>
					</button>
				</div>
				<img class="w-100" src="~/images/product/pro_01.png" alt="" />
				<figcaption class="ms-auto">
					<div class="text-white px-3 py-2">微電腦馬桶座</div>
				</figcaption>
			</figure>

			<div class="name text-center">DE-R1073&ensp;德瑞克直熱式微電腦馬桶座／遙控型</div>
		</li>

		<li class="col blank">
			<figure class="m-0 position-relative">
				<div class="top_icon text-end"></div>

				<img class="w-100" src="~/images/product/pro_01.png" alt="" />

				<figcaption class="ms-auto">
					<div class="text-white px-3 py-2"></div>
				</figcaption>

				<div class="btn_add_favorite fa-stack fa-2x position-absolute fs-4">
					<i class="fa-solid fa-circle fa-stack-2x"></i>
					<i class="fa-solid fa-plus fa-stack-1x fa-inverse"></i>
				</div>
			</figure>
		</li>
	</ul>
</div>

<div id="Featured">
	<div class="title">Derek精選</div>
	<div class="content">
		<div class="frame">
			<div class="image">
				<a href=""><img src="~/images/featured_1.jpg" alt="" /></a>
				<a href=""><img src="~/images/featured_2.jpg" alt="" /></a>
			</div>
			<a class="describe" href="">
				極致美學的衛浴產品受建商及消費者喜愛
			</a>
		</div>
		<div class="frame">
			<div class="image">
				<a href=""><img src="~/images/featured_3.jpg" alt="" /></a>
				<a href=""><img src="~/images/featured_4.jpg" alt="" /></a>
				<a href=""><img src="~/images/featured_5.jpg" alt="" /></a>
			</div>
			<a class="describe" href="">
				浴室門口的高質感盆浴櫃組好看又好收納！
			</a>
		</div>
	</div>
</div>

<div id="Tiles">
	<div class="content">
		<div class="frame">
			<a class="big" href=""><img src="~/images/tiles_1.jpg" alt="" /></a>
			<div class="small">
				<a href=""><img src="~/images/tiles_2.jpg" alt="" /></a>
				<a href=""><img src="~/images/tiles_3.jpg" alt="" /></a>
			</div>
		</div>
		<div class="frame">
			<a class="big" href=""><img src="~/images/tiles_4.jpg" alt="" /></a>
			<div class="small">
				<a href=""><img src="~/images/tiles_5.jpg" alt="" /></a>
				<a href=""><img src="~/images/tiles_6.jpg" alt="" /></a>
			</div>
		</div>
	</div>
</div>

<div id="News" class="container-fluid">
	<div class="title">最新消息</div>
	<div class="swiper NewsSwiper">
		<div class="swiper-wrapper content">
			<div class="frame swiper-slide">
				<div class="image"><img src="~/images/news_pic1.jpg" alt="" /></div>
				<div class="text">
					<div class="time">
						<div class="date">08/15</div>
						<div class="year">2022</div>
					</div>
					<div class="content">新品上市，全省門市販售中</div>
					<div class="more">More&ensp;></div>
				</div>
			</div>

			<div class="frame swiper-slide">
				<div class="image"><img src="~/images/news_pic2.jpg" alt="" /></div>
				<div class="text">
					<div class="time">
						<div class="date">07/28</div>
						<div class="year">2022</div>
					</div>
					<div class="content">台灣最卓越的衛浴品牌需要您一票支援！！！</div>
					<div class="more">More&ensp;></div>
				</div>
			</div>

			<div class="frame swiper-slide">
				<div class="image"><img src="~/images/news_pic1.jpg" alt="" /></div>
				<div class="text">
					<div class="time">
						<div class="date">08/15</div>
						<div class="year">2022</div>
					</div>
					<div class="content">新品上市，全省門市販售中</div>
					<div class="more">More&ensp;></div>
				</div>
			</div>

			<div class="frame swiper-slide">
				<div class="image"><img src="~/images/news_pic2.jpg" alt="" /></div>
				<div class="text">
					<div class="time">
						<div class="date">07/28</div>
						<div class="year">2022</div>
					</div>
					<div class="content">台灣最卓越的衛浴品牌需要您一票支援！！！</div>
					<div class="more">More&ensp;></div>
				</div>
			</div>
		</div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-pagination"></div>
	</div>
</div>

<div id="Most_Popular" class="container-fluid my-5">
	<div class="container">
		<div class="fs-4 fw-bold py-3">今日最熱門</div>
		<div class="card-group">
			<div class="card bg-transparent border-0 me-sm-2 m-0">
				<a href=""><img class="card-img-top w-100" src="~/images/hotad1.jpg" alt="ads_1" /></a>
				<figcaption class="card-body">
					<a class="card-text text-black" href="">母親節來臨，以全新獨立式浴缸系列與「淨未來瞬熱式微電腦馬桶座」，給天下媽媽們一份療癒身心之禮</a>
				</figcaption>
				<ul class="card-footer row bg-transparent border-0 m-0">
					<li class="col-auto ps-0">淨未來</li>
					<li class="col-auto ps-0">全自動</li>
					<li class="col-auto ps-0">冷熱SPA按摩</li>
				</ul>
			</div>
			<figure class="card bg-transparent border-0 ms-sm-2 m-0">
				<a href=""><img class="card-img-top w-100" src="~/images/hotad2.jpg" alt="ads_2" /></a>
				<figcaption class="card-body">
					<a class="card-text text-black" href="">Derek獨立式美型缸系列，以壓克力材質形塑柔和輪廓，分為經典款、魅力款、個性款、古典款，造型多樣、擺放自由度高，完美匹配多種裝潢風格。</a>
				</figcaption>
				<ul class="card-footer row bg-transparent border-0 m-0">
					<li class="col-auto ps-0">浴缸</li>
					<li class="col-auto ps-0">新品</li>
				</ul>
			</figure>
		</div>
	</div>
</div>

<div id="InquiryAndCconsult">
	<div class="inquire">
		<img src="~/images/inquire_bg.jpg" alt="" />
		<div class="frame">
			<div class="title">經銷據點查詢</div>
			<div class="search">
				<input type="text">
				<i class="fa-solid fa-magnifying-glass"></i>
			</div>
			<div class="tag">
				<ul>
					<li>分公司</li>
					<li>經銷據點</li>
					<li>公共專案經銷</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="consult">
		<img src="~/images/consult_bg.jpg" alt="" />
		<div class="frame">
			<div class="title">Derek購買諮詢服務</div>
			<div class="content">不管是產品安裝、或是採購建議，都有專人來為您解答！</div>
			<div class="btn_consult">馬上諮詢</div>
		</div>
	</div>
</div>

<div id="Other_Page">
	<div class="frame">
		<a href="">
			<img src="~/images/other_page_1.jpg" alt="" />
			<div class="page_name">關於Derek</div>
		</a>
	</div>
	<div class="frame">
		<a href="">
			<img src="~/images/other_page_2.jpg" alt="" />
			<div class="page_name">標章認證</div>
		</a>
	</div>
	<div class="frame">
		<a href="">
			<img src="~/images/other_page_3.jpg" alt="" />
			<div class="page_name">銷售據點</div>
		</a>
	</div>
	<div class="frame">
		<a href="">
			<img src="~/images/other_page_4.jpg" alt="" />
			<div class="page_name">我們的服務</div>
		</a>
	</div>
</div>

<div id="Reserve">
	<div class="frame">
		<a class="content" href="" target="_blank">
			<div>Reservation</div>
			<div>預約參觀</div>
			<div><i class="fa-solid fa-chevron-up"></i></div>
		</a>
	</div>
</div>
