@{
	ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />
<script src="~/js/Home/Index.js" asp-append-version="true"></script>

<div id="banner" class="container-fluid">
	<div class="swiper mySwiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img src="~/images/banner/Home/banner.jpg" alt="" />
				<h3>Derek獨立式浴缸新上市 打造身心專屬舒壓時光</h3>
			</div>
			<div class="swiper-slide">
				<img src="~/images/banner/Home/banner02.jpg" alt="" />
				<h3>「淨未來」微電腦馬桶座系列享受瞬熱式潔淨 冬季溫暖就靠它</h3>
			</div>
		</div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-pagination"></div>
	</div>
</div>

<div id="btn_gonews"><i class="fa-solid fa-chevron-down"></i></div>

<div id="Guess_Like">
	<div class="title">猜您會喜歡</div>
	<div class="content">
		<div class="frame">
			<div class="name">DE-R1073&ensp;德瑞克直熱式微電腦馬桶座／遙控型</div>
			<div class="tag">
				<ul>
					<li>熱銷款</li>
					<li>直熱式</li>
					<li>遙控型</li>
				</ul>
			</div>
			<div class="image"><img src="~/images/pro1.png" alt="" /></div>
			<div class="buy">
				<div class="price">$28,000</div>
				<div class="btn_buy">立即購買</div>
			</div>
		</div>
		<div class="frame">
			<div class="name">L602&ensp;檯上三角盆</div>
			<div class="tag">
				<ul>
					<li>歐洲省水二段</li>
					<li>三角盆</li>
				</ul>
			</div>
			<div class="image"><img src="~/images/pro2.png" alt="" /></div>
			<div class="buy">
				<div class="price">$28,300</div>
				<div class="btn_buy">立即購買</div>
			</div>
		</div>
		<div class="frame">
			<div class="name">L602&ensp;檯上三角盆</div>
			<div class="tag">
				<ul>
					<li>歐洲省水二段</li>
					<li>三角盆</li>
				</ul>
			</div>
			<div class="image"><img src="~/images/pro2.png" alt="" /></div>
			<div class="buy">
				<div class="price">$28,300</div>
				<div class="btn_buy">立即購買</div>
			</div>
		</div>
	</div>
</div>

<div id="Favorite">
	<div class="title">您喜愛的商品</div>
	<div class="content">
		<div class="frame">
			<div class="content">
				<div class="icon_button">
					<i class="fa-regular fa-heart"></i>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
				<div class="image"><img src="~/images/pro1.png" alt="" /></div>
				<div class="title_bg">
					<div class="title">微電腦馬桶座</div>
				</div>
			</div>
			<div class="name">DE-R1073&ensp;德瑞克直熱式微電腦馬桶座／遙控型</div>
		</div>
		<div class="blank">
			<div class="content">
				<div class="btn_add"><i class="fa-solid fa-plus"></i></div>
			</div>
		</div>
	</div>
</div>

<div id="Featured">
	<div class="title">Derek精選</div>
	<div class="content">
		<div class="frame">
			<div class="image">
				<a href=""><img src="~/images/featured_1.jpg" alt="" /></a>
				<a href=""><img src="~/images/featured_2.jpg" alt="" /></a>
			</div>
			<a class="describe" href="">
				極致美學的衛浴產品受建商及消費者喜愛
			</a>
		</div>
		<div class="frame">
			<div class="image">
				<a href=""><img src="~/images/featured_3.jpg" alt="" /></a>
				<a href=""><img src="~/images/featured_4.jpg" alt="" /></a>
				<a href=""><img src="~/images/featured_5.jpg" alt="" /></a>
			</div>
			<a class="describe" href="">
				浴室門口的高質感盆浴櫃組好看又好收納！
			</a>
		</div>
	</div>
</div>

<div id="Tiles">
	<div class="content">
		<div class="frame">
			<a class="big" href=""><img src="~/images/tiles_1.jpg" alt="" /></a>
			<div class="small">
				<a href=""><img src="~/images/tiles_2.jpg" alt="" /></a>
				<a href=""><img src="~/images/tiles_3.jpg" alt="" /></a>
			</div>
		</div>
		<div class="frame">
			<a class="big" href=""><img src="~/images/tiles_4.jpg" alt="" /></a>
			<div class="small">
				<a href=""><img src="~/images/tiles_5.jpg" alt="" /></a>
				<a href=""><img src="~/images/tiles_6.jpg" alt="" /></a>
			</div>
		</div>
	</div>
</div>

<div id="News">
	<div class="title">最新消息</div>
	<div class="content">
		<div class="frame">
			<div class="image"><img src="~/images/news_pic1.jpg" alt="" /></div>
			<div class="text">
				<div class="time">
					<div class="date">08/15</div>
					<div class="year">2022</div>
				</div>
				<div class="content">新品上市，全省門市販售中</div>
				<div class="more">More&ensp;></div>
			</div>
		</div>
		<div class="frame">
			<div class="image"><img src="~/images/news_pic2.jpg" alt="" /></div>
			<div class="text">
				<div class="time">
					<div class="date">07/28</div>
					<div class="year">2022</div>
				</div>
				<div class="content">台灣最卓越的衛浴品牌需要您一票支援！！！</div>
				<div class="more">More&ensp;></div>
			</div>
		</div>
	</div>
</div>

<div id="Most_Popular">
	<div class="title">今日最熱門</div>
	<div class="content">
		<div class="frame">
			<a class="image" href=""><img src="~/images/hotad1.jpg" alt="" /></a>
			<div class="describe">
				<a href="">
					母親節來臨，以全新獨立式浴缸系列與「淨未來瞬熱式微電腦馬桶座」，給天下媽媽們一份療癒身心之禮
				</a>
			</div>
			<div class="keywords">
				<ul>
					<li>#淨未來</li>
					<li>#全自動</li>
					<li>#冷熱SPA按摩</li>
				</ul>
			</div>
		</div>
		<div class="frame">
			<a class="image" href=" "><img src="~/images/hotad2.jpg" alt="" /></a>
			<div class="describe">
				<a href="">
					Derek獨立式美型缸系列，以壓克力材質形塑柔和輪廓，分為經典款、魅力款、個性款、古典款，造型多樣、擺放自由度高，完美匹配多種裝潢風格。
				</a>
			</div>
			<div class="keywords">
				<ul>
					<li>#浴缸</li>
					<li>#新品</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="InquiryAndCconsult">
	<div class="inquire">
		<img src="~/images/inquire_bg.jpg" alt="" />
		<div class="frame">
			<div class="title">經銷據點查詢</div>
			<div class="search">
				<input type="text">
				<i class="fa-solid fa-magnifying-glass"></i>
			</div>
			<div class="tag">
				<ul>
					<li>分公司</li>
					<li>經銷據點</li>
					<li>公共專案經銷</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="consult">
		<img src="~/images/consult_bg.jpg" alt="" />
		<div class="frame">
			<div class="title">Derek購買諮詢服務</div>
			<div class="content">不管是產品安裝、或是採購建議，都有專人來為您解答！</div>
			<div class="btn_consult">馬上諮詢</div>
		</div>
	</div>
</div>

<div id="Other_Page">
	<div class="frame">
		<a href="">
			<img src="~/images/other_page_1.jpg" alt="" />
			<div class="page_name">關於Derek</div>
		</a>
	</div>
	<div class="frame">
		<a href="">
			<img src="~/images/other_page_2.jpg" alt="" />
			<div class="page_name">標章認證</div>
		</a>
	</div>
	<div class="frame">
		<a href="">
			<img src="~/images/other_page_3.jpg" alt="" />
			<div class="page_name">銷售據點</div>
		</a>
	</div>
	<div class="frame">
		<a href="">
			<img src="~/images/other_page_4.jpg" alt="" />
			<div class="page_name">我們的服務</div>
		</a>
	</div>
</div>

<div id="Reserve">
	<div class="frame">
		<a class="content" href="" target="_blank">
			<div>Reservation</div>
			<div>預約參觀</div>
			<div><i class="fa-solid fa-chevron-up"></i></div>
		</a>
	</div>
</div>
