@{
    ViewData["Title"] = "Home Page";
}
<div id="banner" class="container-fluid">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="~/images/banner/Home/banner.jpg" alt="" />
                <h3>Derek獨立式浴缸新上市 打造身心專屬舒壓時光</h3>
            </div>
            <div class="swiper-slide">
                <img src="~/images/banner/Home/banner02.jpg" alt="" />
                <h3>「淨未來」微電腦馬桶座系列享受瞬熱式潔淨 冬季溫暖就靠它</h3>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
