
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.z-index-up {
    z-index: 10;
}

/* Directory List */
.btn_back {
    color: #4E565A;
}

.btn_add {
    z-index: 1;
}

/* Directory Content */
#DirectoryContent > .card-header {
    background-color: var(--color-gray-bg-dark);
}

#DirectorytForm > .title .count::after {
    content: '/60';
}

#DirectorytForm > .description .count::after {
    content: '/150';
}

.data_upload .upload_title {
    width: fit-content;
    line-height: 1.5rem;
    top: -0.75rem;
    color: #888;
}

.data_upload .upload_warning {
    width: fit-content;
    line-height: 1.5rem;
    bottom: -0.75rem;
    right: 0.5rem;
    color: #C88;
}

.data_upload .icon.pointer {
    cursor: pointer;
}

.data_upload .icon.move {
    cursor: move;
}

.data_upload .serNoTool {
    cursor: move;
    display: flex;
    align-items: center;
}

.data_upload .btn_upload_add {
    height: 2.25rem;
}

.data_upload .upload_list .ser_no {
    width: 1.5rem;
}

.data_upload .upload_list .size {
    width: 4.5rem;
    text-align: right;
}

.data_upload label.visible {
    position: relative;
    cursor: pointer;
}

    .data_upload label.visible span:nth-of-type(1) {
        display: none;
    }

    .data_upload label.visible span:nth-of-type(2) {
        display: flex;
    }

.data_upload label.visible input:checked ~ span:nth-of-type(1) {
    display: flex;
}

    .data_upload label.visible input:checked ~ span:nth-of-type(2) {
        display: none;
    }

.data_upload .btn_lock span.lock {
    display: none;
    color: #CCC;
}

.data_upload .btn_lock.lock span.lock {
    display: flex;
}

.data_upload .btn_lock[data-status="locked"] span.lock {
    cursor: not-allowed;
}

.data_upload .btn_lock.lock span.unlock {
    display: none;
}

.data_upload .sortable-placeholder {
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    border: 2px dashed #ccc;
    margin: 5px 0;
    visibility: visible !important;
}

#UselessFileFrame .btn_upload_add, #UselessFileFrame .serNoTool {
    display: none;
}

#UselessFileFrame select.area_select {
    width: 9rem;
}

.was-validated #UselessFileFrame .form-select,
.was-validated #UselessFileFrame .form-select:valid,
.was-validated #UselessFileFrame .form-select:invalid,
.was-validated #UselessFileFrame .form-select.is-valid,
.was-validated #UselessFileFrame .form-select.is-invalid {
    border-color: #ced4da !important;
    box-shadow: none !important;
    background-image: var(--bs-form-select-bg-img) !important;
    padding-right: 2.25rem !important;
}

.data_upload .btn_remove {
    color: #B02A37;
    margin-left: 0.5rem;
}
