
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.Modal {
    width: 650px;
    max-width: 90vw;
}

.btn_close {
    color: var(--gray-icon);
}

.pro_content > .name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.pro_content > .describe {
    color: var(--black-text);
}

    .pro_content > .describe > li::before {
        content: '\ff0e';
    }


@media (min-width:768px){
    .modal-left > .tag {
        padding-left: calc((100% - 1.5rem - 183px) / 2);
    }
}

.BuyGroup{
    padding:0 calc(1.5rem * 0.5);
}

@media (max-width:767px) {
    .modal-left > ul.tag {
        padding-left: 0;
        padding-right: 0;
    }
}

    .modal-left > .tag > li {
        font-size: 0.7rem;
        background-color: var(--gray-bg-light);
        padding: 0.25rem 1rem;
        float: left;
        list-style: none;
        white-space: nowrap;
        margin-bottom:0.25rem;
        margin-right:0.5rem;
    }
        .modal-left > .tag > li > a {
            color: var(--gray-text);
        }

        .pro_content > .priceframe > .discount {
            color: var(--red-number);
        }

.hr_config > hr{
    margin: 0.5rem 0;
}

.buy_line > .counter{
    padding-left:2.5rem;
    position:relative;
}

.btn_learnMore {
    background-color: #eab05a;
}

#counterTitle {
    left: 0;
    border: 0;
    padding-left: 0;
}

.btn_radio {
    border: 1px solid var(--gray-text);
    cursor: pointer;
    white-space: nowrap;
}

input:checked + .btn_radio {
    font-weight: 700;
    border-color: var(--red-main);
    border-width: medium;
    cursor: default;
}

.options > .radio > .title {
    color: var(--black-text);
    font-size: 0.8rem;
}

.options > .radio > .control > .btn_radio {
    font-size: 0.8rem;
    cursor: pointer;
    border: 1px solid var(--gray-text);
}

.options > .radio > .control > input:checked + .btn_radio {
    font-weight: bold;
    border-color: var(--red-main);
    border-width: medium;
    cursor: default;
}

.options > .radio > .control > input:disabled + .btn_radio {
    border: var(--gray-text);
    background-color: var(--gray-text);
    color: var(--black-text);
    cursor: default;
}

.buy_line > .counter > * {
    border: 1px solid var(--gray-text);
    padding: 0.25rem 0.5rem;
}

.buy_line > .counter > input {
    max-width: 8rem;
}

.buy_line > .btn_addToCar {
/*    max-width: 20rem;*/
    background-color: var(--red-main);
}

    .buy_line > .btn_addToCar > div::before {
        font-family: 'Font Awesome 6 Free';
        font-weight: 400;
        content: "\f0fe  ";
    }
