@using DevExtreme.AspNet.Mvc

<link rel="stylesheet" href="~/css/Components/RolesDetailsModal.min.css" asp-append-version="true" />
<script src="~/js/Components/RolesDetailsModal.min.js" asp-append-version="true"></script>

<div id="RolesDetailsModal" class="modal fade" tabindex="-1" aria-labelledby="Tag Modal Label" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">設定<span class="typeName"></span>僅部分角色可以查看</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="bg-white p-3">
					<form id="RolesDetailsForm" name="RolesDetailsForm">
						<div class="container px-4" id="chooiceRoles">
                            <h3 class="pb-2 border-bottom">會員角色</h3><span class="text-muted">請選擇允許查看此頁的會員角色，未選擇表示公開</span>
							<div class="row g-4 py-5 row-cols-1 row-cols-lg-3 list">
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
				<button type="button" class="btn_save btn btn-primary">確認</button>
			</div>
		</div>
	</div>
</div>
<template id="chooice">
	<div class="item">
		<input type="checkbox" id="chooiceInput" class="selectedItem" name="visible">
		<label for="chooiceInput">
			<span class="material-symbols-outlined">done</span>
			<span class="material-symbols-outlined">close</span>
			<span class="name"></span>
		</label>
	</div>
</template>