@using EtheriT.Coker.Web.MVC.Views.Shared.Components.Modal;

<link rel="stylesheet" href="~/css/Components/ImageUploadModal.min.css" asp-append-version="true" />
<script src="~/js/Components/ImageUploadModal.min.js" asp-append-version="true"></script>
<template id="Template_Image_Preview">
    <div class="img_input d-flex flex-column align-items-center me-0 mb-4 mb-md-0">
        <input class="input_pic d-none" type="file" accept="image/*" />
        <div class="position-relative">
            <button class="btn_input_pic d-flex align-items-center justify-content-center bg-transparent rounded-circle">
                <span class="material-symbols-outlined">add_photo_alternate</span>
                <img class="img_preview d-none" src="" />
            </button>
            <button class="btn_img_delete rounded-circle bg-transparent border-0 position-absolute d-none">
                <span class="material-symbols-outlined bg-white rounded-circle">cancel</span>
            </button>
        </div>
        <div class="file_name px-2 fw-bold text-center text-white">加入照片</div>
    </div>
</template>
@await Component.InvokeAsync(nameof(Modal), new {dispaly = "ImageUploadTemplateModal"})