@using DevExtreme.AspNet.Mvc
@using EtheriT.Coker.Application.Shared.Dto.Tag

<link rel="stylesheet" href="~/css/Components/PermissionDetailsModal.min.css" asp-append-version="true" />
<script src="~/js/Components/PermissionDetailsModal.min.js" asp-append-version="true"></script>

<div id="PermissionDetailsModal" class="modal fade" tabindex="-1" aria-labelledby="Tag Modal Label" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">設定<span class="typeName"></span>權限</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="bg-white p-3">
					<form id="PermissionDetailsForm" name="PermissionDetailsForm">
						<div class="container px-4" id="chooiceRoles">
							<h3 class="pb-2 border-bottom">角色</h3>
							<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
								<div class="col d-flex flex-wrap list"></div>
							</div>
						</div>
						<div class="container px-4 pt-5 d-none" id="chooiceUsers">
							<h3 class="pb-2 border-bottom">使用者</h3>
							<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
								<div class="col d-flex flex-wrap list"></div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
				<button type="button" class="btn_save btn btn-primary">確認</button>
			</div>
		</div>
	</div>
</div>
<template id="chooice">
	<div class="item">
		<input type="checkbox" id="chooiceInput" class="selectedItem" name="visible">
		<label for="chooiceInput">
			<span class="material-symbols-outlined">done</span>
			<span class="material-symbols-outlined">done_outline</span>
			<span class="name"></span>
		</label>
	</div>
</template>