@using EtheriT.Coker.Web.MVC.Views.Shared.Components.Modal

<link rel="stylesheet" href="~/css/Components/TagListModal.min.css" asp-append-version="true" />
<script src="~/js/Components/TagListModal.min.js" asp-append-version="true"></script>

@await Component.InvokeAsync(nameof(Modal), new { dispaly = "TagSelectModal" })

<div class="tag input-group mb-3">
    <div class="position-absolute ps-2 top-50 d-flex translate-middle-y z-index-up">
        <span class="material-symbols-outlined me-1">alternate_email</span>標籤
    </div>
    <input id="InputTag" class="form-control rounded text-start InputTag formItem" name="TagSelected" type="button" aria-label="Input Tag" data-bs-toggle="modal" data-bs-target="#TagModal">
</div>