@using DevExtreme.AspNet.Mvc
@using EtheriT.Coker.Application.Shared.Dto.TechnicalCertificate

<link rel="stylesheet" href="~/css/Components/TechCertListModal.min.css" asp-append-version="true" />
<script src="~/js/Components/TechCertListModal.min.js" asp-append-version="true"></script>

<div id="TechCertModal" class="modal fade" tabindex="-1" aria-labelledby="TechCert Modal Label" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">選擇標籤</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="bg-white p-3">
					@(Html.DevExtreme().DataGrid<TechCertGetAllListDto>()
							.DataSource(d => d.RemoteController().Key("Id")
							.LoadUrl("/api/TechnicalCertificate/GetAllList").LoadMethod("Get")
							)
							.ID("TechCertList")
							.Selection(s => s.Mode(SelectionMode.Multiple))
							.RemoteOperations(true)
							.ColumnHidingEnabled(false)
							.ShowBorders(true)
							.FilterRow(filterRow => filterRow
							.Visible(true)
							.ApplyFilter(GridApplyFilterMode.Auto)
							)
							.SearchPanel(searchPanel => searchPanel
							.Visible(true)
							.Placeholder("請輸入要搜尋的資料")
							)
							.Columns(c =>
							{
								c.AddFor(e => e.Id).Caption("編號").Visible(false);
								c.AddFor(e => e.Title).Caption("技術證照").Width(150);
								c.AddFor(e => e.Img).Caption("圖片")
							.AllowFiltering(false)
							.AllowSorting(false)
							.CellTemplate(@<text>
								<div class="list_img">
									<img style="max-height: 50px" src="<%- value %>" alt="" />
								</div>
							</text>);
							})
						.OnSelectionChanged("TechCertList_SelectChange")
						.Toolbar(toolbar =>
						{
							toolbar.Items(items =>
							{
								items.Add()
							.Location(ToolbarItemLocation.Before)
							.Widget(w =>
							w.Button()
							.Text("選項清除")
							.Disabled(true)
							.OnClick("TechCertList_ClearBtnClick")
							.OnInitialized("TechCertList_ClearBtnInit")
							);
							});

							toolbar.Items(i =>
							{
								i.Add()
							.Name(DataGridToolbarItem.SearchPanel)
							.ShowText(ToolbarItemShowTextMode.Always)
							.Location(ToolbarItemLocation.After);
							});
						})
						.Paging(paging => paging.PageSize(10))
						)
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
				<button type="button" class="btn_techcert_save btn btn-primary">確認</button>
			</div>
		</div>
	</div>
</div>

<div class="techcert input-group mb-3">
	<div class="position-absolute ps-2 top-50 d-flex translate-middle-y z-index-up">
		<span class="material-symbols-outlined me-1">bookmark</span>技術證照
	</div>
	<input id="InputTechCert" class="form-control rounded text-start" type="button" aria-label="Input TechCert" data-bs-toggle="modal" data-bs-target="#TechCertModal">
</div>