@{
	ViewData["Title"] = "MemberData";
}

<link rel="stylesheet" href="~/css/MemberManagement/MemberData.min.css" asp-append-version="true" />
<script src="~/js/MemberManagement/MemberData.min.js" asp-append-version="true"></script>

<div class="">
	<div id="TopLine" class="d-flex justify-content-between mb-3 px-4">
		<div class="title fw-bold fs-3">會員管理</div>
	</div>

	<a href="/MemberManagement?id=001">前往查看詳細資料頁--></a>
</div>