@{
    ViewData["Title"] = "ComponerManager";
    ViewData["PageName"] = "元件管理";
}
@{
    await Html.RenderPartialAsync(@"GrapesComponents\_ScriptComponents");
}

<!--導入menuEditor-->
<script type="text/javascript" src="/lib/jquery-menu-editor/jquery-menu-editor.min.js" asp-append-version="true"></script>
<script type="text/javascript" src="/lib/bootstrap/iconpicker/js/iconset/fontawesome6-2-1.min.js" asp-append-version="true"></script>
<script type="text/javascript" src="/lib/bootstrap/iconpicker/js/iconset/google_Material_Symbols_Outlined.min.js" asp-append-version="true"></script>
<script type="text/javascript" src="/lib/bootstrap/iconpicker/js/bootstrap-iconpicker.min.js" asp-append-version="true"></script>
<!--導入頁面配置-->
<link rel="stylesheet" href="~/css/Page/index.min.css" asp-append-version="true" />
<script src="~/js/Page/ComponerEdit.min.js" asp-append-version="true"></script>

<div id="TopLine" class="py-2 px-4">
    <div class="d-flex">
        <div class="title fw-bold fs-4">@ViewData["PageName"]<span id="ComponerName"></span></div>
        <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasSite" role="button" aria-controls="offcanvasSite">
            元件目錄
        </a>
    </div>
</div>
<div id="gjs" class="d-none"></div>
<div class="emptyList"></div>
<div class="offcanvas offcanvas-start menu-bg" tabindex="-1" id="offcanvasSite" aria-labelledby="offcanvasSiteLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasSiteleLabel">元件目錄</h5>
        <a id="moveEnable"></a>
        <button type="button" class="btn-close"></button>
    </div>
    <div class="offcanvas-body">
        <div id="EditBlock" class="row">
            <ul id="myEditor" class="sortableLists list-group item-menu d-none"></ul>
            <div class="emptyList"></div>
            <div id="MenuEditorForm" class="card item-menu menu-bg">
                <div class="card-header text-white d-flex justify-content-between">
                    <span class="title">選單資料</span>
                </div>
                <div class="card-body">
                    <form id="frmEdit" class="form-horizontal needs-validation" novalidate>
                        <input type="hidden" class="item-menu" name="id" />
                        <input type="hidden" id="serNO" name="serNO" value="500" class="item-menu">
                        <div class="row">
                            <div class="col form-group form-check">
                                <label for="classType">分類</label>
                                <select name="fK_TopNodeId" id="classType" class="form-select item-menu"></select>
                            </div>
                            <div class="col form-group form-check pr-1 ml-3">
                                <label for="Visible">是否顯示</label>
                                <select name="visible" id="Visible" class="form-select item-menu">
                                    <option value="true">是</option>
                                    <option value="false" selected>否</option>
                                </select>
                            </div>
                            <div class="col form-group form-check ml-3">
                                <label for="ser_no">排序</label>
                                <input type="text" name="ser_no" id="ser_no" class="form-control item-menu" placeholder="請輸入排序" required />
                                <div class="invalid-feedback">排序為必填</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group form-check">
                                <label for="Title">標題</label>
                                <div class="input-group">
                                    <input type="text" class="form-control item-menu" id="title" name="title" placeholder="請輸入標題" required>
                                    <div class="input-group-append">
                                        <button type="button" id="myEditor_icon" class="btn btn-outline-secondary"></button>
                                    </div>
                                    <div class="invalid-feedback">標題為必填</div>
                                </div>
                                <input type="hidden" name="icon" class="item-menu">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="button" id="btnUpdate" class="btn" disabled><i class="fas fa-sync-alt"></i>更新</button>
                    <button type="button" id="btnAdd" class="btn btn-success"><i class="fas fa-plus"></i>新增</button>
                    <button type="button" id="btnRefresh" class="btn btn-info">
                        <i class="fa-sharp fa-solid fa-rotate-right"></i>清空
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>