@{
    ViewData["Title"] = "ComponerManager";
    ViewData["PageName"] = "元件管理";
}
<!--導入grapesjs-->
<link rel="stylesheet" href="/lib/grapesjs/css/grapes.min.css">
<script src="/lib/grapesjs/grapes.min.js"></script>
<script src="/lib/grapesjs/plugin/grapesjs-preset-webpage/index.js"></script>
<script src="/lib/grapesjs/plugin/grapesjs-blocks-basic/index.js"></script>
<script src="/lib/grapesjs/plugin/grapesjs-style-bg/grapesjs-style-bg.min.js"></script>
<script src="/lib/grapesjs/plugin/grapesjs-tabs/grapesjs-tabs.min.js"></script>
<script src="/lib/grapesjs/plugin/grapesjs-blocks-table/grapesjs-blocks-table.min.js"></script>
<script src="/lib/grapesjs/plugin/grapesjs-custom-code/index.js"></script>
<script src="/lib/grapesjs/plugin/grapesjs-tui-image-editor/index.js"></script>
<script src="/lib/grapesjs/plugin/grapesjs-parser-postcss/index.js"></script>
<script src="~/js/Grapes/locale/tw.js" asp-append-version="true"></script>
<script src="~/js/Grapes/grapesjs-Coker6.min.js" charset="utf-8" asp-append-version="true"></script>
<script src="~/js/Grapes/Index.min.js" asp-append-version="true"></script>
<!--導入menuEditor-->
<script type="text/javascript" src="/lib/jquery-menu-editor/jquery-menu-editor.min.js" asp-append-version="true"></script>
<script type="text/javascript" src="/lib/bootstrap/iconpicker/js/iconset/fontawesome6-2-1.min.js" asp-append-version="true"></script>
<script type="text/javascript" src="/lib/bootstrap/iconpicker/js/iconset/google_Material_Symbols_Outlined.min.js" asp-append-version="true"></script>
<script type="text/javascript" src="/lib/bootstrap/iconpicker/js/bootstrap-iconpicker.min.js" asp-append-version="true"></script>
<!--導入頁面配置-->
<link rel="stylesheet" href="~/css/Page/index.min.css" asp-append-version="true" />
<script src="~/js/Page/ComponerEdit.min.js" asp-append-version="true"></script>

<div class="py-2 px-4 position-relative">
    <div id="TopLine" class="d-flex justify-content-between mb-4">
        <div class="title fw-bold fs-4">@ViewData["PageName"]<span id="ComponerName"></span></div>
        <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasSite" role="button" aria-controls="offcanvasSite">
            元件目錄
        </a>
    </div>
</div>
<div id="gjs" class="d-none"></div>
<div class="emptyList"></div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSite" aria-labelledby="offcanvasSiteLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasSiteleLabel">元件目錄</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div id="EditBlock" class="row">
            <ul id="myEditor" class="sortableLists list-group item-menu d-none"></ul>
            <div class="emptyList"></div>
            <div id="MenuEditorForm" class="card border-primary mb-3 item-menu">
                <div class="card-header bg-primary text-white">選單資料</div>
                <div class="card-body">
                    <form id="frmEdit" class="form-horizontal needs-validation" novalidate>
                        <input type="hidden" class="item-menu" name="id" />
                        <input type="hidden" id="serNO" name="serNO" value="500" class="item-menu">
                        <div class="form-group form-check">
                            <label for="Title">標題</label>
                            <div class="input-group">
                                <input type="text" class="form-control item-menu" id="title" name="title" placeholder="請輸入標題" required>
                                <div class="input-group-append">
                                    <button type="button" id="myEditor_icon" class="btn btn-outline-secondary"></button>
                                </div>
                                <div class="invalid-feedback">標題為必填</div>
                            </div>
                            <input type="hidden" name="icon" class="item-menu">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="button" id="btnUpdate" class="btn btn-primary" disabled><i class="fas fa-sync-alt"></i>更新</button>
                    <button type="button" id="btnAdd" class="btn btn-success"><i class="fas fa-plus"></i>新增</button>
                    <button type="button" id="btnRefresh" class="btn btn-info">
                        <i class="fa-sharp fa-solid fa-rotate-right"></i>清空
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>