@using EtheriT.Coker.Web.Public.Views.Shared.Components.Footer
@model FooterViewModel

<link rel="stylesheet" href="~/css/Footer/Default_Footer.min.css" asp-append-version="true" />
<script src="~/js/Footer/Default_Footer.min.js" asp-append-version="true"></script>

<div>Default_Footer</div>