@using EtheriT.Coker.Web.Public.Views.Shared.Components.Footer
@model FooterViewModel
<link rel="stylesheet" href="~/css/Footer/Footer_Layout_1.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Footer/Footer_Layout_5.min.css" asp-append-version="true" />
<script src="~/js/Footer/Footer_Layout_1.min.js" asp-append-version="true"></script>

<div id="Collapse_Button" class="center" onclick="toggleFooterMenu()">
	<i class="fa-solid fa-chevron-down text-black" ></i>
</div>
@if (Model.footerViewModels != null && Model.footerViewModels.Count > 0)
{
	<div class="container d-flex justify-content-center align-items-center footer_pack_up">
		<div id="Footer_Menu" class="abreast row row-cols-2 row-cols-sm-4 w-100">
			@foreach (var menu in Model.footerViewModels)
			{
				<div class="paging_frame col">
					<p style="font-weight:bold;font-size:1.1rem;">@menu.Title</p>
					<div class="abreast">
						<ul>
							@foreach (var sub_menu in menu.footerViewModels ?? new List<FooterViewModel>())
							{
								<li><a href="@sub_menu.Link" class="text-white">@sub_menu.Title</a></li>
							}
						</ul>
					</div>
				</div>
			}
		</div>
	</div>
}
<div class="w-100 d-flex justify-content-center align-items-center flex-column footer-bg" style="background: url('/upload/htmlConten/footer_img.png')">
	<img src="\upload\htmlConten\footer_boat.png" class="footer-img" />
	<h5 class="my-1">www.濠廣.tw</h5>
	<div id="" class="abreast my-1 d-flex justify-content-center align-items-center">
		@for (int i = 0; i < Model.Content.Count; i++)
		{
			<p>@Model.Content[i]</p>
		}
	</div>
</div>

<div id="Cookie" class="cookie position-fixed text-white w-100 bottom-0 justify-content-center align-items-center">
	<p class="cookie_text my-3 pe-3">本網站使用cookies。使用我們的網站並同意隱私權政策，即表示您同意我們根據本政策內的條款使用cookie。如果您不同意，請按照說明停用，本網站的cookie即不會安裝於您的裝置上。了解更多請見&ensp;<span style="cursor:pointer">隱私權政策</span>。</p>
	<div id="Cookie_button">
		<div class="btn_cookie_accept m-2 p-1 px-4 rounded-2 text-center">接受</div>
		<div class="btn_cookie_reject m-2 p-1 px-4 rounded-2 text-center">拒絕</div>
	</div>
</div>
