@using EtheriT.Coker.Web.Public.Views.Shared.Components.Footer
@model FooterViewModel

<link rel="stylesheet" href="~/css/Footer/Footer_Layout_2.min.css" asp-append-version="true" />
<script src="~/js/Footer/Footer_Layout_2.min.js" asp-append-version="true"></script>

<div id="Footer_Menu" class="">
</div>

<div id="Footer_Bottom" class="">
</div>