@model EtheriT.Coker.Application.Shared.Dto.MailTemplate.ForgetTemplateResultDto;
<style>
    .text-size1 {
        font-size: 1rem;
    }

    .d-flex {
        display: flex;
    }

    .text-bold {
        font-weight: bold;
    }

    .text-red {
        color: red;
    }

    .text-gray {
        color: gray;
    }
</style>
@{
    var url = $"{Model.WebsiteLink}?useraction=passwordforget&forgetid={Model.ForgetID}";
}
<div class='text-size1'>
    <h2 class='text-red'>Hello, valued member!</h2>
    <hr />
    <div>Please make sure to review the important information below:</div>
    <br />
    <div class='d-flex text-bold'><div>Your account:</div><u>@Model.Email</u></div>
    <br />
    <div class='text-bold'>Password Reset Link</div>
    <a href='@url' title='Reset Password'>@url</a>
    <div class='text-gray'>Please use the above link to reset your password.</div>
    <div class='text-gray'>This link can only be used once and will expire on @Model.ForgeIDSendDate.ToString("yyyy/MM/dd HH:mm"). Kindly reset before it expires.</div>
    <br />
    <hr />
    <hr />
    <div class='text-bold text-red'>Reminder: This “Password Reset Notification” is automatically sent by the system. Please do not reply to this email.</div>
    <div class='text-bold text-red'>No customer service agent will ever ask you to change your account information or request any ATM/Bank transfer transactions.</div>
    <div class='text-bold text-red'>If you encounter such situations, please contact your local anti-fraud hotline immediately.</div>
    <hr />
    <hr />
    <br />
</div>
