@model EtheriT.Coker.Application.Shared.Dto.MailTemplate.ForgetTemplateResultDto;
<style>
    .text-size1 {
        font-size: 1rem;
    }

    .d-flex {
        display: flex;
    }

    .text-bold {
        font-weight: bold;
    }

    .text-red {
        color: red;
    }

    .text-gray {
        color: gray;
    }
</style>
@{
    var url = $"{Model.WebsiteLink}?useraction=passwordforget&forgetid={Model.ForgetID}";
}
<div class='text-size1'>
    <h2 class='text-red'>親愛的會員，您好！</h2>
    <hr />
    <div>請熟記以下重要訊息</div>
    <br />
    <div class='d-flex text-bold'><div>您的帳號：</div><u>@Model.Email</u></div>
    <br />
    <div text-bold>密碼重設網址</div>
    <a href='@url' title='前往開通帳號'>@url</a>
    <div class='text-gray'>請由該網址進入重新設定您的密碼</div>
    <div class='text-gray'>這個連結僅能使用一次，並於 @Model.ForgeIDSendDate.ToString("yyyy/MM/dd HH:mm") 到期，請在期限內重設，謝謝。</div>
    <br />
    <hr />
    <hr />
    <div class='text-bold text-red'>提醒您：此封『密碼重設通知』為系統發出，請勿直接回覆。</div>
    <div class='text-bold text-red'>客服人員均不會要求消費者更改帳號或要求以ATM重新轉帳匯款。</div>
    <div class='text-bold text-red'>若有上述情形，請立即撥打165防詐騙專線查詢。</div>
    <hr />
    <hr />
    <br />
</div>