.icons-flex {
    background-size: 70% 65% !important;
    height: 15px;
    width: 17px;
    opacity: 0.9;
}

.pl-0, .px-0 {
    padding-left: 0 !important;
}
.pr-0, .px-0 {
    padding-right: 0 !important;
}
.font-weight-bold {
    font-weight: 700 !important;
}

.list-group-item {
    > div {
        display: flex;
        justify-content: space-between;
    }
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0
}

.list-group-item-action {
    width: 100%;
    color: #495057;
    text-align: inherit
}

.list-group-item-action:focus, .list-group-item-action:hover {
    color: #495057;
    text-decoration: none;
    background-color: #f8f9fa
}

.list-group-item-action:active {
    color: #4e565a;
    background-color: #e9ecef
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125)
}

.list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.list-group-item:focus, .list-group-item:hover {
    z-index: 1;
    text-decoration: none
}

.list-group-item.disabled, .list-group-item:disabled {
    color: #6c757d;
    background-color: #fff
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #4b89fc;
    border-color: #4b89fc
}

.list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0
}

.list-group-flush:first-child .list-group-item:first-child {
    border-top: 0
}

.list-group-flush:last-child .list-group-item:last-child {
    border-bottom: 0
}

.list-group-item-primary {
    color: #274783;
    background-color: #cddefe
}

.list-group-item-primary.list-group-item-action:focus, .list-group-item-primary.list-group-item-action:hover {
    color: #274783;
    background-color: #b4cefe
}

.list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #274783;
    border-color: #274783
}

.list-group-item-secondary {
    color: #383d41;
    background-color: #d6d8db
}

.list-group-item-secondary.list-group-item-action:focus, .list-group-item-secondary.list-group-item-action:hover {
    color: #383d41;
    background-color: #c8cbcf
}

.list-group-item-secondary.list-group-item-action.active {
    color: #fff;
    background-color: #383d41;
    border-color: #383d41
}

.list-group-item-success {
    color: #376139;
    background-color: #d5ecd6
}

.list-group-item-success.list-group-item-action:focus, .list-group-item-success.list-group-item-action:hover {
    color: #376139;
    background-color: #c3e4c5
}

.list-group-item-success.list-group-item-action.active {
    color: #fff;
    background-color: #376139;
    border-color: #376139
}

.list-group-item-info {
    color: #25545b;
    background-color: #cce5e9
}

.list-group-item-info.list-group-item-action:focus, .list-group-item-info.list-group-item-action:hover {
    color: #25545b;
    background-color: #badce1
}

.list-group-item-info.list-group-item-action.active {
    color: #fff;
    background-color: #25545b;
    border-color: #25545b
}

.list-group-item-warning {
    color: #835d2d;
    background-color: #feead0
}

.list-group-item-warning.list-group-item-action:focus, .list-group-item-warning.list-group-item-action:hover {
    color: #835d2d;
    background-color: #fddfb7
}

.list-group-item-warning.list-group-item-action.active {
    color: #fff;
    background-color: #835d2d;
    border-color: #835d2d
}

.list-group-item-danger {
    color: #7a2e2f;
    background-color: #f9d0d1
}

.list-group-item-danger.list-group-item-action:focus, .list-group-item-danger.list-group-item-action:hover {
    color: #7a2e2f;
    background-color: #f6b9bb
}

.list-group-item-danger.list-group-item-action.active {
    color: #fff;
    background-color: #7a2e2f;
    border-color: #7a2e2f
}

.list-group-item-light {
    color: #818182;
    background-color: #fdfdfe
}

.list-group-item-light.list-group-item-action:focus, .list-group-item-light.list-group-item-action:hover {
    color: #818182;
    background-color: #ececf6
}

.list-group-item-light.list-group-item-action.active {
    color: #fff;
    background-color: #818182;
    border-color: #818182
}

.list-group-item-dark {
    color: #1b1e21;
    background-color: #c6c8ca
}

.list-group-item-dark.list-group-item-action:focus, .list-group-item-dark.list-group-item-action:hover {
    color: #1b1e21;
    background-color: #b9bbbe
}

.list-group-item-dark.list-group-item-action.active {
    color: #fff;
    background-color: #1b1e21;
    border-color: #1b1e21
}


#IconImageUpload {
    border: solid 1px #ccc;
}

#IconImageUpload .img_input {
    margin-right: unset !important;
}

#IconImageUpload .btn_input_pic {
    border: none;
    height: unset !important;
}

#IconImageUpload .has_image {
    height: 1.5lh !important;
    width: 3.5rem !important;
}

#IconImageUpload .img_preview {
    max-height: 1.5lh;
    max-width: 3.5rem;
}

#IconImageUpload .file_name {
    display: none;
}

[data-tooltip]::after {
    background: rgba(51, 51, 51, 0.9);
}

.gjs-pn-commands {
    min-height: 40px;
}

#gjs-sm-float {
    display: none;
}

.gjs-logo-version {
    background-color: #756467;
}

.gjs-pn-btn.gjs-pn-active {
    box-shadow: none;
}

.CodeMirror {
    min-height: 450px;
    margin-bottom: 8px;
}

.grp-handler-close {
    background-color: transparent;
    color: #ddd;
}

.grp-handler-cp-wrap {
    border-color: transparent;
}

#frmEdit {
    .form-check {
        padding-left: 0;
        padding-right: 0;
    }
}

#offcanvasSite {
    &.menu-bg {
        width: 600px;
    }

    &.offcanvas-lg .offcanvas-header {
        display: flex;
    }

    &.offcanvas-lg.menu-bg {
        width: 80%;
        background-color: #2f4f4f !important;

        #EditBlock {
            width: 100%;

            > .item-menu {
                width: 49%;

                &#myEditor {
                    max-height: calc(100vh - 7.4rem);
                    overflow-y: auto;
                    position: relative;

                    &#myEditor::-webkit-scrollbar-track {
                        background-color: #F5F5F5;
                        width: 2px;
                        position: absolute;
                    }
                }

                .card-body {
                    max-height: calc(100vh - 15.1rem);
                    overflow-y: auto;
                }
            }
        }
    }

    #btnExtend {
        margin-bottom: 1rem;
    }
}

.form-floating {
    label {
    }
}

.modal-backdrop {
    z-index: 1045;
}

.modal-open {
    .offcanvas-backdrop {
        opacity: 0;
    }

    .wrapper {
        transition: unset !important;
        filter: unset !important;
    }
}

.has_image {
    height: 150px !important;
    width: 150px !important;
}

.img_preview {
    max-height: 150px;
    max-width: 150px;
}

.input-group {
    .btn {
        border-color: #ccc;
    }
}

.menu-bg {
    background-color: #2f4f4f;

    input, select, textarea, button {
        color: #2f4f4f;
        border-color: none;
        background-color: #faebd7;

        &::placeholder {
            color: #4E565A;
        }
    }

    .popover {
        .btn-secondary {
            color: #fff;
            background-color: #6c757d;
            border-color: #6c757d;

            &.btn-warning {
                color: #000;
                background-color: #ffca2c;
                border-color: #ffc720;
            }
        }
    }

    button:hover {
        color: #fff;
    }

    #btnExtend:hover {
        color: #000;
    }
}

.offcanvas-header {
    .offcanvas-title {
        font-size: 2rem;
        font-weight: bold;
        color: #fff;
    }
}

#MenuEditorForm {
    padding: 0px;
    margin-left: 1%;
}

div.card-header {
    font-size: 1.25rem;
    background: #daa520;
    font-weight: 600;
}

.card-header:first-child {
    border-radius: 0px;
}

.form-check {
    label {
        color: #fff;
        font-weight: 600;
    }
}

.sortableLists {
    padding-right: 0;

    li {
        background-color: #faebd7;
        border-bottom: 2px solid #2f4f4f;

        .btn-group {
            padding-right: 1rem;
        }
    }
}

.card-footer {
    border-top: 1px solid #fff;

    button {
        background: #daa520;
        color: #FFF;
        width: 30%;
    }

    button:hover {
        background: #c8971c;
        color: #FFF;
        border: 3px solid #fff;
    }
}

#myEditor, #MenuEditorForm {
    border: 2px solid #daa520;
}

.border1 {
    border: 5px solid #faebd7;
    border-radius: 5px;
}
