@{
	ViewData["Title"] = "ContactUs";
}

<link rel="stylesheet" href="~/css/ContentManagement/ContactUs.min.css" asp-append-version="true" />
@*<script src="~/js/ContentManagement/ContactUs.min.js" asp-append-version="true"></script>*@

<div class="">
	<div id="TopLine" class="d-flex justify-content-between mb-3 px-4">
		<div class="title fw-bold fs-3">聯絡我們</div>
	</div>

	<a href="/ContentManagement/ContactUs?id=001">前往查看及回覆頁--></a>
</div>