@using DevExtreme.AspNet.Mvc
@using EtheriT.Coker.Application.Shared.Dto.EnterAd
@{
	ViewData["Title"] = "NewArticle";
}

<link rel="stylesheet" href="~/css/ContentManagement/NewArticle.min.css" asp-append-version="true" />
<script src="~/js/ContentManagement/NewArticle.min.js" asp-append-version="true"></script>

<div class="">
	<div id="TopLine" class="d-flex justify-content-between mb-3 px-4">
		<div class="title fw-bold fs-3">新增文章</div>
	</div>
</div>