@using DevExtreme.AspNet.Mvc
@using EtheriT.Coker.Application.Shared.Dto.EnterAd
@{
	ViewData["Title"] = "NewArticle";
}

<link rel="stylesheet" href="~/css/ContentManagement/NewArticle.min.css" asp-append-version="true" />
<script src="~/js/ContentManagement/NewArticle.min.js" asp-append-version="true"></script>

<div class="">
	<div id="TopLine" class="d-flex justify-content-between mb-3 px-4">
		<div class="title fw-bold fs-3">新增文章</div>
	</div>
</div>

<div>
	<div class="frame" data-action="TypeChange">
		<div class="d-flex justify-content-end">
			<button class="btn_grid d-flex bg-transparent border-0 align-items-center mx-1" data-activate="1">
				<span class="material-symbols-outlined fs-5 me-1">grid_on</span>圖片
			</button>
			<button class="btn_list d-flex bg-transparent border-0 align-items-center mx-1 text-black-50" data-activate="0">
				<span class="material-symbols-outlined fs-5 me-1">view_list</span>圖文
			</button>
		</div>
		<div class="row row-cols-2 row-cols-sm-4">
			<div class="col py-3">
				<figure class="d-flex flex-column align-items-center">
					<img src="/images/user.png" class="img-fluid" />
					<figcaption>
						<h5 class="title m-0 text-center">Insert your title here</h5>
						<p class="text m-0 d-none" draggable="true">Insert your text here</p>
					</figcaption>
				</figure>
			</div>
			<div class="col py-3">
				<figure class="d-flex flex-column align-items-center">
					<img src="/images/user.png" class="img-fluid" />
					<figcaption>
						<h5 class="title m-0 text-center">Insert your title here</h5>
						<p class="text m-0 d-none" draggable="true">Insert your text here</p>
					</figcaption>
				</figure>
			</div>
			<div class="col py-3">
				<figure class="d-flex flex-column align-items-center">
					<img src="/images/user.png" class="img-fluid" />
					<figcaption>
						<h5 class="title m-0 text-center">Insert your title here</h5>
						<p class="text m-0 d-none" draggable="true">Insert your text here</p>
					</figcaption>
				</figure>
			</div>
			<div class="col py-3">
				<figure class="d-flex flex-column align-items-center">
					<img src="/images/user.png" class="img-fluid" />
					<figcaption>
						<h5 class="title m-0 text-center">Insert your title here</h5>
						<p class="text m-0 d-none" draggable="true">Insert your text here</p>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
</div>