@using EtheriT.Coker.Web.MVC.Views.Shared.Components.Modal;
@model EtheriT.Coker.Application.Shared.Dto.Webs.WebsiteEditOutputDto;
@{
    ViewData["Title"] = "SettingCSS";
}
@Html.AntiForgeryToken()
<script type="text/javascript" src="/lib/bootstrap/iconpicker/js/iconset/google_Material_Symbols_Outlined.min.js" asp-append-version="true"></script>
<script type="text/javascript" src="/lib/bootstrap/iconpicker/js/bootstrap-iconpicker.min.js" asp-append-version="true"></script>


<script src="~/js/ContentManagement/SettingCss.min.js" asp-append-version="true"></script>

<div id="TopLine" class="d-flex justify-content-between mb-3 px-4">
    <div class="title fw-bold fs-3">自訂CSS</div>
    <button class="btn btn_save btn-primary text-decoration-none align-self-center" type="submit" form="SettingCss">儲存</button>
</div>

<div id="WebDataMain">
    <div class="d-flex">
        <!-- Website Info -->
        <div class="calign-items-stretch d-flex pb-2 ps-2  w-100">
            <div class="card border-0 w-100">
                <div class="card-body">
                    <form id="SettingCss" name="SettingCss" class="needs-validation" novalidate>
                        <div class="form-floating mb-3">
                            <textarea id="InputWebsiteCss" name="Css" class="form-control col vh-100" type="text" placeholder="自訂CSS"></textarea>
                            <label class="required" for="InputWebsiteCss">版型CSS編輯器</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>