@using DevExtreme.AspNet.Mvc
@using EtheriT.Coker.Application.Shared.Dto.Product
@using EtheriT.Coker.Application.Shared.Dto.Tag
@{
    ViewData["Title"] = "ProductTag";
}

<link rel="stylesheet" href="~/css/ContentManagement/Tag.min.css" asp-append-version="true" />
<script src="~/js/ContentManagement/Tag.min.js" asp-append-version="true"></script>

<div class="">
    <div id="TopLine" class="d-flex justify-content-between mb-3 px-4">
        <div class="title fw-bold fs-3">標籤設定</div>
    </div>
    @{
        await Html.RenderPartialAsync(@"DevExpress\_GridCSRF");
    }
    <div id="" class="py-2">
        <div id="TagSettingList" class="card border-0">
            <div class="card-body row">
                <div class="tag_list position-relative col-12 col-lg-4">
                    <div class="bg-black bg-opacity-10 py-2 rounded-3 mb-4 fs-5 text-center">標籤</div>
                    <div>
                        @(Html.DevExtreme().DataGrid<TagGetAllListDto>()
                            .DataSource(d => d.RemoteController().Key("Id")
                            .LoadUrl("/api/Tag/GetAllList").LoadMethod("Get")
                            .InsertUrl("/api/Tag/TagAddUp").InsertMethod("Post")
                            .UpdateUrl("/api/Tag/TagAddUp").UpdateMethod("Post")
                            .OnBeforeSend("onBeforeSend")
                        )
                        .ID("TagList")
                        .RemoteOperations(true)
                        .ShowBorders(true)
                        .FilterRow(filterRow => filterRow
                        .Visible(true)
                        .ApplyFilter(GridApplyFilterMode.Auto)
                        )
                        .HeaderFilter(headerFilter => headerFilter.Visible(true))
                        .SearchPanel(searchPanel => searchPanel
                        .Visible(true)
                        .Width(280)
                        .Placeholder("請輸入要搜尋的資料")
                        )
                        .ShowRowLines(true)
                        .Paging(paging => paging.PageSize(30))
                        .Pager(pager =>
                        {
                            pager.Visible(true);
                            pager.ShowPageSizeSelector(true);
                            pager.AllowedPageSizes(new[] { 10, 20, 30 });
                            pager.ShowInfo(true);
                        })
                        .Editing(editing =>
                        {
                            editing.Mode(GridEditMode.Row);
                            editing.AllowAdding(true);
                            editing.AllowDeleting(true);
                            editing.AllowUpdating(true);
                            editing.NewRowPosition(GridNewRowPosition.ViewportTop);
                            editing.UseIcons(true);
                        })
                        .Columns(c =>
                        {
                            c.AddFor(e => e.Title).Caption("標籤名稱");
                            c.Add()
                            .Type(GridCommandColumnType.Buttons)
                            .Buttons(b =>
                            {
                                b.Add().Icon("edit").OnClick("editButtonClicked").Visible(new JS("editButtonVisible"));
                                b.Add().Name("save");
                                b.Add().Name("cancel");
                                b.Add().Name("delete").OnClick("tagDeleteButtonClicked");
                            });
                        })
                        .Toolbar(toolbar =>
                        {
                            toolbar.Items(i =>
                            {
                                i.Add()
                            .Name(DataGridToolbarItem.AddRowButton)
                            .ShowText(ToolbarItemShowTextMode.Always)
                            .Location(ToolbarItemLocation.Before);
                            });

                            toolbar.Items(i =>
                            {
                                i.Add()
                            .Name(DataGridToolbarItem.SearchPanel)
                            .ShowText(ToolbarItemShowTextMode.Always)
                            .Location(ToolbarItemLocation.After);
                            });
                        })
                        .OnContentReady("contentReady")
                        .OnRowInserting("dataSaving")
                        .OnRowUpdating("dataSaving"))
                    </div>
                </div>
                <div class="group_list position-relative col-12 col-lg-8">
                    <div class="bg-black bg-opacity-10 py-2 rounded-3 mb-4 fs-5 text-center">標籤群組</div>
                    <div>
                        @(Html.DevExtreme().DataGrid<TagGroupGetAllListDto>()
                            .DataSource(d => d.RemoteController().Key("Id")
                            .LoadUrl("/api/Tag/GetAllGroupList").LoadMethod("Get")
                            .InsertUrl("/api/Tag/TagGroupAddUp").InsertMethod("Post")
                            .UpdateUrl("/api/Tag/TagGroupAddUp").UpdateMethod("Post")
                            .OnBeforeSend("onBeforeSend")
                            )
                            .ID("GroupList")
                            .RemoteOperations(true)
                            .ShowBorders(true)
                            .FilterRow(filterRow => filterRow
                            .Visible(true)
                            .ApplyFilter(GridApplyFilterMode.Auto)
                            )
                            .HeaderFilter(headerFilter => headerFilter.Visible(true))
                            .SearchPanel(searchPanel => searchPanel
                            .Visible(true)
                            .Width(280)
                            .Placeholder("請輸入要搜尋的資料")
                            )
                            .ShowRowLines(true)
                            .Paging(paging => paging.PageSize(30))
                            .Pager(pager =>
                            {
                                pager.Visible(true);
                                pager.ShowPageSizeSelector(true);
                                pager.AllowedPageSizes(new[] { 10, 20, 30 });
                                pager.ShowInfo(true);
                            })
                            .Editing(editing =>
                            {
                                editing.Mode(GridEditMode.Row);
                                editing.AllowAdding(true);
                                editing.AllowDeleting(true);
                                editing.AllowUpdating(true);
                                editing.NewRowPosition(GridNewRowPosition.ViewportTop);
                                editing.UseIcons(true);
                            })
                            .Columns(c =>
                            {
                                c.AddFor(e => e.Title).Caption("群組名稱").Width(200);
                                c.AddFor(e => e.FK_Tid)
                                .AllowSorting(false)
                                .Caption("子標籤")
                                .Lookup(lookup => lookup
                                .DataSource(d => d.RemoteController().Key("Id").LoadUrl("/api/Tag/GetAllList").LoadMethod("Get"))
                                .ValueExpr("Id")
                                .DisplayExpr("Title")
                                )
                                .CellTemplate(new JS("cellTemplate"))
                                .CalculateFilterExpression("calculateFilterExpression")
                                .EditCellTemplate(new TemplateName("TagBoxTemplate"));
                                c.AddFor(e => e.Disp_Opt).Caption("是否顯示").Width(125);
                                c.Add()
                                .Type(GridCommandColumnType.Buttons)
                                .Buttons(b =>
                                {
                                    b.Add().Icon("edit").OnClick("editButtonClicked").Visible(new JS("editButtonVisible"));
                                    b.Add().Name("save");
                                    b.Add().Name("cancel");
                                    b.Add().Name("delete").OnClick("groupDeleteButtonClicked");
                                });
                            })
                            .Toolbar(toolbar =>
                            {
                                toolbar.Items(i =>
                                {
                                    i.Add()
                                .Name(DataGridToolbarItem.AddRowButton)
                                .ShowText(ToolbarItemShowTextMode.Always)
                                .Location(ToolbarItemLocation.Before);
                                });

                                toolbar.Items(i =>
                                {
                                    i.Add()
                                .Name(DataGridToolbarItem.SearchPanel)
                                .ShowText(ToolbarItemShowTextMode.Always)
                                .Location(ToolbarItemLocation.After);
                                });
                            })
                            .OnContentReady("contentReady")
                            .OnRowInserting("dataSaving")
                            .OnRowUpdating("dataSaving"))
                    </div>
                </div>
            </div>
        </div>
        <div class="text-end my-2 text-danger">※名稱不可以符號開頭</div>
    </div>
</div>


@using (Html.DevExtreme().NamedTemplate("TagBoxTemplate"))
{
    @(Html.DevExtreme().TagBox()
                         .DataSource(d => d.RemoteController().Key("Id").LoadUrl("/api/Tag/GetAllList").LoadMethod("Get"))
                        .Value(new JS("value"))
                        .InputAttr("aria-label", "Name")
                        .ValueExpr("Id")
                        .DisplayExpr("Title")
                        .ShowSelectionControls(true)
                        .ShowMultiTagOnly(false)
                        .ApplyValueMode(EditorApplyValueMode.UseButtons)
                        .SearchEnabled(true)
                        .OnValueChanged("function(e) { setValue(e.value); }")
                        .OnSelectionChanged("function(e) { component.updateDimensions(); }")
                    )
}