@using EtheriT.Coker.Web.Public.Views.Shared.Components.Modal

<link rel="stylesheet" href="~/css/Modal/ShoppingCarModal.min.css" asp-append-version="true" />
<script src="~/js/ProductAction.min.js" asp-append-version="true"></script>
<script src="~/js/Modal/ShoppingCarModal.min.js" asp-append-version="true"></script>

<div class="Modal modal-dialog modal-dialog-centered m-auto" data-pid="1">
	<div class="modal-content">
		<div class="modal-body position-relative">
			<button class="btn_close bg-transparent border-0 fs-4 position-absolute top-0 end-0" data-bs-dismiss="modal">
				<i class="fa-regular fa-circle-xmark"></i>
			</button>

			<div class="content py-3 py-md-0">
				<figure class="row">
					<div class="col-md-4 pb-2 pb-md-0 text-center align-self-center">
						<img class="pro_image img-fluid border" src="" alt="" />
					</div>

					<figcaption class="pro_content col-md-8">
						<div class="name fs-5 pe-md-4">C659NA德瑞克Smart III淨未來智慧馬桶</div>

						<ul class="describe">
							<li>描述1</li>
							<li>描述2</li>
							<li>描述3</li>
						</ul>

						<ul class="tag d-flex flex-wrap my-2 overflow-hidden">
							<li class="rounded-pill me-2">標籤1</li>
							<li class="rounded-pill me-2">標籤2</li>
							<li class="rounded-pill me-2">標籤3</li>
							<li class="rounded-pill me-2">標籤4</li>
							<li class="rounded-pill me-2">標籤5</li>
						</ul>

						<div class="priceframe d-flex flex-wrap ps-3 align-items-center">
							<div class="price text-decoration-line-through me-2">30,000</div>
							<div class="discount d-flex align-items-center">折扣&ensp;<span class="fs-4 fw-bold price">28,000</span></div>
						</div>
					</figcaption>
				</figure>

				<div class="options px-3">
					<div class="radio d-flex align-items-center my-2">
						<div class="title me-2">顏色</div>
						<div class="control d-flex flex-wrap">
							<input id="color_01" type="radio" class="btn-check" name="choose_color" autocomplete="off">
							<label class="btn_radio me-2 my-1 px-3 py-1 align-self-center" for="color_01">白色</label>

							<input id="color_02" type="radio" class="btn-check" name="choose_color" autocomplete="off">
							<label class="btn_radio me-2 my-1 px-3 py-1 align-self-center" for="color_02">灰色</label>
						</div>
					</div>

					<div class="buy_line row d-sm-flex d-block justify-content-between align-items-center">
						<div class="counter col-auto d-flex align-items-center my-2">
							<button class="btn_count_minus bg-white">
								<i class="fa-solid fa-minus"></i>
							</button>

							<input class="input_pro_quantity text-center" name="counter" type="number" value="1">

							<button class="btn_count_plus bg-white">
								<i class="fa-solid fa-plus"></i>
							</button>
						</div>

						<div class="btn_addToCar col py-2 text-center text-white" type="button" data-bs-dismiss="modal">
							<div>加入購物車</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
