@using EtheriT.Coker.Web.MVC.Views.Shared.Components.Modal;
@{
    ViewData["Title"] = "SEO";
}
<link rel="stylesheet" href="~/css/SystemManagement/SEO.min.css" asp-append-version="true" />

<div id="TopLine" class="d-flex justify-content-between mb-3 px-4">
    <div class="title fw-bold fs-3">網站資料</div>
    <a class="btn btn-primary text-decoration-none align-self-center d-none" href="#" role="button">返回網站資料</a>
</div>
<div id="WebDataMain">
    <!-- Google Setting -->
    <div class="py-2">
        <div class="card border-0">
            <div id="GoogleSetting" class="card-body">
                <div class="d-flex align-items-center pb-2">
                    <img src="~/images/icon_google.png" />
                    <div class="fs-5 fw-bold px-2">GOOGLE設定</div>
                </div>
                <div class="d-flex align-items-center">
                    <label class="form-label m-0" for="VerificationCode">Google Analytics(4)</label>
                    <input id="VerificationCode" class="form-control text-center rounded mx-3" type="tel" placeholder="" pattern="\d{6}-\d" maxlength="8">
                    <label class="form-label m-0" for="VerificationCode">請輸入GOOGLE提供之驗證碼：xxxxxx-x</label>
                </div>
            </div>
        </div>
    </div>
</div>