/* Modal */
.modal-dialog {
    max-width: fit-content;
    position: relative;
}

.modal-body > .btn_close {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    font-size: xx-large;
    color: var(--gray-middle);
}

.modal-body > .frame > .card > div > .card-body > .describe {
    color: var(--gray-middle);
    font-size: 0.8rem;
}

    .modal-body > .frame > .card > div > .card-body > .describe > li::before {
        content: '．';
    }

.modal-body > .frame > .card > div > .card-body > .tag {
    width: calc(100% - 30px);
    height: 1.625rem;
    margin: 0;
    overflow: hidden;
}

    .modal-body > .frame > .card > div > .card-body > .tag > li {
        padding: 0.25rem 0.8rem;
        margin-right: 0.5rem;
        font-size: 0.5rem;
        background-color: var(--gray-light);
        color: var(--gray-middle);
        float: left;
        list-style: none;
        white-space: nowrap;
    }

.modal-body > .frame > .card > div > .card-body > .priceframe > .price {
    color: var(--gray-middle);
}

.modal-body > .frame > .card > div > .card-body > .priceframe > .discount {
    white-space: nowrap;
}

.modal-body > .frame > .options > .radio > .title {
    white-space: nowrap;
    padding-right: 0.5rem;
    color: var(--gray-middle);
}

.btn_radio {
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid var(--gray-middle);
}

input:checked + .btn_radio {
    font-weight: bold;
    border-color: var(--red-middle);
    border-width: medium;
    cursor: default;
}

input:disabled + .btn_radio {
    border: var(--gray-light);
    background-color: var(--gray-light);
    color: var(--gray-middle);
    cursor: default;
}

.modal-body > .frame > .options > .buy_line > .counter > .title {
    white-space: nowrap;
    padding-right: 0.5rem;
    color: var(--gray-middle);
}

[class*=btn_count_] {
    cursor: pointer;
    color: var(--gray-middle);
    border: 1px solid var(--gray-middle);
    width: 2rem;
    height: 2rem;
}

.input_count {
    border: 1px solid var(--gray-middle);
    width: 8rem;
    height: 2rem;
}

.modal-body > .frame > .options > div > .btn_buy {
    background-color: var(--red-middle);
    height: 2rem;
}

.icon_plus::before {
    font-family: 'Font Awesome 6 Free';
    font-weight: 400;
    content: "\f0fe  ";
}

/* Swiper */
.swiper_four_grid {
    background-color: var(--pale);
}

    .swiper_four_grid > .swiper {
        padding-top: 15px;
    }

        .swiper_four_grid > .swiper > .swiper-wrapper > figure {
            border-radius: 25px;
        }

            .swiper_four_grid > .swiper > .swiper-wrapper > figure > figcaption > .top_line {
                top: 1rem;
                right: 1rem;
            }

                .swiper_four_grid > .swiper > .swiper-wrapper > figure > figcaption > .top_line > button > i {
                    color: var(--gray-middle);
                }

            .swiper_four_grid > .swiper > .swiper-wrapper > figure > figcaption > .card-body > p {
                overflow: hidden;
                height: 3rem;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                margin-bottom: 2.5rem;
            }

            .swiper_four_grid > .swiper > .swiper-wrapper > figure > figcaption > .bottom_line {
                bottom: 1rem;
                width: 100%;
                padding: 0 1rem;
            }

                .swiper_four_grid > .swiper > .swiper-wrapper > figure > figcaption > .bottom_line > .pro_tag {
                    height: 2rem;
                }

                    .swiper_four_grid > .swiper > .swiper-wrapper > figure > figcaption > .bottom_line > .pro_tag > li {
                        font-size: 0.8rem;
                        line-height: 1.5rem;
                        background-color: var(--pale);
                        color: var(--gray-middle);
                        white-space: nowrap;
                    }

                .swiper_four_grid > .swiper > .swiper-wrapper > figure > figcaption > .bottom_line > .btn_cart > span > i:first-child {
                    color: var(--gray-light);
                }

.swiper_button {
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

    .swiper_button > button {
        background-color: var(--gray-middle);
    }

        .swiper_button > button > span > i:first-child {
            color: var(--gray-dark);
            opacity: 50%;
        }

    .swiper_button > [class*=btn_swiper_next_] {
        margin-right: -35px;
    }

    .swiper_button > [class*=btn_swiper_prev_] {
        margin-left: -35px;
    }



/* Breadcrumb */
#Breadcrumb {
    --bs-breadcrumb-divider: '/';
}

    #Breadcrumb > .breadcrumb > .breadcrumb-item.active {
        color: var(--gray-middle);
    }

    #Breadcrumb > .breadcrumb > .breadcrumb-item, #Breadcrumb > .breadcrumb > .breadcrumb-item > a {
        color: var(--gray-middle);
    }

/* Filter */
#Filter {
    background-color: #E0E3E8;
}

    #Filter > div > .options > [class*=price_] {
        width: 6rem;
        text-align: end;
    }

.btn_confirm {
    white-space: nowrap;
    background-color: var(--gray-dark);
    cursor: pointer;
}

/* Classification */
#Classification > .title {
    background-color: #F4F4F4;
}

#Classification > ul > li {
    margin-right: 0.25rem;
}

/* Ads */
#Ads {
    background-color: #E2E2E2;
}

    #Ads .content > figure > figcaption > .keywords > li {
        font-size: 0.8rem;
    }

        #Ads .content > figure > figcaption > .keywords > li::before {
            content: '#';
        }

/* Catalog */
#Catalog {
    font-family: sans-serif;
    background-image: url("/images/probook_bg.jpg");
    background-size: cover;
    background-position: center;
}

    #Catalog > .text > .fs-3, #Catalog > .text > .fs-2 {
        color: #A2784E;
    }

    #Catalog > .text span > i:first-child {
        color: #C3A88D;
    }

/* Hot_Product_Title */
#Hot_Product_Title {
    margin-top: 0;
}

/* Badge */
#Badge {
    padding: 40px 10vw;
    display: flex;
    justify-content: space-between;
}

    #Badge > .card {
        border-color: transparent;
        width: 19vw;
    }

        #Badge > .card > img {
            width: 40%;
            margin: auto;
        }

    #Badge > .vr {
        height: 15vw;
        align-self: center;
    }

.swiper_ads {
    padding: 40px 10vw;
    position: relative;
}


#RelatedProductsSwiper {
    background-color: var(--gray-light);
}


/*RWD*/
@media only screen and (max-width: 1072px) {
    .swiper_button > [class*=btn_swiper_next_] {
        margin-right: -30px;
    }

    .swiper_button > [class*=btn_swiper_prev_] {
        margin-left: -30px;
    }
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
    .swiper_button > [class*=btn_swiper_next_] {
        margin-right: 0px;
    }

    .swiper_button > [class*=btn_swiper_prev_] {
        margin-left: 0px;
    }

    #Catalog > .frame > .content {
        color: #C3A88D;
        margin: 20px 0 10px 0;
    }

    #Catalog > .frame > .image {
        width: 50%;
        margin: 10px 0 20px 0;
    }

    #Badge {
        flex-wrap: wrap;
        justify-content: center;
    }

        #Badge > .card {
            width: 29vw;
        }

        #Badge > .vr {
            height: 35vw;
        }

            #Badge > .vr:nth-child(3), #Badge > .vr:nth-child(4) {
                display: none;
            }
}

@media only screen and (max-width: 576px) {
    .modal-body > .frame > .options > div > .btn_buy {
        height: 2.5rem;
    }
}

@media only screen and (max-width: 390px) {
    #Badge {
        flex-wrap: wrap;
    }

        #Badge > .card {
            width: 69vw;
        }

        #Badge > .vr {
            display: none;
        }
}

@media only screen and (max-width: 368px) {
}
