
/* Breadcrumb */
#Breadcrumb {
    --bs-breadcrumb-divider: '/';
    --breadcrumb-divider-color: #787878;
    --breadcrumb-active-color: #787878;
}

/* Product */
#Product {
    margin: 20px 0;
}

    #Product > .image {
    }

        #Product > .image > .tag {
            width: calc(100% - 30px);
            height: 1.625rem;
            margin: 0;
            overflow: hidden;
        }

            #Product > .image > .tag > li {
                padding: 0.25rem 0.8rem;
                margin-right: 0.5rem;
                font-size: 0.5rem;
                background-color: #F4F4F4;
                color: #727272;
                border-radius: 50px;
                float: left;
                list-style: none;
                white-space: nowrap;
            }

    #Product > .content > div:nth-child(2) {
        color: #767676;
    }

        #Product > .content > div:nth-child(2) > .track > i {
            font-size: xxx-large;
            cursor: pointer;
        }

    #Product > .content > .specification {
        color: #767676;
    }

        #Product > .content > .specification > .btn_detailed {
            background-color: #E8E8E8;
        }

    #Product > .content > .certification {
        color: #767676;
    }

        #Product > .content > .certification > .badge > li > img {
            height: 3.25rem;
        }

    #Product > .content > .btn_buy {
        background-color: #B24C3E;
        color: white;
        line-height: 3;
    }

    #Product > .content > .options {
        color: #767676;
    }


/* CenterLine */
#CenterLine {
    background-color: #E8E8E8;
}

    #CenterLine > div:not(:last-child) {
        color: #707070;
        padding: 0.5rem 2rem;
        cursor: pointer;
        width: fit-content;
    }

        #CenterLine > div:not(:last-child):hover {
            font-weight: bold;
            color: #9C250D;
            background-color: #F3BDBD;
        }

#shareBlock {
    flex-grow: 1;
}

/* ProductDescription */
#ProductDescription {
    color: #717171;
}

    #ProductDescription > img {
        width: 100%;
    }

    #ProductDescription > iframe {
        width: 100%;
        height: 80vmin;
    }
