
body {
    background-color: var(--gray-light);
}

/* Member Login */
#memberLogin > div > button {
    border: 1px solid var(--gray-middle);
    color: var(--gray-middle);
}

/* Step Swiper */
#BuyStepSwiper > .swiper {
    border-radius: 15px;
}

    #BuyStepSwiper > .swiper > .swiper-wrapper > .card > .card-header > .bg-transparent {
        color: var(--gray-middle);
        border: 1px solid var(--gray-dark);
    }

    #BuyStepSwiper > .swiper > .swiper-wrapper > .card > .card-body > ul > li > div > img {
        width: 150px;
        max-width: 30vw;
    }

    #BuyStepSwiper > .swiper > .swiper-wrapper > .card > .card-body > ul > li > .unit {
        color: var(--gray-dark);
    }

    #BuyStepSwiper > .swiper > .swiper-wrapper > .card > .card-body > ul > li > .counter_input {
        height: fit-content;
    }

        #BuyStepSwiper > .swiper > .swiper-wrapper > .card > .card-body > ul > li > .counter_input > button {
            border: 1px solid var(--gray-middle);
            color: var(--gray-dark);
        }

        #BuyStepSwiper > .swiper > .swiper-wrapper > .card > .card-body > ul > li > .counter_input > .input_count {
            border: 1px solid var(--gray-middle);
            width: 6rem;
        }

    #BuyStepSwiper > .swiper > .swiper-wrapper > .card > .card-body > ul > li > .subtotal {
        color: var(--red-middle);
    }

    /* Swiper Button */
    #BuyStepSwiper > .swiper > .swiper-wrapper > .card > .card-body > .swiper_button {
        z-index: 1;
        bottom: 5rem;
    }

        #BuyStepSwiper > .swiper > .swiper-wrapper > .card > .card-body > .swiper_button > [class*=btn_swiper_] {
            background-color: var(--gray-middle);
            padding: 0.5rem;
            width: 12.5rem;
        }

    #BuyStepSwiper > .swiper > .swiper-wrapper > .step3 > .card-body > .swiper_button > button:nth-child(2n+1) {
        color: var(--gray-middle);
        width: fit-content;
    }

    #BuyStepSwiper > .swiper > .swiper-wrapper > .step3 > .card-body > .swiper_button > button:nth-child(2) {
        background-color: var(--red-middle);
    }

/* Swiper Pagination */
#BuyStepSwiper > .swiper_pagination_buystep {
    top: 0;
    bottom: auto;
    left: auto;
}
