
#stepform {
    background-color: var(--gray-light);
}

/* Step Progress Bar */
#stepprogressbar {
    width: 70%;
    margin: 0 auto 2rem;
    margin-bottom: 30px;
    counter-reset: step;
}

    #stepprogressbar.li5 > li {
        width: 19%;
    }

        #stepprogressbar.li5 > li:after {
            left: -39%;
        }

    #stepprogressbar li {
        list-style-type: none;
        color: var(--gray-middle);
        text-transform: uppercase;
        font-size: 0.8rem;
        width: 24%;
        float: left;
        position: relative;
    }

        #stepprogressbar li.now {
            font-weight: bold;
        }

        #stepprogressbar li:before {
            content: counter(step);
            counter-increment: step;
            width: 2rem;
            line-height: 2rem;
            display: block;
            font-size: 1rem;
            font-weight: bold;
            color: var(--gray-middle);
            background: white;
            border-radius: 25px;
            margin: 0 auto 5px auto;
        }

        #stepprogressbar li:after {
            content: '';
            width: 84%;
            height: 2px;
            background: var(--gray-middle);
            position: absolute;
            left: -42%;
            top: 1rem;
        }

        #stepprogressbar li:first-child:after {
            content: none;
        }

        #stepprogressbar li.active:before, #stepprogressbar li.active:after {
            background: var(--red-middle);
            color: white;
        }

/* Member Login */
#memberLogin > div > button {
    border: 1px solid var(--gray-middle);
    color: var(--gray-middle);
}

/* Step Content */
[class*=step] {
    display: none;
}

    [class*=step] > div {
        box-shadow: 0rem 0rem 5rem rgba(0,0,0,.25);
        border-radius: 10px;
    }

        [class*=step] > div > .title {
            background-color: var(--gray-light);
            border-radius: 10px 10px 0 0;
        }

            [class*=step] > div > .title > button {
                color: var(--gray-dark);
                border: 1px solid var(--gray-dark);
            }

        [class*=step] > div > .content {
            border-radius: 0 0 10px 10px;
        }

    [class*=step].active {
        display: block
    }

/* Back/Next Button */
.btn_prev, .btn_next {
    background-color: var(--gray-middle);
    padding: 0.5rem;
    width: 12.5rem;
}
