
<link rel="stylesheet" href="~/css/Header/Default_Header.min.css" asp-append-version="true" />
<script src="~/js/Header/Default_Header.min.js" asp-append-version="true"></script>

<div>Default_Header</div>