@using EtheriT.Coker.Web.Public.Views.Shared.Components.Header
@using EtheriT.Coker.Web.Public.Views.Shared.Components.MenuItem
@model HeaderViewModel

<link rel="stylesheet" href="~/css/Header/Header_Layout_2.min.css" asp-append-version="true" />
<script src="~/js/Header/Header_Layout_2.min.js" asp-append-version="true"></script>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">@Model.Title</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				@foreach (var menu in Model.menuItemModels ?? new List<MenuItemModel>())
				{
					<li class="nav-item">
						<a class="nav-link" href="@menu.Link">@menu.Title</a>
					</li>
				}
			</ul>
		</div>
	</div>
</nav>

