
<link rel="stylesheet" href="~/css/Header/Header_Layout_4.min.css" asp-append-version="true" />
<script src="~/js/Header/Header_Layout_4.min.js" asp-append-version="true"></script>

<div class="modal sear_modal fade" tabindex="-1">
	<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">搜尋</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer d-flex justify-content-center">
				<button type="button" class="btn btn-secondary px-4" data-bs-dismiss="modal">關閉</button>
			</div>
		</div>
	</div>
</div>

<div class="bg_cyan_blue">
	<div class="d-flex flex-column p-3 container">
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid nowrap">
				<div class="d-flex align-items-center w-auto justify-content-between">
					<a class="d-flex navbar-brand me-0 me-sm-3" href="/epza/ksp">
						<img class="logo" src="~/upload/logo.png" alt="經濟部加工出口區管理處">
					</a>
					<button class="btn_expand navbar-toggler pt-1 h-100" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="material-symbols-outlined">expand_more</span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item px-2">
							<a class="nav-link" aria-current="page" href="/epza/ksp">網站導覽</a>
						</li>
						<li class="nav-item px-2">
							<a class="nav-link" aria-current="page" href="/epza/ksp">關於平台</a>
						</li>
						<li class="nav-item px-2">
							<a class="nav-link" aria-current="page" href="/epza/ksp">最新消息</a>
						</li>
						<li class="nav-item px-2">
							<a class="nav-link" aria-current="page" href="/epza/ksp">資源手冊</a>
						</li>
						<li class="nav-item px-2">
							<a class="nav-link" aria-current="page" href="/epza/ksp">電子報</a>
						</li>
					</ul>
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search" placeholder="站內搜尋" aria-label="Search">
						<div class="d-flex border border-2  border-end-0 flex-grow-1">
							<div class="dropdown">
								<a class="sear_target dropdown-toggle text-black text-nowrap fw-bold fs_change ms-1 ms-md-3 pe-1 pe-md-3 border-end border-2" href="/epza/ksp" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									搜尋
								</a>
								<ul class="dropdown-menu">
									<li><button class="btn_sear_all dropdown-item text-nowrap">全部</button></li>
									<li><button class="btn_sear_news dropdown-item text-nowrap">最新消息</button></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</div>
		</nav>
	</div>
</div>
