@{
    ViewData["Title"] = "FooterSettings";
    await Html.RenderPartialAsync(@"GrapesComponents\_ScriptComponents");
}
<script src="~/js/Template/FooterSettings.min.js" asp-append-version="true"></script>
<div id="gjs"></div>