<!DOCTYPE html>
<html lang="zh-tw">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Coker網站管理系統</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/fortawesome/css/all.min.css" />
	<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/Account/site.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/EtheriT.Coker.Web.MVC.styles.css" asp-append-version="true" />
</head>
<body>
	<div class="d-md-flex half">
		<div class="bg" style="background-image: url('/images/bg_1.jpg');"></div>
		<div class="contents" role="main">
			<main class="container">
				@RenderBody()
				<footer class="border-top footer small text-muted d-none">
					<div class="container">
						易碩網際科技版權所有 Copyright © EtheriT Co.,Ltd. All Rights Reserved - <a asp-area="" asp-controller="Account" asp-action="Privacy">Privacy</a>
					</div>
				</footer>
			</main>
		</div>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/CokerCore.min.js" asp-append-version="true"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
