@{
    ViewData["Title"] = "登入";
}
<link rel="stylesheet" href="~/css/Account/login.min.css" asp-append-version="true" />
<script src="~/js/Account/Index.min.js" asp-append-version="true"></script>

<div class="row align-items-center justify-content-center align-items-center">
    <div class="col-md-12">
        <div class="form-block mx-auto">
            <div class="text-center mb-5">
                <h3 class="text-uppercase">登入 <strong>Coker 6.0</strong></h3>
            </div>
            <form asp-controller="Account" asp-action="Login" method="post">
                <div class="form-group first">
                    <label for="username">使用者帳號</label>
                    <input type="text" class="form-control" placeholder="請輸入Email" id="username">
                </div>
                <div class="form-group last mb-3 position-relative">
                    <label for="password">密碼</label>
                    <input type="password" class="form-control" placeholder="請輸入英文或數字" id="password">
                    <span class="fas fa-eye-slash position-absolute" style="top: 50px; right: 10px;" id="togglePassword" onclick="togglePassword()"></span>
                </div>
                <div class="d-sm-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-3 mb-sm-0">
                        <span class="caption">請記住我的帳號</span>
                        <input type="checkbox" checked="checked" />
                        <div class="control__indicator fa"></div>
                    </label>
                    <span class="ml-auto">
                        <!--<a class="forgot-pass" asp-area="" asp-controller="Account" asp-action="Forget" >忘記密碼</a>-->
                        <button class="forget-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvastop" aria-controls="offcanvasTop">忘記密碼</button>
                    </span>
                </div>
                <input id="loginBtn" type="button" value="登入" class="btn btn-block py-2 btn-secondary">
                <span class="text-center my-3 d-block">或</span>
                <div class="">
                    <a href="#" class="btn btn-block py-2 btn-facebook">
                        <i class="fab fa-facebook-f me-3"></i> Facebook
                    </a>
                    <a href="#" class="btn btn-block py-2 btn-google"><i class="fab fa-google me-3"></i> Google</a>
                </div>
            </form>
            <div class="offcanvas offcanvas-top d-flex justify-content-center align-item-center" tabindex="-1" id="offcanvastop" aria-labelledby="offcanvasTopLabel">
                <form class="d-flex flex-column justify-content-center align-item-center p-3">
                    <div class="form-floating mb-3">
                        <input id="email" class="form-control" type="email" placeholder="帳號">
                        <label for="email" class="form-label">帳號</label>
                    </div>
                    <div class="d-flex align-items-center my-3">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                        <p>請輸入右側圖字樣</p>
                        <input id="picture-input" class="form-control" type="text" placeholder="">
                        </div>
                        <img class="picture" />
                    </div>
                    <button class="forget-btn btn submit" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvastop2" aria-controls="offcanvasTop" id="verification-btn">送出</button>
                </form>
            </div>
             <div class="offcanvas offcanvas-top d-flex justify-content-center align-item-center" tabindex="-1" id="offcanvastop2" aria-labelledby="offcanvasTopLabel">
                <form class="d-flex flex-column justify-content-center align-item-center p-3">
                    <div class="form-floating mb-3">
                        <input id="newpassword" class="form-control" type="password" placeholder="密碼">
                        <label for="newpassword" class="form-label">密碼</label>
                        <span class="fas fa-eye-slash position-absolute" style="top:20px; right: 5px;" id="togglePassword2" onclick="togglePassword2()"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="agnewpassword" class="form-control" type="password" placeholder=">確認密碼">
                        <label for="agnewpassword" class="form-label">確認密碼</label>
                        <span class="fas fa-eye-slash position-absolute" style="top:20px; right: 5px;" id="togglePassword3" onclick="togglePassword3()"></span>
                    </div>
                    <button class="btn submit" type="button" id="subnewpsw">確定</button>
                    <div id="rule">
                        <h4>密碼規則</h4>
                        <p id="lowercase" class="invalid">至少1個小寫字母</p>
                        <p id="uppercase" class="invalid">至少1個大寫字母</p>
                        <p id="number" class="invalid">至少1個數字</p>
                        <p id="symbol" class="invalid">至少1個符號</p>
                        <p id="length" class="invalid">至少8碼最多32碼</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>