@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "輸入新密碼";
}
<link rel="stylesheet" href="~/css/Account/login.min.css" asp-append-version="true" />
<script src="~/js/Account/Index.min.js" asp-append-version="true"></script>
<div class="row align-items-center justify-content-center align-items-center">
    <div class="col-md-12">
        <div class="form-block mx-auto">
            <div class="text-center mb-3">
                <h3 class="text-uppercase">@ViewData["Title"]</h3>
            </div>
            <form action="#" method="post">
                <div class="form-floating mb-3">
                    <input id="newpassword" class="form-control" type="password" placeholder="密碼">
                    <label for="newpassword" class="form-label">密碼</label>
                    <span class="fas fa-eye-slash position-absolute toggle-password" id="togglePassword2" data-target="#newpassword"></span>
                </div>
                <div class="form-floating mb-3">
                    <input id="agnewpassword" class="form-control" type="password" placeholder="確認密碼">
                    <label for="agnewpassword" class="form-label">確認密碼</label>
                    <span class="fas fa-eye-slash position-absolute toggle-password" id="togglePassword3" data-target="#agnewpassword"></span>
                </div>
                <div class="graphics-bg d-flex align-items-center mb-3">
                    請輸入右側圖形驗證碼
                    <div class="graphics d-flex align-items-center px-2 ml-3">12345</div>
                </div>
                <div class="form-floating mb-3">
                    <input id="" class="form-control" placeholder="輸入驗證碼">
                    <label for="" class="form-label">輸入驗證碼</label>
                </div>
                <div id="rule">
                    <h4>密碼規則</h4>
                    <p id="lowercase" class="invalid">至少1個小寫字母</p>
                    <p id="uppercase" class="invalid">至少1個大寫字母</p>
                    <p id="number" class="invalid">至少1個數字</p>
                    <p id="symbol" class="invalid">至少1個符號</p>
                    <p id="length" class="invalid">至少8碼最多32碼</p>
                </div>
                <div id="short-rule">
                    <p>密碼長度至少8碼~32碼，並請混合大小寫英文字母、數字及特殊符號!</p>
                </div>
                <div class="d-sm-flex mb-2 align-items-center">
                    <span class="ml-auto">
                        <a class="forgot-pass" asp-area="" asp-controller="Account" asp-action="Index">回到登入頁</a>
                    </span>
                </div>
                <input type="submit" value="確認送出" class="btn btn-block py-2 btn-primary" id="subnewpsw">
            </form>
        </div>
    </div>
</div>
