@{
    ViewData["Title"] = "隱私權政策";
}
<div class="row align-items-center justify-content-center align-items-center">
	<h1>@ViewData["Title"]</h1><a asp-area="" asp-controller="Account" asp-action="Index">回到登入頁</a>
	<div class="col-md-9">
		為確保使用者使用「易碩網際」各項軟體服務時的隱私權益，故訂定此政策，請您閱讀以下有關內容，以瞭解「易碩網際技股份有限公司」(以下簡稱本公司)如何蒐集、保護及使用您所提供的各項資訊。同時，本公司各項軟體蒐集到的個人資料，除其他法律另有規定者外，皆依「個人資料保護法」辦理。使用「易碩網際」各項軟體服務，即視為您同意並知悉以下事項：<br>
		<br>
		<strong>隱私權保護政策適用範圍</strong>
		<ul>
			<li>本政策涵蓋的內容，適用於您透過「易碩網際」各項軟體服務，所涉及之個人資料保護事宜。經由「易碩網際」各項軟體服務而連結至非本公司的網站，個人資料保護事宜，適用各該網站之隱私權政策，本公司不負任何連帶責任。</li>
		</ul>
		<strong>資料蒐集、保護及使用</strong>
		<ul>
			<li>單純使用「易碩網際」各項軟體服務瀏覽本公司公開資訊時，並不會蒐集任何有關個人的身份資料。</li>
			<li>本公司有義務保護各使用者之隱私，除維護或檢查系統安全，或在個人資料保護法允許之範圍內，合法利用，本公司在未獲得您同意前絕不對外揭露您依法受保護之資料。</li>
			<li>經由本公司各項軟體服務下載個人相關資料時，蒐集這些資料係僅作為供本公司內部作流量和容量的總量分析，不做其他用途。</li>
		</ul>
		<strong>個人資料之安全</strong><br>
		<ul>
			<li>若您發現個人資料有須修正之處，請聯繫本公司相關單位進行更正或補充，以確保自身權益。</li>
			<li>請妥善保護您的帳號、密碼及任何個人資料的機密安全，不要將任何個人資料，尤其是密碼提供給任何人。在您使用完本公司所提供的各項軟體服務功能後，務必記得登出，確保護個人帳號不會遭到其他人盜用。所有使用者行為皆應遵循國內、外法律規範，並且對於個人所屬帳號、密碼所發生之情事負全部責任。</li>
			<li>本公司存取使用者個人資料，係因向您提供服務或為了完成工作而取得。本公司絕對遵守符合法規要求的實體、電子和程序防護措施，以保護您個人資料的安全。</li>
		</ul>
		<strong>隱私權保護政策之修正</strong><br>
		<ul>
			<li>本隱私權保護政策將因應需求隨時進行修正，以落實保障使用者隱私權。如果您對以上條款有任何疑問，歡迎利用本公司網站諮詢服務與我們聯繫。政策，本公司不負任何連帶責任。</li>
		</ul>
	</div>
</div>
