@using EtheriT.Coker.Web.MVC.Views.Shared.Components.Header
@using EtheriT.Coker.Web.MVC.Views.Shared.Components.Sidebar
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EtheriT.Coker.Web.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fortawesome/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><!-- Date Range Picker -->
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EtheriT.Coker.Web.MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <section class="wrapper">
        <aside class="sidebar">
            @await Component.InvokeAsync(nameof(Sidebar))
        </aside>
        <div class="content-area">
            <header class="header sticky-top">
                @await Component.InvokeAsync(nameof(Header))
            </header>
            <div class="content-wrapper">
                @RenderBody()
                <footer>
                    <p class="text-muted m-0">
                        <small class="float-right">
                            <a asp-area="" asp-controller="Account" asp-action="Privacy">Privacy</a>
                        </small>
                        <small>
                            易碩網際科技版權所有 Copyright © EtheriT Co.,Ltd. All Rights Reserved
                        </small>
                    </p>
                </footer>
            </div>
        </div>
    </section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
