@using DevExtreme.AspNet.Mvc
@using EtheriT.Coker.Web.MVC.Models.Dacshboard
@model DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}
<script src="~/lib/chart.js/chart.min.js"></script>
<script src="~/js/Dashboard/Index.min.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/Dashboard/index.min.css" asp-append-version="true" />

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-warning shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                        <i class="material-icons opacity-10">storage</i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">使用空間</p>
                        <h4 class="mb-0">@Model.CalcuateDirectorySize</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    <p class="mb-0">最後更新日期<span class="text-success text-sm font-weight-bolder">2022/10/3</span></p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-info shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                        <i class="material-icons opacity-10">insert_chart</i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">使用流量</p>
                        <h4 class="mb-0">5.18/10G</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    <p class="mb-0">統計週期<span class="text-success text-sm font-weight-bolder">2022/10/1~2022/10/5</span></p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-danger shadow-success text-center border-radius-xl mt-n4 position-absolute">
                        <i class="material-icons opacity-10">shopping_cart</i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">本月訂單總額</p>
                        <h4 class="mb-0">$231,890</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    <p class="mb-0">與上月相比<span class="text-danger text-sm font-weight-bolder">-2%</span></p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-success shadow-info text-center border-radius-xl mt-n4 position-absolute">
                        <i class="material-icons opacity-10">person</i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">會員總數</p>
                        <h4 class="mb-0">92,300</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    <p class="mb-0">與上月相比<span class="text-success text-sm font-weight-bolder">+5% </span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-4 col-md-6 mt-4 mb-4">
            <div class="card z-index-2 ">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-info shadow-primary border-radius-lg py-3 pe-1">
                        <div class="chart">
                            <canvas id="chart-bars" class="chart-canvas" height="170"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="mb-0 ">全站導覽人數</h6>
                    <p class="text-sm d-none">Last Campaign Performance</p>
                    <hr class="dark horizontal">
                    <div class="d-flex ">
                        <i class="material-icons text-sm my-auto me-1">schedule</i>
                        <p class="mb-0 text-sm"> 最後更新時間2小時前 </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mb-4">
            <div class="card z-index-2  ">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-danger shadow-success border-radius-lg py-3 pe-1">
                        <div class="chart">
                            <canvas id="chart-line" class="chart-canvas" height="170"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="mb-0 "> 本月訂單金額 </h6>
                    <p class="text-sm d-none"> (<span class="font-weight-bolder">+15%</span>) increase in today sales. </p>
                    <hr class="dark horizontal">
                    <div class="d-flex ">
                        <i class="material-icons text-sm my-auto me-1">schedule</i>
                        <p class="mb-0 text-sm"> 最後更新15分鐘前 </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-4 mb-3">
            <div class="card z-index-2 ">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-success shadow-dark border-radius-lg py-3 pe-1">
                        <div class="chart">
                            <canvas id="chart-line-tasks" class="chart-canvas" height="170"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="mb-0 ">會員人數</h6>
                    <p class="text-sm d-none">Last Campaign Performance</p>
                    <hr class="dark horizontal">
                    <div class="d-flex ">
                        <i class="material-icons text-sm my-auto me-1">schedule</i>
                        <p class="mb-0 text-sm">最後更新1小時前</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
            <div class="card orders">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-primary shadow-success border-radius-lg py-3 pe-1">
                        <h4 class="title text-bolder">本日最新訂單</h4>
                        <span class="memo text-xs"><span class="text-2xl font-weight-bolder">4</span>筆尚未處理</span>
                    </div>
                </div>
                <div class="card-body p-3">
                    @(
                        Html.DevExtreme().DataGrid<OrderItem>()
                            .ID("Oders")
                            .ColumnHidingEnabled(true)
                            .ShowBorders(true)
                            .FilterRow(filterRow => filterRow
                                .Visible(true)
                                .ApplyFilter(GridApplyFilterMode.Auto)
                            )
                            .SearchPanel(searchPanel => searchPanel
                                .Visible(true)
                                .Width(480)
                                .Placeholder("請輸入要搜尋的資料")
                            )
                            .ShowRowLines(true)
                            .HeaderFilter(headerFilter => headerFilter.Visible(true))
                            .Columns(c =>
                            {
                                c.AddFor(e => e.Id).Caption("質借單號");
                                c.AddFor(e => e.Time).Caption("成立時間");
                                c.AddFor(e => e.Name).Caption("姓名");
                                c.AddFor(e => e.Price).Caption("結帳金額");
                                c.AddFor(e => e.Statues).Caption("訂單狀態");
                            })
                            .Paging(paging => paging.PageSize(30))
                            .Pager(pager =>
                            {
                                pager.Visible(true);
                                pager.ShowPageSizeSelector(true);
                                pager.AllowedPageSizes(new[] { 10, 20, 30 });
                                pager.ShowInfo(true);
                            })
                            .DataSource(Model.Orders)
                        )
                    <p class="mb-0">最後更新日期<span class="text-success text-sm font-weight-bolder">2022/10/3</span></p>
                </div>
            </div>
        </div>
    </div>
</div>