#StoreSet {
    .seo-setting-group-icon {
        width: 30px;
        height: auto;
    }

    .seo-setting-field-row {
        > input {
            width: 10rem;
        }

        label {
            margin-bottom: 0;
        }
    }
}
