@using DevExtreme.AspNet.Mvc
@using EtheriT.Coker.Application.Shared.Dto.Product
@{
	ViewData["Title"] = "ProductList";
}

<link rel="stylesheet" href="~/css/ProductManagement/ProductList.min.css" asp-append-version="true" />
<script src="~/js/ProductManagement/ProductList.min.js" asp-append-version="true"></script>

<div class="">
	<div id="TopLine" class="d-flex justify-content-between mb-3 px-4">
		<div class="title fw-bold fs-3">商品列表</div>
	</div>

	<div id="" class="py-2">
		<div id="ProductList" class="card border-0">
			<div class="card-body position-relative pb-5">
				<button class="btn_add border btn-outline-light text-black d-flex p-1 rounded position-absolute text-decoration-none">
					<span class="material-symbols-outlined">add</span>
				</button>
				@(
					Html.DevExtreme().DataGrid<ProductGetAllListDto>()
					.DataSource(d => d.RemoteController().Key("Id")
					.LoadUrl("/api/Product/GetAllList").LoadMethod("Get")
					)
					.RemoteOperations(true)
					.ColumnHidingEnabled(true)
					.ShowBorders(true)
					.FilterRow(filterRow => filterRow
					.Visible(true)
					.ApplyFilter(GridApplyFilterMode.Auto)
					)
					.SearchPanel(searchPanel => searchPanel
					.Visible(true)
					.Width(480)
					.Placeholder("請輸入要搜尋的資料")
					)
					.ShowRowLines(true)
					.Columns(c =>
					{
						c.AddFor(e => e.Disp_Opt).Caption("是否顯示").Width(90);
						c.AddFor(e => e.Ser_No).Caption("排序").Width(50);
						c.AddFor(e => e.Title).Caption("商品名稱");
						c.AddFor(e => e.Introduction).Caption("商品簡介");
						c.AddFor(e => e.Description).Caption("商品說明");
						c.AddFor(e => e.Price).Caption("價格");
						c.AddFor(e => e.Discount).Caption("折扣");
						c.AddFor(e => e.StartTime).Caption("起始日期");
						c.AddFor(e => e.EndTime).Caption("結束日期");
						c.AddFor(e => e.Permanent).Caption("永久顯示").Width(90);
						c.Add()
						.Type(GridCommandColumnType.Buttons)
						.Buttons(b =>
						{
							b.Add().Name("edit").OnClick("editButtonClicked");
							b.Add().Name("delete").OnClick("deleteButtonClicked");
						});
					})
					.ColumnAutoWidth(true)
					.Paging(paging => paging.PageSize(30))
					.Pager(pager =>
					{
						pager.Visible(true);
						pager.ShowPageSizeSelector(true);
						pager.AllowedPageSizes(new[] { 10, 20, 30 });
						pager.ShowInfo(true);
					})
					.Editing(editing =>
					{
						editing.AllowDeleting(true);
						editing.AllowUpdating(true);
						editing.UseIcons(true);
					})
					.OnContentReady("contentReady")
					)
			</div>
		</div>

		<div id="ProductContent" class="card border-0 d-none">
			<div class="card-header d-flex justify-content-between">
				<div class="fw-bold fs-5 d-flex align-items-center">
					<button class="btn_back d-flex bg-transparent border-0 align-items-center">
						<span class="material-symbols-outlined">
							keyboard_backspace
						</span>
					</button>
					<div class="lh-lg">新增商品</div>
				</div>
				<div class="d-flex">
					<button class="btn_save btn-warning border-0 px-3 py-1 text-white mx-3" form="none">草稿</button>
					<button class="btn_done btn-primary border-0 px-3 py-1 text-white" form="ProductForm">發布</button>
				</div>
			</div>

			<form id="ProductForm" class="card-body needs-validation">
				<div class="d-flex align-self-center justify-content-between mb-3">
					<div class="d-flex flex-column align-items-center mb-1">
						<input class="input_pic d-none" type="file" accept="image/*" />
						<button class="btn_input_pic d-flex align-items-center justify-content-center bg-transparent rounded-circle">
							<span class="material-symbols-outlined">add_photo_alternate</span>
						</button>
						<div class="px-2 fw-bold">加入照片</div>
					</div>
					<button id="Btn_Display" class="bg-transparent border-0 text-primary d-flex align-self-center" form="none" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="是否顯示">
						<span class="material-symbols-outlined fs-2">visibility</span>
					</button>
				</div>

				<div class="name border mb-3 p-2 rounded">
					<div class="d-flex justify-content-between w-100">
						<span class="input-group-text bg-transparent border-0 p-0 required_text">商品名稱</span>
						<div class="name_count">0</div>
					</div>
					<textarea id="InputName" class="form-control border-0" aria-label="With textarea" maxlength="150" placeholder="輸入商品名稱" required></textarea>
				</div>

				<div class="introduction border mb-3 p-2 rounded">
					<div class="d-flex justify-content-between w-100">
						<span class="input-group-text bg-transparent border-0 p-0 required_text">商品簡介</span>
						<div class="introduction_count">0</div>
					</div>
					<div id="CollapseIntroduction" class="collapse show">
						<textarea id="InputIntroduction" class="form-control border-0" aria-label="With textarea" maxlength="3000" placeholder="輸入商品簡介" required></textarea>
					</div>
					<div class="d-flex justify-content-center">
						<button class="btn_expand d-flex border-0 bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#CollapseIntroduction" aria-expanded="false" aria-controls="CollapseIntroduction">
							<span class="material-symbols-outlined fs-3">expand_more</span>
						</button>
					</div>
				</div>

				<div class="illustrate border mb-3 p-2 rounded">
					<div class="d-flex justify-content-between w-100">
						<span class="input-group-text bg-transparent border-0 p-0 required_text">詳細說明</span>
						<div class="illustrate_count">0</div>
					</div>
					<div id="CollapseIllustrate" class="collapse show">
						<textarea id="InputIllustrate" class="form-control border-0" aria-label="With textarea" maxlength="3000" placeholder="輸入詳細說明" required></textarea>
					</div>
					<div class="d-flex justify-content-center">
						<button class="btn_expand d-flex border-0 bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#CollapseIllustrate" aria-expanded="false" aria-controls="CollapseIllustrate">
							<span class="material-symbols-outlined fs-3">expand_more</span>
						</button>
					</div>
				</div>

				<div class="marks input-group mb-3">
					<div class="position-absolute ps-2 top-50 d-flex translate-middle-y z-index-up">
						<span class="material-symbols-outlined me-1">bookmark</span>選擇標章
					</div>
					<input id="InputMarks" class="form-control rounded" type="text" aria-label="Input Marks of Product">
				</div>

				<div class="tag input-group mb-3">
					<div class="position-absolute ps-2 top-50 d-flex translate-middle-y z-index-up">
						<span class="material-symbols-outlined me-1">alternate_email</span>標籤
					</div>
					<input id="InputTag" class="form-control rounded" type="text" aria-label="Input Tag of Product">
				</div>

				<div class="price input-group mb-3">
					<div class="position-absolute ps-2 top-50 d-flex translate-middle-y z-index-up">
						<span class="material-symbols-outlined me-1 required_sign">attach_money</span>價格
					</div>
					<input id="InputPrice" class=" form-control rounded" type="number" aria-label="Input Price of Product" required>
				</div>

				<div class="number input-group mb-3">
					<div class="position-absolute ps-2 top-50 d-flex translate-middle-y z-index-up">
						<span class="material-symbols-outlined me-1">bubble_chart</span>商品數量
					</div>
					<input id="InputNumber" class="form-control rounded" type="number" aria-label="Input Number of Product">
				</div>

				<div class="min_number input-group mb-3">
					<div class="position-absolute ps-2 top-50 d-flex translate-middle-y z-index-up">
						<span class="material-symbols-outlined me-1">bubble_chart</span>最低購買量
					</div>
					<input id="InputMinNumber" class="form-control rounded" type="number" aria-label="Input MinNumber of Product">
				</div>

				<div class="date input-group mb-3">
					<div class="position-absolute ps-2 top-50 d-flex translate-middle-y z-index-up">
						<span class="material-symbols-outlined me-1 required_sign">calendar_today</span>設定上架日期
					</div>
					<input id="InputDate" class="form-control rounded" type="text" aria-label="Input Duration of Product" name="datetimes" pattern="[1-9]\d{3}/\d{2}/\d{2} \d{2}:\d{2} ~ [1-9]\d{3}/\d{2}/\d{2} \d{2}:\d{2}" autocomplete="off" required>
					<div class="checkbox position-absolute end-0 top-50 translate-middle-y z-index-up">
						<input id="PermanentCheck" class="form-check-input" type="checkbox" value="">
						<label class="form-check-label fs-6 pe-2" for="PermanentCheck">永久顯示</label>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>