@using DevExtreme.AspNet.Mvc
@using EtheriT.Coker.Application.Shared.Dto.Product
@{
	ViewData["Title"] = "TechnicalCertificate";
}

<link rel="stylesheet" href="~/css/ProductManagement/TechnicalCertificate.min.css" asp-append-version="true" />
<script src="~/js/ProductManagement/TechnicalCertificate.min.js" asp-append-version="true"></script>

<div class="">
	<div id="TopLine" class="d-flex justify-content-between mb-3 px-4">
		<div class="title fw-bold fs-3">技術證照</div>
	</div>
</div>