<link rel="stylesheet" href="~/css/Page/Catalog.min.css" asp-append-version="true" />
<script src="~/js/Page/Catalog.min.js" asp-append-version="true"></script>

<nav id="Breadcrumb" class="container mt-3" aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">首頁</a></li>
		<li class="breadcrumb-item">Derek商品</li>
		<li class="breadcrumb-item active" aria-current="page">線上型錄</li>
	</ol>
</nav>

<div class="fs-2 mb-4 text-center">線上型錄</div>

<div id="Catalog" class="container my-5">
	<ul class="row gx-2 row-cols-2 row-cols-sm-4 row-cols-lg-6">
		<li class="catalog_item col mb-4">
			<div class="img_frame position-relative">
				<img class="catalog_img img-fluid border p-2 bg-white" src="~/upload/mu_0.jpg" alt="catalog" />
				<div class="btn_more position-absolute h-100 w-100 top-0 align-items-center justify-content-center">
					<a href=""><div class="text rounded-circle d-flex justify-content-center align-items-center gray_text fs-6">More</div></a>
				</div>
			</div>
			<div class="catalog_title catalog_title gray_text p-2">DEREK系列產品 - 馬桶、電腦馬桶蓋</div>
		</li>

		<li class="catalog_item col mb-4">
			<div class="img_frame position-relative">
				<img class="catalog_img img-fluid border p-2 bg-white" src="~/upload/mu_0.jpg" alt="catalog" />
				<div class="btn_more position-absolute h-100 w-100 top-0 align-items-center justify-content-center">
					<a href=""><div class="text rounded-circle d-flex justify-content-center align-items-center gray_text fs-6">More</div></a>
				</div>
			</div>
			<div class="catalog_title catalog_title gray_text p-2">DEREK系列產品 - 馬桶、電腦馬桶蓋</div>
		</li>
		<li class="catalog_item col mb-4">
			<div class="img_frame position-relative">
				<img class="catalog_img img-fluid border p-2 bg-white" src="~/upload/mu_0.jpg" alt="catalog" />
				<div class="btn_more position-absolute h-100 w-100 top-0 align-items-center justify-content-center">
					<a href=""><div class="text rounded-circle d-flex justify-content-center align-items-center gray_text fs-6">More</div></a>
				</div>
			</div>
			<div class="catalog_title catalog_title gray_text p-2">DEREK系列產品 - 馬桶、電腦馬桶蓋</div>
		</li>
		<li class="catalog_item col mb-4">
			<div class="img_frame position-relative">
				<img class="catalog_img img-fluid border p-2 bg-white" src="~/upload/mu_0.jpg" alt="catalog" />
				<div class="btn_more position-absolute h-100 w-100 top-0 align-items-center justify-content-center">
					<a href=""><div class="text rounded-circle d-flex justify-content-center align-items-center gray_text fs-6">More</div></a>
				</div>
			</div>
			<div class="catalog_title catalog_title gray_text p-2">DEREK系列產品 - 馬桶、電腦馬桶蓋</div>
		</li>
		<li class="catalog_item col mb-4">
			<div class="img_frame position-relative">
				<img class="catalog_img img-fluid border p-2 bg-white" src="~/upload/mu_0.jpg" alt="catalog" />
				<div class="btn_more position-absolute h-100 w-100 top-0 align-items-center justify-content-center">
					<a href=""><div class="text rounded-circle d-flex justify-content-center align-items-center gray_text fs-6">More</div></a>
				</div>
			</div>
			<div class="catalog_title catalog_title gray_text p-2">DEREK系列產品 - 馬桶、電腦馬桶蓋</div>
		</li>
		<li class="catalog_item col mb-4">
			<div class="img_frame position-relative">
				<img class="catalog_img img-fluid border p-2 bg-white" src="~/upload/mu_0.jpg" alt="catalog" />
				<div class="btn_more position-absolute h-100 w-100 top-0 align-items-center justify-content-center">
					<a href=""><div class="text rounded-circle d-flex justify-content-center align-items-center gray_text fs-6">More</div></a>
				</div>
			</div>
			<div class="catalog_title catalog_title gray_text p-2">DEREK系列產品 - 馬桶、電腦馬桶蓋</div>
		</li>
		<li class="catalog_item col mb-4">
			<div class="img_frame position-relative">
				<img class="catalog_img img-fluid border p-2 bg-white" src="~/upload/mu_0.jpg" alt="catalog" />
				<div class="btn_more position-absolute h-100 w-100 top-0 align-items-center justify-content-center">
					<a href=""><div class="text rounded-circle d-flex justify-content-center align-items-center gray_text fs-6">More</div></a>
				</div>
			</div>
			<div class="catalog_title catalog_title gray_text p-2">DEREK系列產品 - 馬桶、電腦馬桶蓋</div>
		</li>
		<li class="catalog_item col mb-4">
			<div class="img_frame position-relative">
				<img class="catalog_img img-fluid border p-2 bg-white" src="~/upload/mu_0.jpg" alt="catalog" />
				<div class="btn_more position-absolute h-100 w-100 top-0 align-items-center justify-content-center">
					<a href=""><div class="text rounded-circle d-flex justify-content-center align-items-center gray_text fs-6">More</div></a>
				</div>
			</div>
			<div class="catalog_title catalog_title gray_text p-2">DEREK系列產品 - 馬桶、電腦馬桶蓋</div>
		</li>
		<li class="catalog_item col mb-4">
			<div class="img_frame position-relative">
				<img class="catalog_img img-fluid border p-2 bg-white" src="~/upload/mu_0.jpg" alt="catalog" />
				<div class="btn_more position-absolute h-100 w-100 top-0 align-items-center justify-content-center">
					<a href=""><div class="text rounded-circle d-flex justify-content-center align-items-center gray_text fs-6">More</div></a>
				</div>
			</div>c
			<div class="catalog_title catalog_title gray_text p-2">DEREK系列產品 - 馬桶、電腦馬桶蓋</div>
		</li>
		<li class="catalog_item col mb-4">
			<div class="img_frame position-relative">
				<img class="catalog_img img-fluid border p-2 bg-white" src="~/upload/mu_0.jpg" alt="catalog" />
				<div class="btn_more position-absolute h-100 w-100 top-0 align-items-center justify-content-center">
					<a href=""><div class="text rounded-circle d-flex justify-content-center align-items-center gray_text fs-6">More</div></a>
				</div>
			</div>
			<div class="catalog_title catalog_title gray_text p-2">DEREK系列產品 - 馬桶、電腦馬桶蓋</div>
		</li>
		<li class="catalog_item col mb-4">
			<div class="img_frame position-relative">
				<img class="catalog_img img-fluid border p-2 bg-white" src="~/upload/mu_0.jpg" alt="catalog" />
				<div class="btn_more position-absolute h-100 w-100 top-0 align-items-center justify-content-center">
					<a href=""><div class="text rounded-circle d-flex justify-content-center align-items-center gray_text fs-6">More</div></a>
				</div>
			</div>
			<div class="catalog_title catalog_title gray_text p-2">DEREK系列產品 - 馬桶、電腦馬桶蓋</div>
		</li>
		<li class="catalog_item col mb-4">
			<div class="img_frame position-relative">
				<img class="catalog_img img-fluid border p-2 bg-white" src="~/upload/mu_0.jpg" alt="catalog" />
				<div class="btn_more position-absolute h-100 w-100 top-0 align-items-center justify-content-center">
					<a href=""><div class="text rounded-circle d-flex justify-content-center align-items-center gray_text fs-6">More</div></a>
				</div>
			</div>
			<div class="catalog_title catalog_title gray_text p-2">DEREK系列產品 - 馬桶、電腦馬桶蓋</div>
		</li>

		<!--
			<template>
				<li class="catalog_item col mb-4">
					<div class="img_frame position-relative">
						<img class="catalog_img img-fluid border p-2 bg-white" src="" alt="catalog" />
						<div class="btn_more position-absolute h-100 w-100 top-0 align-items-center justify-content-center">
							<a href=""><div class="text rounded-circle d-flex justify-content-center align-items-center gray_text fs-6">More</div></a>
						</div>
					</div>
					<div class="catalog_title catalog_title gray_text p-2"></div>
				</li>
			</template>
		-->

	</ul>
</div>