
<link rel="stylesheet" href="~/css/Page/ExhibitionCenter.min.css" asp-append-version="true" />
<script src="~/js/Page/ExhibitionCenter.min.js" asp-append-version="true"></script>

<nav id="Breadcrumb" class="container mt-3" aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/@ViewData["OrgName"]/home">首頁</a></li>
		<li class="breadcrumb-item active" aria-current="page">展示中心</li>
	</ol>
</nav>

<div class="fs-2 text-center bigtitle">展示中心</div>

<div id="Content" class="container masonry my-5">
	<ul class="grid">
		<li class="grid-item p-3 border-0">
			<figure class="content overflow-hidden bg-white">
				<div class="hover_inside_scale">
					<img class="w-100 h-auto" src="~/upload/mu_2.jpg" alt="" />
				</div>
				<figcaption class="px-4 py-2">
					<div class="title fs-4 fw-bold">展示中心</div>
					<div class="content">內容說明內容說明內容說明內容說明內容說明內容說明內容說明</div>
					<div class="update_time mt-2">2022/11/23</div>
				</figcaption>
			</figure>
		</li>

		<li class="grid-item p-3 border-0">
			<div class="content p-4 bg-white">
				<div class="title fs-4 fw-bold">展示中心</div>
				<div class="content">內容說明內容說明內容說明內容說明內容說明內容說明內容說明內容說明內容說明內容說明內容說明內容說明內容說明內容說明</div>
				<div class="update_time mt-2">2022/11/23</div>
			</div>
		</li>

		<li class="grid-item p-3 border-0">
			<figure class="content overflow-hidden bg-white">
				<div class="hover_inside_scale">
					<img class="w-100 h-auto" src="~/upload/other_page_3.jpg" alt="" />
				</div>
				<figcaption class="px-4 py-2">
					<div class="title fs-4 fw-bold">展示中心</div>
					<div class="content">內容說明內容說明內容說明內容說明內容說明內容說明內容說明</div>
					<div class="update_time mt-2">2022/11/23</div>
				</figcaption>
			</figure>
		</li>

		<li class="grid-item p-3 border-0">
			<figure class="content overflow-hidden bg-white">
				<div class="hover_inside_scale">
					<img class="w-100 h-auto" src="~/upload/mu_2.jpg" alt="" />
				</div>
				<figcaption class="px-4 py-2">
					<div class="title fs-4 fw-bold">展示中心</div>
					<div class="content">內容說明內容說明內容說明內容說明內容說明內容說明內容說明</div>
					<div class="update_time mt-2">2022/11/23</div>
				</figcaption>
			</figure>
		</li>

		<li class="grid-item p-3 border-0">
			<figure class="content overflow-hidden bg-white">
				<div class="hover_inside_scale">
					<img class="w-100 h-auto" src="~/upload/other_page_3.jpg" alt="" />
				</div>
				<figcaption class="px-4 py-2">
					<div class="title fs-4 fw-bold">展示中心</div>
					<div class="content">內容說明內容說明內容說明內容說明內容說明內容說明內容說明</div>
					<div class="update_time mt-2">2022/11/23</div>
				</figcaption>
			</figure>
		</li>

		<li class="grid-item p-3 border-0">
			<div class="content p-4 bg-white">
				<div class="title fs-4 fw-bold">展示中心</div>
				<div class="content">內容說明內容說明內容說明內容說明內容說明內容說明內容說明</div>
				<div class="update_time mt-2">2022/11/23</div>
			</div>
		</li>

		<li class="grid-item p-3 border-0">
			<figure class="content overflow-hidden bg-white">
				<div class="hover_inside_scale">
					<img class="w-100 h-auto" src="~/upload/mu_2.jpg" alt="" />
				</div>
				<figcaption class="px-4 py-2">
					<div class="title fs-4 fw-bold">展示中心</div>
					<div class="content">內容說明內容說明內容說明內容說明內容說明內容說明內容說明</div>
					<div class="update_time mt-2">2022/11/23</div>
				</figcaption>
			</figure>
		</li>

		<!--<template id="TemplateGridText">
			<div class="content p-4 bg-white">
				<div class="title fs-4 fw-bold"></div>
				<div class="content"></div>
				<div class="update_time mt-2"></div>
			</div>
		</template>
		-->
		<!--<template id="TemplateGridImg">
			<figure class="content overflow-hidden bg-white">
				<div class="overflow-hidden">
					<img class="w-100 h-auto" src="" alt="" />
				</div>
				<figcaption class="px-4 py-2">
					<div class="title fs-4 fw-bold"></div>
					<div class="content"></div>
					<div class="update_time mt-2"></div>
				</figcaption>
			</figure>
		</template>
		-->

	</ul>
</div>
