@using System.Web;
@using EtheriT.Coker.Web.Public.Models;
@model PageViewModel
@{
    ViewData["SideName"] = Model.PageData.SiteName;
    ViewData["PageName"] = Model.PageData.Title;
    ViewData["Description"] = Model.PageData.Description;
    ViewData["CurrentUrl"] = Model.PageData.CurrentUrl;
}
<link rel="stylesheet" href="~/Shared/css/Frame.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Shared/css/Swiper.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Shared/css/HoverEffect.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Shared/css/Directory.min.css" asp-append-version="true" />
<script src="~/Shared/js/Frame.min.js" asp-append-version="true"></script>
<script src="~/Shared/js/Swiper.min.js" asp-append-version="true"></script>
<script src="~/Shared/js/ViewTypeChange.min.js" asp-append-version="true"></script>
<script src="~/Shared/js/Sitemap.min.js" asp-append-version="true"></script>
<script src="~/Shared/js/HoverEffect.min.js" asp-append-version="true"></script>
<script src="~/Shared/js/DirectoryGetData.min.js" asp-append-version="true"></script>

<Content class="d-none">@HttpUtility.HtmlEncode(Model.PageData.Html)</Content>
<div id="PostCSS" class="d-none">@HttpUtility.HtmlEncode(Model.PageData.Css)</div>