
<link rel="stylesheet" href="~/css/Page/OrderManagement.min.css" asp-append-version="true" />
<script src="~/js/Page/OrderManagement.min.js" asp-append-version="true"></script>

<div class="p-5 px-4 position-relative">
	<div id="TopLine" class="d-flex justify-content-between mb-4">
		<div class="title fw-bold fs-5">訂單管理</div>
		<button class="btn_print border-0 px-4 py-1 text-white fw-bold fs-5">列印訂單</button>
	</div>

	<div class="row gx-0">
		<div id="OrderDetails" class="card border-0 col-12 col-lg-9 overflow-auto rounded">
			<div class="card-header fw-bold fs-5 row gx-0 text-end">
				<div class="col-auto">訂單明細</div>
				<div class="col">訂單編號</div>
				<div class="col-auto order_num">000000320</div>
			</div>

			<div class="card-body">
				<div class="row text-end mb-5 gray_text">
					<div class="col">訂單成立時間</div>
					<div class="date_time col-auto">2022-10-23 15:53:31</div>
				</div>

				<ul class="purchase_list px-2 px-sm-5">
					<li class="purchase_item border-bottom align-items-lg-center row py-2">
						<img class="pro_image col-4 col-sm-2" src="/images/product/pro_pic_03.jpg">

						<div class="pro_text col-8 col-sm-6">
							<div class="pro_name fw-bold">C613NA 二段省水奈米高背單體馬桶</div>
							<div class="pro_detail gray_text d-flex flex-wrap">
								<div class="pro_color pe-3">白色</div>
								<div class="pro_specifications">規格說明文字</div>
							</div>
						</div>

						<div class="pro_unit col-auto gray_text text-end">26,200</div>

						<div class="pro_quantity col-auto gray_text text-start">1</div>

						<div class="pro_subtotal col price color_red_number text-end">26,200</div>
					</li>

					<!--
						<template id="Templat_Purchase_List">
							<li class="purchase_item border-bottom align-items-lg-center row py-2">
								<img class="pro_image col-4 col-sm-2" src="/images/product/pro_pic_03.jpg">

								<div class="pro_text col-8 col-sm-6">
									<div class="pro_name fw-bold">C613NA 二段省水奈米高背單體馬桶</div>
									<div class="pro_detail gray_text d-flex flex-wrap">
										<div class="pro_color pe-3">白色</div>
										<div class="pro_specifications">規格說明文字</div>
									</div>
								</div>

								<div class="pro_unit col-auto gray_text text-end">26,200</div>

								<div class="pro_quantity col-auto gray_text text-start">1</div>

								<div class="pro_subtotal col price color_red_number text-end">26,200</div>
							</li>
						</template>
					-->
				</ul>

				<div class="purchase_amount px-2 px-sm-5">
					<div class="border-bottom py-2 text-end">
						<div class="d-flex">
							<div class="col fw-bold">總金額：</div>
							<div class="purchase_subtotal price color_red_number col-4 col-lg-1 col-sm-2">26,200</div>
						</div>
						<div class="d-flex">
							<div class="col fw-bold">運費：</div>
							<div class="purchase_delivery_fee price color_red_number col-4 col-lg-1 col-sm-2">0</div>
						</div>
					</div>
					<div class="row align-items-center text-end fw-bold">
						<div class="col p-0">本次消費總金額：</div>
						<div class="purchase_total price color_red_number col-auto py-3 fs-5 text-end">26,200</div>
					</div>
				</div>
			</div>
		</div>

		<div id="ManagementData" class="" data-bs-scroll="true" tabindex="-1" aria-labelledby="Management Data Offcanvas">
			<div class="offcanvas-header d-md-none">
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>

			<div class="offcanvas-body pt-0">
				<div id="OrderData" class="card rounded border-0 mb-3">
					<div class="card-body">
						<div class="fs-5 fw-bold pb-2">訂單資料</div>

						<div class="row">
							<div class="col-auto pe-0">
								<div class="gray_text">受訂單號：</div>
								<div class="gray_text">物流方式：</div>
								<div class="gray_text">付款方式：</div>
							</div>
							<div class="col ps-0">
								<div class="order_number">20210128003</div>
								<div class="order_shipping">郵寄掛號</div>
								<div class="order_payment">LINE Pay</div>
							</div>
						</div>

						<div class="d-flex flex-wrap justify-content-between pb-3 pt-5">
							<div class="d-flex align-items-center">
								<div class="fw-bold fs-5">狀態：</div>
								<select class="status-select m-2" aria-label="Select status">
									<option value="confirmed">待確認</option>
									<option value="shipping">已出貨</option>
									<option value="cancel">已取消</option>
									<option value="fail">付款失敗</option>
								</select>
							</div>
							<button class="btn_send_notification border-0 text-white px-1 my-2 m-xl-0">發送出貨通知</button>
						</div>

						<p class="gray_text">※訂單狀態改為『已取消』和『付款失敗』後，將不能再對訂單狀態進行修改</p>
					</div>
				</div>

				<div id="RecipientData" class="card rounded border-0 mb-3">
					<div class="card-body">
						<div class="fs-5 fw-bold pb-2">收件人資料</div>

						<div class="row fw-bold">
							<div class="col-auto pe-0">
								<div>姓　　名：</div>
								<div>手機號碼：</div>
								<div>連絡電話：</div>
								<div>地　　址：</div>
							</div>
							<div class="col">
								<div class="recipient_name">收件人</div>
								<div class="recipient_cellphone">0987654321</div>
								<div class="recipient_phone">07-1234567</div>
								<div class="recipient_address">806高雄市</div>
							</div>
						</div>
					</div>
				</div>

				<div id="OrdererData" class="card rounded border-0 mb-3">
					<div class="card-body">
						<div class="fs-5 fw-bold pb-2">訂購人資料</div>

						<div class="row gray_text">
							<div class="col-auto pe-0">
								<div>姓　　名：</div>
								<div>手機號碼：</div>
								<div>連絡電話：</div>
							</div>
							<div class="col">
								<div class="d-flex">
									<div class="orderer_name">訂購人</div>
									<button class="btn_orderer_data bg-transparent border-0">
										<i class="fa-regular fa-address-card gray_text"></i>
									</button>
								</div>
								<div class="orderer_cellphone">0987654321</div>
								<div class="orderer_phone">07-1234567</div>
							</div>
						</div>
					</div>
				</div>

				<div id="OrderNotes" class="card rounded border-0 mb-3">
					<div class="card-body">
						<div class="fs-5 fw-bold pb-2">訂單備註</div>
						<div class="ordernotes gray_text">無</div>
					</div>
				</div>

				<div id="CustomerServiceMemo" class="card rounded border-0 mb-5">
					<div class="card-body d-flex flex-column">
						<div class="fs-5 fw-bold pb-2">客服專用-Memo區</div>
						<textarea class="memo_block form-control flex-grow-1" rows="3"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>

	<button id="Btn_Side_Collapse" class="position-fixed end-0 border-0 shadow position-relative" type="button" data-bs-toggle="offcanvas" data-bs-target="#ManagementData" aria-controls="offcanvasWithBothOptions">
		<div class="above position-absolute end-0"></div>
		<div>右側收合</div>
		<div class="under position-absolute end-0"></div>
	</button>

</div>
