@using EtheriT.Coker.Web.Public.Views.Shared.Components.Modal

<link rel="stylesheet" href="~/css/Page/Product.css" asp-append-version="true" />
<script src="~/js/Page/Product.js" asp-append-version="true"></script>

<div id="ShoppingCarModal" class="modal fade" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
	@await Component.InvokeAsync(nameof(Modal), new {dispaly = "ShoppingCarModal"})
</div>

<nav id="Breadcrumb" class="container mt-3" aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">首頁</a></li>
		<li class="breadcrumb-item">Derek商品</li>
		<li class="breadcrumb-item active" aria-current="page">馬桶</li>
	</ol>
</nav>

<div id="Filter" class="container-fluid">
	<div class="container row m-auto  px-0 py-3 justify-content-sm-between justify-content-center align-items-center">
		<div class="col-auto col-md row align-items-center">
			<div class="title col-auto fs-3 fw-bold">馬桶</div>
			<div class="total col-auto">共<span>50</span>個品項</div>
		</div>
		<div class="sort col-auto">
			<button class="btn_sort_hot border-0 bg-transparent">熱門搜尋</button>
			<button class="btn_sort_price border-0 bg-transparent">
				價格
				<i class="fa-solid fa-arrows-up-down"></i>
			</button>
		</div>
		<div class="range col-auto row mt-1 mt-sm-0">
			<input class="price_low col px-1 text-end" type="number" placeholder="最低價">
			<div class="text-center col-auto align-self-center">~</div>
			<input class="price_high col px-1 text-end" type="number" placeholder="最高價">
			<button class="btn_confirm border-0 text-white col-auto ms-2" type="button">確認</button>
		</div>
	</div>
</div>

<div class="container">
	<div class="tick_area row border m-auto mt-4 mb-0 align-items-center">
		<div class="title col-auto px-4 hstack">分類</div>
		<ul class="col row my-2">
			<li class="col-auto p-0 mx-2">智慧馬桶(10)</li>
			<li class="col-auto p-0 mx-2">單體馬桶(30)</li>
			<li class="col-auto p-0 mx-2">二件式馬桶(17)</li>
			<li class="col-auto p-0 mx-2">幼兒馬桶(5)</li>
			<li class="col-auto p-0 mx-2">奈米馬桶(10)</li>
			<li class="col-auto p-0 mx-2">蹲式馬桶(10)</li>
			<li class="col-auto p-0 mx-2">高背馬桶(20)</li>
			<li class="col-auto p-0 mx-2">馬桶蓋(20)</li>
		</ul>
	</div>
</div>

<div class="fs-2 my-4 text-center">猜您會喜歡</div>
<div id="GuessYouLikeSwiper" class="swiper_four_grid container-fluid py-4 position-relative">
	<div class="swiper container">
		<div class="swiper-wrapper container px-0">
			<figure class="card swiper-slide border-0">
				<a class="card-img-top text-center" href="Toilet/01"><img class="w-75" src="~/images/product/pro_pic_01.jpg" alt="" /></a>
				<figcaption class="position-relative">
					<div class="top_line position-absolute">
						<button class="btn_favorites bg-transparent border-0 pe-0">
							<i class="fs-5 fa-regular fa-heart"></i>
						</button>
						<button class="btn_share position-relative bg-transparent border-0 pe-0">
							<i class="fs-5 fa-solid fa-share"></i>
						</button>
					</div>

					<div class="card-body">
						<h5 class="card-title price fw-bold">9,100</h5>
						<p class="">CS230一段省水分離式幼兒馬桶</p>
					</div>

					<div class="bottom_line position-absolute row m-auto align-items-center justify-content-evenly">
						<ul class="pro_tag col p-0 m-0 d-flex flex-wrap overflow-hidden">
							<li class="rounded-pill me-1 px-3 py-1">一段省水</li>
							<li class="rounded-pill me-1 px-3 py-1">幼兒</li>
						</ul>
						<button class="btn_cart border-0 col-auto bg-transparent p-0" data-bs-toggle="modal" data-bs-target="#ShoppingCarModal">
							<span class="fa-stack">
								<i class="fa-solid fa-circle fa-stack-2x"></i>
								<i class="fa-solid fa-cart-shopping fa-stack-1x fa-inverse"></i>
							</span>
						</button>
					</div>
				</figcaption>
			</figure>

			<figure class="card swiper-slide border-0">
				<a class="card-img-top text-center" href="Toilet/02"><img class="w-75" src="~/images/product/pro_pic_02.jpg" alt="" /></a>
				<figcaption class="position-relative">
					<div class="top_line position-absolute">
						<button class="btn_favorites bg-transparent border-0 pe-0">
							<i class="fs-5 fa-regular fa-heart"></i>
						</button>
						<button class="btn_share position-relative bg-transparent border-0 pe-0">
							<i class="fs-5 fa-solid fa-share"></i>
						</button>
					</div>

					<div class="card-body">
						<h5 class="card-title price fw-bold">11,900</h5>
						<p class="">CS606 上押一段省水馬桶</p>
					</div>

					<div class="bottom_line position-absolute row m-auto align-items-center justify-content-evenly">
						<ul class="pro_tag col p-0 m-0 d-flex flex-wrap overflow-hidden">
							<li class="rounded-pill me-1 px-3 py-1">一段省水</li>
						</ul>
						<button class="btn_cart border-0 col-auto bg-transparent p-0" data-bs-toggle="modal" data-bs-target="#ShoppingCarModal">
							<span class="fa-stack">
								<i class="fa-solid fa-circle fa-stack-2x"></i>
								<i class="fa-solid fa-cart-shopping fa-stack-1x fa-inverse"></i>
							</span>
						</button>
					</div>
				</figcaption>
			</figure>

			<figure class="card swiper-slide border-0">
				<a class="card-img-top text-center" href="Toilet/03"><img class="w-75" src="~/images/product/pro_pic_03.jpg" alt="" /></a>
				<figcaption class="position-relative">
					<div class="top_line position-absolute">
						<button class="btn_favorites bg-transparent border-0 pe-0">
							<i class="fs-5 fa-regular fa-heart"></i>
						</button>
						<button class="btn_share position-relative bg-transparent border-0 pe-0">
							<i class="fs-5 fa-solid fa-share"></i>
						</button>
					</div>

					<div class="card-body">
						<h5 class="card-title price fw-bold">26,200</h5>
						<p class="">C613NA 二段省水奈米高背單體馬桶</p>
					</div>

					<div class="bottom_line position-absolute row m-auto align-items-center justify-content-evenly">
						<ul class="pro_tag col p-0 m-0 d-flex flex-wrap overflow-hidden">
							<li class="rounded-pill me-1 px-3 py-1">二段省水</li>
							<li class="rounded-pill me-1 px-3 py-1">單體</li>
						</ul>
						<button class="btn_cart border-0 col-auto bg-transparent p-0" data-bs-toggle="modal" data-bs-target="#ShoppingCarModal">
							<span class="fa-stack">
								<i class="fa-solid fa-circle fa-stack-2x"></i>
								<i class="fa-solid fa-cart-shopping fa-stack-1x fa-inverse"></i>
							</span>
						</button>
					</div>
				</figcaption>
			</figure>

			<figure class="card swiper-slide border-0">
				<a class="card-img-top text-center" href="Toilet/04"><img class="w-75" src="~/images/product/pro_pic_04.jpg" alt="" /></a>
				<figcaption class="position-relative">
					<div class="top_line position-absolute">
						<button class="btn_favorites bg-transparent border-0 pe-0">
							<i class="fs-5 fa-regular fa-heart"></i>
						</button>
						<button class="btn_share position-relative bg-transparent border-0 pe-0">
							<i class="fs-5 fa-solid fa-share"></i>
						</button>
					</div>

					<div class="card-body">
						<h5 class="card-title price fw-bold">25,400</h5>
						<p class="">C612NA 二段省水奈米高背單體馬桶</p>
					</div>

					<div class="bottom_line position-absolute row m-auto align-items-center justify-content-evenly">
						<ul class="pro_tag col p-0 m-0 d-flex flex-wrap overflow-hidden">
							<li class="rounded-pill me-1 px-3 py-1">二段省水</li>
							<li class="rounded-pill me-1 px-3 py-1">單體</li>
						</ul>
						<button class="btn_cart border-0 col-auto bg-transparent p-0" data-bs-toggle="modal" data-bs-target="#ShoppingCarModal">
							<span class="fa-stack">
								<i class="fa-solid fa-circle fa-stack-2x"></i>
								<i class="fa-solid fa-cart-shopping fa-stack-1x fa-inverse"></i>
							</span>
						</button>
					</div>
				</figcaption>
			</figure>
		</div>
	</div>
	<div class="swiper_button container d-flex p-0 justify-content-between position-absolute">
		<button class="btn_swiper_prev_guessyoulike border-0 p-0 text-center bg-transparent fs-3">
			<span class="fa-stack">
				<i class="fa-solid fa-circle fa-stack-2x"></i>
				<i class="fa-solid fa-chevron-left fa-stack-1x fa-inverse"></i>
			</span>
		</button>
		<button class="btn_swiper_next_guessyoulike border-0 p-0 text-center bg-transparent fs-3">
			<span class="fa-stack">
				<i class="fa-solid fa-circle fa-stack-2x"></i>
				<i class="fa-solid fa-chevron-right fa-stack-1x fa-inverse"></i>
			</span>
		</button>
	</div>
</div>

<div id="Ads" class="container-fluid">
	<div class="container">
		<div class="fs-4 fw-bold py-3">廣告</div>
		<div class="card-group">
			<div class="card bg-transparent border-0 me-sm-2 m-0">
				<a href=""><img class="card-img-top w-100" src="~/images/hotad1.jpg" alt="ads_1" /></a>
				<figcaption class="card-body">
					<a class="card-text text-black" href="">母親節來臨，以全新獨立式浴缸系列與「淨未來瞬熱式微電腦馬桶座」，給天下媽媽們一份療癒身心之禮</a>
				</figcaption>
				<ul class="card-footer row bg-transparent border-0 m-0">
					<li class="col-auto ps-0">淨未來</li>
					<li class="col-auto ps-0">全自動</li>
					<li class="col-auto ps-0">冷熱SPA按摩</li>
				</ul>
			</div>
			<figure class="card bg-transparent border-0 ms-sm-2 m-0">
				<a href=""><img class="card-img-top w-100" src="~/images/hotad2.jpg" alt="ads_2" /></a>
				<figcaption class="card-body">
					<a class="card-text text-black" href="">Derek獨立式美型缸系列，以壓克力材質形塑柔和輪廓，分為經典款、魅力款、個性款、古典款，造型多樣、擺放自由度高，完美匹配多種裝潢風格。</a>
				</figcaption>
				<ul class="card-footer row bg-transparent border-0 m-0">
					<li class="col-auto ps-0">浴缸</li>
					<li class="col-auto ps-0">新品</li>
				</ul>
			</figure>
		</div>
	</div>
</div>

<div id="Catalog" class="container bg-warning row m-auto my-5 justify-content-center">
	<div class="text col-md-4 my-5 align-self-center">
		<div class="fs-3 fw-bold">2022</div>
		<div class="align-items-center d-flex fs-2 fw-bold">
			最新型錄
			<span class="fa-stack fa-stack fs-6">
				<i class="fa-solid fa-circle fa-stack-2x"></i>
				<a href="/Catalog">
					<i class="fa-solid fa-chevron-right fa-stack-1x fa-inverse"></i>
				</a>
			</span>
		</div>
		<div class="fs-5 fw-bold">淨．善．靚．美</div>
		<div>用最好的智慧馬桶，守護家的健康生活</div>
	</div>

	<div class="col-md-4 col-sm-12 align-self-center text-center">
		<img class="m-5 w-75" src="~/images/mu_0.png" alt="" />
	</div>
</div>

<div class="fs-2 my-4 text-center">熱門商品</div>
<div id="HotProductsSwiper" class="swiper_four_grid container-fluid py-4 position-relative">
	<div class="swiper container">
		<div class="swiper-wrapper container px-0">
			<figure class="card swiper-slide border-0">
				<a class="card-img-top text-center" href="Toilet/05"><img class="w-75" src="~/images/product/pro_pic_05.jpg" alt="" /></a>
				<figcaption class="position-relative">
					<div class="top_line position-absolute">
						<button class="btn_favorites bg-transparent border-0 pe-0">
							<i class="fs-5 fa-regular fa-heart"></i>
						</button>
						<button class="btn_share position-relative bg-transparent border-0 pe-0">
							<i class="fs-5 fa-solid fa-share"></i>
						</button>
					</div>

					<div class="card-body">
						<h5 class="card-title price fw-bold">105,000</h5>
						<p class="">C656NA 德瑞克Smart Ⅱ雙漩洗智慧馬桶</p>
					</div>

					<div class="bottom_line position-absolute row m-auto align-items-center justify-content-evenly">
						<ul class="pro_tag col p-0 m-0 d-flex flex-wrap overflow-hidden">
							<li class="rounded-pill me-1 px-3 py-1">一段省水</li>
							<li class="rounded-pill me-1 px-3 py-1">雙漩洗</li>
						</ul>
						<button class="btn_cart border-0 col-auto bg-transparent p-0" data-bs-toggle="modal" data-bs-target="#ShoppingCarModal">
							<span class="fa-stack">
								<i class="fa-solid fa-circle fa-stack-2x"></i>
								<i class="fa-solid fa-cart-shopping fa-stack-1x fa-inverse"></i>
							</span>
						</button>
					</div>
				</figcaption>
			</figure>

			<figure class="card swiper-slide border-0">
				<a class="card-img-top text-center" href="Toilet/06"><img class="w-75" src="~/images/product/pro_pic_06.jpg" alt="" /></a>
				<figcaption class="position-relative">
					<div class="top_line position-absolute">
						<button class="btn_favorites bg-transparent border-0 pe-0">
							<i class="fs-5 fa-regular fa-heart"></i>
						</button>
						<button class="btn_share position-relative bg-transparent border-0 pe-0">
							<i class="fs-5 fa-solid fa-share"></i>
						</button>
					</div>

					<div class="card-body">
						<h5 class="card-title price fw-bold">11,900</h5>
						<p class="">CS606 上押一段省水馬桶</p>
					</div>

					<div class="bottom_line position-absolute row m-auto align-items-center justify-content-evenly">
						<ul class="pro_tag col p-0 m-0 d-flex flex-wrap overflow-hidden">
							<li class="rounded-pill me-1 px-3 py-1">一段省水</li>
							<li class="rounded-pill me-1 px-3 py-1">幼兒</li>
						</ul>
						<button class="btn_cart border-0 col-auto bg-transparent p-0" data-bs-toggle="modal" data-bs-target="#ShoppingCarModal">
							<span class="fa-stack">
								<i class="fa-solid fa-circle fa-stack-2x"></i>
								<i class="fa-solid fa-cart-shopping fa-stack-1x fa-inverse"></i>
							</span>
						</button>
					</div>
				</figcaption>
			</figure>

			<figure class="card swiper-slide border-0">
				<a class="card-img-top text-center" href="Toilet/07"><img class="w-75" src="~/images/product/pro_pic_07.jpg" alt="" /></a>
				<figcaption class="position-relative">
					<div class="top_line position-absolute">
						<button class="btn_favorites bg-transparent border-0 pe-0">
							<i class="fs-5 fa-regular fa-heart"></i>
						</button>
						<button class="btn_share position-relative bg-transparent border-0 pe-0">
							<i class="fs-5 fa-solid fa-share"></i>
						</button>
					</div>

					<div class="card-body">
						<h5 class="card-title price fw-bold">26,200</h5>
						<p class="">C613NA二段省水奈米高背單體馬桶</p>
					</div>

					<div class="bottom_line position-absolute row m-auto align-items-center justify-content-evenly">
						<ul class="pro_tag col p-0 m-0 d-flex flex-wrap overflow-hidden">
							<li class="rounded-pill me-1 px-3 py-1">二段省水</li>
							<li class="rounded-pill me-1 px-3 py-1">單體</li>
						</ul>
						<button class="btn_cart border-0 col-auto bg-transparent p-0" data-bs-toggle="modal" data-bs-target="#ShoppingCarModal">
							<span class="fa-stack">
								<i class="fa-solid fa-circle fa-stack-2x"></i>
								<i class="fa-solid fa-cart-shopping fa-stack-1x fa-inverse"></i>
							</span>
						</button>
					</div>
				</figcaption>
			</figure>

			<figure class="card swiper-slide border-0">
				<a class="card-img-top text-center" href="Toilet/08"><img class="w-75" src="~/images/product/pro_pic_08.jpg" alt="" /></a>
				<figcaption class="position-relative">
					<div class="top_line position-absolute">
						<button class="btn_favorites bg-transparent border-0 pe-0">
							<i class="fs-5 fa-regular fa-heart"></i>
						</button>
						<button class="btn_share position-relative bg-transparent border-0 pe-0">
							<i class="fs-5 fa-solid fa-share"></i>
						</button>
					</div>

					<div class="card-body">
						<h5 class="card-title price fw-bold">25,400</h5>
						<p class="">C612NA 二段省水奈米高背單體馬桶</p>
					</div>

					<div class="bottom_line position-absolute row m-auto align-items-center justify-content-evenly">
						<ul class="pro_tag col p-0 m-0 d-flex flex-wrap overflow-hidden">
							<li class="rounded-pill me-1 px-3 py-1">二段省水</li>
							<li class="rounded-pill me-1 px-3 py-1">單體</li>
						</ul>
						<button class="btn_cart border-0 col-auto bg-transparent p-0" data-bs-toggle="modal" data-bs-target="#ShoppingCarModal">
							<span class="fa-stack">
								<i class="fa-solid fa-circle fa-stack-2x"></i>
								<i class="fa-solid fa-cart-shopping fa-stack-1x fa-inverse"></i>
							</span>
						</button>
					</div>
				</figcaption>
			</figure>
		</div>
	</div>
	<div class="swiper_button container d-flex p-0 justify-content-between position-absolute">
		<button class="btn_swiper_prev_hotproducts border-0 p-0 text-center bg-transparent fs-3">
			<span class="fa-stack">
				<i class="fa-solid fa-circle fa-stack-2x"></i>
				<i class="fa-solid fa-chevron-left fa-stack-1x fa-inverse"></i>
			</span>
		</button>
		<button class="btn_swiper_next_hotproducts border-0 p-0 text-center bg-transparent fs-3">
			<span class="fa-stack">
				<i class="fa-solid fa-circle fa-stack-2x"></i>
				<i class="fa-solid fa-chevron-right fa-stack-1x fa-inverse"></i>
			</span>
		</button>
	</div>
</div>

<div id="Badge" class="gap-1 container">
	<div class="card text-center">
		<img src="~/images/pro_icon1.jpg" alt="" />
		<div class="card-body">
			<h5 class="card-title fw-bold">安心線上付款</h5>
			<p class="card-text">透過SSL加密機制<br>提供安全信用卡付款</p>
		</div>
	</div>

	<div class="vr"></div>

	<div class="card text-center">
		<img src="~/images/pro_icon2.jpg" alt="" />
		<div class="card-body">
			<h5 class="card-title fw-bold">免運服務</h5>
			<p class="card-text">結帳商品滿<span class="price">8000</span>免運費</p>
		</div>
	</div>

	<div class="vr"></div>

	<div class="card text-center">
		<img src="~/images/pro_icon3.jpg" alt="" />
		<div class="card-body">
			<h5 class="card-title fw-bold">售後服務</h5>
			<p class="card-text">享有七天鑑賞期</p>
		</div>
	</div>

	<div class="vr"></div>

	<div class="card text-center">
		<img src="~/images/pro_icon4.jpg" alt="" />
		<div class="card-body">
			<h5 class="card-title fw-bold">商品問與答</h5>
			<p class="card-text">免費服務電話<br>0800-063366</p>
		</div>
	</div>
</div>

<div id="AdsSwiper" class="container position-relative">
	<div class="swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img class="img-fluid" src="~/images/proban1.jpg" alt="" />
			</div>
			<div class="swiper-slide">
				<img class="img-fluid " src="~/images/pro_ban2.jpg" alt="" />
			</div>
		</div>
	</div>
	<div class="swiper_button container d-flex p-0 justify-content-between position-absolute">
		<button class="btn_swiper_prev_ads border-0 p-0 text-center bg-transparent fs-3">
			<span class="fa-stack">
				<i class="fa-solid fa-circle fa-stack-2x"></i>
				<i class="fa-solid fa-chevron-left fa-stack-1x fa-inverse"></i>
			</span>
		</button>
		<button class="btn_swiper_next_ads border-0 p-0 text-center bg-transparent fs-3">
			<span class="fa-stack">
				<i class="fa-solid fa-circle fa-stack-2x"></i>
				<i class="fa-solid fa-chevron-right fa-stack-1x fa-inverse"></i>
			</span>
		</button>
	</div>
</div>

<div class="fs-2 my-4 text-center">相關商品</div>
<div id="RelatedProductsSwiper" class="swiper_four_grid container-fluid py-4 position-relative">
	<div class="swiper container">
		<div class="swiper-wrapper container px-0">
			<figure class="card swiper-slide border-0">
				<a class="card-img-top text-center" href="Toilet/09"><img class="w-75" src="~/images/product/pro_pic_09.jpg" alt="" /></a>
				<figcaption class="position-relative">
					<div class="top_line position-absolute">
						<button class="btn_favorites bg-transparent border-0 pe-0">
							<i class="fs-5 fa-regular fa-heart"></i>
						</button>
						<button class="btn_share position-relative bg-transparent border-0 pe-0">
							<i class="fs-5 fa-solid fa-share"></i>
						</button>
					</div>

					<div class="card-body">
						<h5 class="card-title price fw-bold">2,800</h5>
						<p class="">96657 單桿毛巾架</p>
					</div>

					<div class="bottom_line position-absolute row m-auto align-items-center justify-content-evenly">
						<ul class="pro_tag col p-0 m-0 d-flex flex-wrap overflow-hidden">
							<!--<li class="rounded-pill me-1 px-3 py-1"></li>-->
						</ul>
						<button class="btn_cart border-0 col-auto bg-transparent p-0" data-bs-toggle="modal" data-bs-target="#ShoppingCarModal">
							<span class="fa-stack">
								<i class="fa-solid fa-circle fa-stack-2x"></i>
								<i class="fa-solid fa-cart-shopping fa-stack-1x fa-inverse"></i>
							</span>
						</button>
					</div>
				</figcaption>
			</figure>

			<figure class="card swiper-slide border-0">
				<a class="card-img-top text-center" href="Toilet/09"><img class="w-75" src="~/images/product/pro_pic_10.jpg" alt="" /></a>
				<figcaption class="position-relative">
					<div class="top_line position-absolute">
						<button class="btn_favorites bg-transparent border-0 pe-0">
							<i class="fs-5 fa-regular fa-heart"></i>
						</button>
						<button class="btn_share position-relative bg-transparent border-0 pe-0">
							<i class="fs-5 fa-solid fa-share"></i>
						</button>
					</div>

					<div class="card-body">
						<h5 class="card-title price fw-bold">1,500</h5>
						<p class="">6602 衛生紙架</p>
					</div>

					<div class="bottom_line position-absolute row m-auto align-items-center justify-content-evenly">
						<ul class="pro_tag col p-0 m-0 d-flex flex-wrap overflow-hidden">
							<!--<li class="rounded-pill me-1 px-3 py-1"></li>-->
						</ul>
						<button class="btn_cart border-0 col-auto bg-transparent p-0" data-bs-toggle="modal" data-bs-target="#ShoppingCarModal">
							<span class="fa-stack">
								<i class="fa-solid fa-circle fa-stack-2x"></i>
								<i class="fa-solid fa-cart-shopping fa-stack-1x fa-inverse"></i>
							</span>
						</button>
					</div>
				</figcaption>
			</figure>

			<figure class="card swiper-slide border-0">
				<a class="card-img-top text-center" href="Toilet/09"><img class="w-75" src="~/images/product/pro_pic_09.jpg" alt="" /></a>
				<figcaption class="position-relative">
					<div class="top_line position-absolute">
						<button class="btn_favorites bg-transparent border-0 pe-0">
							<i class="fs-5 fa-regular fa-heart"></i>
						</button>
						<button class="btn_share position-relative bg-transparent border-0 pe-0">
							<i class="fs-5 fa-solid fa-share"></i>
						</button>
					</div>

					<div class="card-body">
						<h5 class="card-title price fw-bold">2,800</h5>
						<p class="">96657 單桿毛巾架</p>
					</div>

					<div class="bottom_line position-absolute row m-auto align-items-center justify-content-evenly">
						<ul class="pro_tag col p-0 m-0 d-flex flex-wrap overflow-hidden">
							<!--<li class="rounded-pill me-1 px-3 py-1"></li>-->
						</ul>
						<button class="btn_cart border-0 col-auto bg-transparent p-0" data-bs-toggle="modal" data-bs-target="#ShoppingCarModal">
							<span class="fa-stack">
								<i class="fa-solid fa-circle fa-stack-2x"></i>
								<i class="fa-solid fa-cart-shopping fa-stack-1x fa-inverse"></i>
							</span>
						</button>
					</div>
				</figcaption>
			</figure>

			<figure class="card swiper-slide border-0">
				<a class="card-img-top text-center" href="Toilet/09"><img class="w-75" src="~/images/product/pro_pic_10.jpg" alt="" /></a>
				<figcaption class="position-relative">
					<div class="top_line position-absolute">
						<button class="btn_favorites bg-transparent border-0 pe-0">
							<i class="fs-5 fa-regular fa-heart"></i>
						</button>
						<button class="btn_share position-relative bg-transparent border-0 pe-0">
							<i class="fs-5 fa-solid fa-share"></i>
						</button>
					</div>

					<div class="card-body">
						<h5 class="card-title price fw-bold">1,500</h5>
						<p class="">6602 衛生紙架</p>
					</div>

					<div class="bottom_line position-absolute row m-auto align-items-center justify-content-evenly">
						<ul class="pro_tag col p-0 m-0 d-flex flex-wrap overflow-hidden">
							<!--<li class="rounded-pill me-1 px-3 py-1"></li>-->
						</ul>
						<button class="btn_cart border-0 col-auto bg-transparent p-0" data-bs-toggle="modal" data-bs-target="#ShoppingCarModal">
							<span class="fa-stack">
								<i class="fa-solid fa-circle fa-stack-2x"></i>
								<i class="fa-solid fa-cart-shopping fa-stack-1x fa-inverse"></i>
							</span>
						</button>
					</div>
				</figcaption>
			</figure>
		</div>
	</div>
	<div class="swiper_button container d-flex p-0 justify-content-between position-absolute">
		<button class="btn_swiper_prev_relatedproducts border-0 p-0 text-center bg-transparent fs-3">
			<span class="fa-stack">
				<i class="fa-solid fa-circle fa-stack-2x"></i>
				<i class="fa-solid fa-chevron-left fa-stack-1x fa-inverse"></i>
			</span>
		</button>
		<button class="btn_swiper_next_relatedproducts border-0 p-0 text-center bg-transparent fs-3">
			<span class="fa-stack">
				<i class="fa-solid fa-circle fa-stack-2x"></i>
				<i class="fa-solid fa-chevron-right fa-stack-1x fa-inverse"></i>
			</span>
		</button>
	</div>
</div>