@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/ProductContent/Index.css" asp-append-version="true" />
<script src="~/js/ProductContent/Index.js" asp-append-version="true"></script>

<div id="CenterLine" class="d-flex align-items-center">
	<div>產品說明</div>
	<div>技術文件</div>
	<div id="shareBlock" class="d-flex align-items-center justify-content-end">
		<div>分享：</div>
	</div>
</div>

<!-- 產品說明 -->
<div id="ProductDescription">
	<p>產品說明內文</p>

	<div id="Warn" class="d-flex">

	</div>

	<img src="~/images/banner/Home/banner.jpg" alt="" />

	@*<iframe src="https://www.youtube.com" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@

</div>


