@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/Page/ProductContent.css" asp-append-version="true" />
<script src="~/js/Page/ProductContent.js" asp-append-version="true"></script>

<nav id="Breadcrumb" class="container mt-3" aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">首頁</a></li>
		<li class="breadcrumb-item">Derek商品</li>
		<li class="breadcrumb-item"><a href="/">馬桶</a></li>
		<li class="breadcrumb-item active" aria-current="page">C659NA德瑞克Smart III淨未來智慧馬桶</li>
	</ol>
</nav>

<div class="container">
	<div id="Product" class="row gx-3">
		<div class="image col-md-6 col-sm-12">
			<div class="swiper_product container-fluid text-center">
				<div class="swiper ProductSwiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="~/images/product/pro_01.png" alt="" />
						</div>

						<div class="swiper-slide">
							<img src="~/images/product/pro_02.png" alt="" />
						</div>

						<div class="swiper-slide">
							<img src="~/images/product/pro_03.png" alt="" />
						</div>

						<div class="swiper-slide">
							<img src="~/images/product/pro_content_01.png" alt="" />
						</div>

						<div class="swiper-slide">
							<img src="~/images/product/pro_content_02.png" alt="" />
						</div>

						<div class="swiper-slide">
							<iframe src="https://www.youtube.com/embed/JGEj2nhPvDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>

						<div class="swiper-slide">
							<img src="~/images/product/pro_pic_01.jpg" alt="" />
						</div>

						<div class="swiper-slide">
							<img src="~/images/product/pro_pic_02.jpg" alt="" />
						</div>

						<div class="swiper-slide">
							<img src="~/images/product/pro_pic_03.jpg" alt="" />
						</div>

						<div class="swiper-slide">
							<img src="~/images/product/pro_pic_04.jpg" alt="" />
						</div>
					</div>
				</div>
				<i class="btn_swiper_next_product fa-solid fa-chevron-right"></i>
				<i class="btn_swiper_prev_product fa-solid fa-chevron-left"></i>
			</div>
			<div thumbsSlider="" class="swiper PreviewSwiper my-3">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="~/images/product/pro_01.png" alt="" />
					</div>

					<div class="swiper-slide">
						<img src="~/images/product/pro_02.png" alt="" />
					</div>

					<div class="swiper-slide">
						<img src="~/images/product/pro_03.png" alt="" />
					</div>

					<div class="swiper-slide">
						<img src="~/images/product/pro_content_01.png" alt="" />
					</div>

					<div class="swiper-slide">
						<img src="~/images/product/pro_content_02.png" alt="" />
					</div>

					<div class="swiper-slide">
						<img src="~/images/product/pro_content_03.png" alt="" />
					</div>

					<div class="swiper-slide">
						<img src="~/images/product/pro_pic_01.jpg" alt="" />
					</div>

					<div class="swiper-slide">
						<img src="~/images/product/pro_pic_02.jpg" alt="" />
					</div>

					<div class="swiper-slide">
						<img src="~/images/product/pro_pic_03.jpg" alt="" />
					</div>

					<div class="swiper-slide">
						<img src="~/images/product/pro_pic_04.jpg" alt="" />
					</div>
				</div>
			</div>

			<ul class="tag my-2">
				<li>奈米</li>
				<li>奈米</li>
				<li>奈米</li>
				<li>奈米</li>
			</ul>
		</div>

		<div class="content col-md-6 col-sm-12">
			<div class="title fs-5">C659NA德瑞克Smart III淨未來智慧馬桶</div>

			<div class="d-flex align-items-center justify-content-between px-3">
				<div class="describe my-2">
					<p>描述<br>描述<br>描述</p>
				</div>
				<div class="track text-center">
					<i class="btn_favorites fa-regular fa-heart"></i>
					<div>追蹤</div>
				</div>
			</div>

			<hr class="m-1" />

			<div class="specification px-4 text-center my-2">
				<p class="text-start w-100">規格<br>規格</p>
				<div class="btn_detailed px-4 py-1 d-inline-flex rounded-pill" type="button">
					<div class="icon_down me-2">詳細規格</div>
				</div>
			</div>

			<div class="certification px-3">
				<div>標章認證</div>
				<ul class="badge d-flex flex-wrap">
					<li><img src="~/images/badge/badge_01.jpg" alt="" /></li>
					<li><img src="~/images/badge/badge_02.jpg" alt="" /></li>
					<li><img src="~/images/badge/badge_03.jpg" alt="" /></li>
					<li><img src="~/images/badge/badge_04.jpg" alt="" /></li>
					<li><img src="~/images/badge/badge_05.jpg" alt="" /></li>
				</ul>
			</div>

			<hr class="m-1" />

			<div class="d-flex justify-content-between align-items-center">
				<div class="d-flex ps-3 align-items-center">
					<div class="price text-decoration-line-through me-2">150,000</div>
					<div class="discount d-flex align-items-center">折扣<span class="fs-4 fw-bold text-danger price">135,000</span></div>
				</div>
				<div class="model pe-3 text-black-50">型號：C659NA</div>
			</div>

			<hr class="m-1" />

			<div class="options px-3 my-2">
				<div class="color d-flex">
					<div>顏色</div>
				</div>
				<div class="amount d-flex">
					<div>數量</div>
				</div>
			</div>

			<div class="btn_buy d-flex align-items-center justify-content-center" type="button">
				<div class="icon_plus">我要購買</div>
			</div>

		</div>
	</div>
</div>

<div id="CenterLine" class="container d-flex pt-sm-0 pt-2 flex-wrap flex-sm-row-reverse align-items-center justify-content-center justify-content-sm-between">
	<div id="shareBlock" class="d-flex align-items-center justify-content-center justify-content-sm-end">
		<div>分享：</div>
	</div>
	<ul id="btn_tab" class="text d-flex pt-2 pt-sm-0 nav nav-pills" role="tablist">
		<li class="nav-item" role="presentation">
			<button id="pills-description-tab" class="mx-sm-0 nav-link active" data-bs-toggle="pill" data-bs-target="#ProductDescription" type="button" role="tab" aria-controls="pills-description" aria-selected="true">產品說明</button>
		</li>
		<li class="nav-item" role="presentation">
			<button id="pills-documents-tab" class="mx-sm-0 nav-link" data-bs-toggle="pill" data-bs-target="#TechnicalDocuments" type="button" role="tab" aria-controls="pills-documents" aria-selected="false">技術文件</button>
		</li>
	</ul>
</div>

<div id="TabContent" class="tab-content">
	<div id="ProductDescription" class="container tab-pane fade show active" role="tabpanel" aria-labelledby="pills-description" tabindex="0">
		<p class="p-3">產品說明內文</p>

		<img class="py-2" src="~/images/banner/Home/banner.jpg" alt="" />

		<iframe src="https://www.youtube.com/embed/JGEj2nhPvDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

		<img class="py-2" src="~/images/banner/Home/banner.jpg" alt="" />
	</div>

	<div id="TechnicalDocuments" class="container tab-pane fade" role="tabpanel" aria-labelledby="pills-documents" tabindex="0">
		<p class="p-3">產品技術文件</p>

		<div class="d-flex align-items-center">
			<div class="image"><img class="py-2" src="~/images\badge\badge_01.jpg" alt="" /></div>
			<div class="text">說明文字</div>
		</div>

		<hr class="m-1" />

		<div class="d-flex align-items-center">
			<div class="image"><img class="py-2" src="~/images\badge\badge_02.jpg" alt="" /></div>
			<div class="text">說明文字</div>
		</div>

		<hr class="m-1" />
		<div class="d-flex align-items-center">
			<div class="image"><img class="py-2" src="~/images\badge\badge_03.jpg" alt="" /></div>
			<div class="text">說明文字</div>
		</div>

		<hr class="m-1" />

		<div class="d-flex align-items-center">
			<div class="image"><img class="py-2" src="~/images\badge\badge_04.jpg" alt="" /></div>
			<div class="text">說明文字</div>
		</div>

		<hr class="m-1" />
	</div>
</div>
