@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/Page/Product.css" asp-append-version="true" />
<script src="~/js/Page/Product.js" asp-append-version="true"></script>

<div id="Title">
	馬桶
</div>
<nav id="Breadcrumb" class="container mt-3" aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">首頁</a></li>
		<li class="breadcrumb-item"><a href="/">Derek商品</a></li>
		<li class="breadcrumb-item active" aria-current="page">馬桶</li>
	</ol>
</nav>

	</div>
</div>

<div id="Classification" class="container row border m-auto my-4 p-0 pe-2 align-items-center">
	<div class="title col-auto px-4 hstack">分類</div>
	<ul class="col row my-2">
		<li class="col-auto">智慧馬桶(10)</li>
		<li class="col-auto">智慧馬桶(10)</li>
		<li class="col-auto">智慧馬桶(10)</li>
		<li class="col-auto">智慧馬桶(10)</li>
		<li class="col-auto">智慧馬桶(10)</li>
		<li class="col-auto">智慧馬桶(10)</li>
		<li class="col-auto">智慧馬桶(10)</li>
		<li class="col-auto">智慧馬桶(20)</li>
		<li class="col-auto">智慧馬桶(20)</li>
		<li class="col-auto">智慧馬桶(20)</li>
		<li class="col-auto">智慧馬桶(20)</li>
		<li class="col-auto">智慧馬桶(20)</li>
		<li class="col-auto">智慧馬桶(20)</li>
		<li class="col-auto">智慧馬桶(20)</li>
	</ul>
</div>

<div class="text-center container_title">猜您會喜歡</div>
<div class="swiper_four_grid container-fluid">
	<div class="swiper GuessYouLikeSwiper">
		<div class="swiper-wrapper">
			<div class="card swiper-slide border-light">
				<a href="toilet/01"><img src="~/images/product/pro_pic_01.jpg" alt="" /></a>
				<div class="card-body">
					<div class="card-title">
						<div class="price">9,100</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<a href="toilet/02"><img src="~/images/product/pro_pic_02.jpg" alt="" /></a>
				<div class="card-body">
					<div class="card-title">
						<div class="price">11,900</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS606 上押一段省水馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<a href="toilet/03"><img src="~/images/product/pro_pic_03.jpg" alt="" /></a>
				<div class="card-body">
					<div class="card-title">
						<div class="price">26,200</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">C613NA 二段省水奈米高背單體馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">二段省水</li>
						<li class="rounded-pill">單體</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<a href="toilet/04"><img src="~/images/product/pro_pic_04.jpg" alt="" /></a>
				<div class="card-body">
					<div class="card-title">
						<div class="price">25,400</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">C612NA 二段省水奈米高背單體馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">二段省水</li>
						<li class="rounded-pill">單體</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>
		</div>
	</div>
	<i class="btn_swiper_next_guessyoulike fa-solid fa-chevron-right"></i>
	<i class="btn_swiper_prev_guessyoulike fa-solid fa-chevron-left"></i>
</div>

<div id="Ads">
	<div class="title">廣告</div>
	<div class="content">
		<div class="frame">
			<a class="image" href=""><img src="~/images/hotad1.jpg" alt="" /></a>
			<div class="describe">
				<a href="">
					母親節來臨，以全新獨立式浴缸系列與「淨未來瞬熱式微電腦馬桶座」，給天下媽媽們一份療癒身心之禮
				</a>
			</div>
			<div class="keywords">
				<ul>
					<li>#淨未來</li>
					<li>#全自動</li>
					<li>#冷熱SPA按摩</li>
				</ul>
			</div>
		</div>
		<div class="frame">
			<a class="image" href=" "><img src="~/images/hotad2.jpg" alt="" /></a>
			<div class="describe">
				<a href="">
					Derek獨立式美型缸系列，以壓克力材質形塑柔和輪廓，分為經典款、魅力款、個性款、古典款，造型多樣、擺放自由度高，完美匹配多種裝潢風格。
				</a>
			</div>
			<div class="keywords">
				<ul>
					<li>#浴缸</li>
					<li>#新品</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="Catalog" class="container bg-warning row m-auto my-5 justify-content-center">
	<div class="text col-md-4 my-5 align-self-center">
		<div class="fs-3 fw-bold">2022</div>
		<div class="align-items-center d-flex fs-2 fw-bold">
			最新型錄
			<span class="fa-stack fa-stack fs-6">
				<i class="fa-solid fa-circle fa-stack-2x"></i>
				<a href="">
					<i class="fa-solid fa-chevron-right fa-stack-1x fa-inverse"></i>
				</a>
			</span>
		</div>
		<div class="fs-5 fw-bold">淨．善．靚．美</div>
		<div>用最好的智慧馬桶，守護家的健康生活</div>
	</div>

	<div class="col-md-4 col-sm-12 align-self-center text-center">
		<img class="m-5 w-75" src="~/images/mu_0.jpg" alt="" />
	</div>
</div>

<div id="Hot_Product_Title" class="text-center container_title">熱門商品</div>
<div class="swiper_four_grid container-fluid">
	<div class="swiper HotProductsSwiper">
		<div class="swiper-wrapper">
			<div class="card swiper-slide border-light">
				<a href="toilet/05"><img src="~/images/product/pro_pic_05.jpg" alt="" /></a>
				<div class="card-body">
					<div class="card-title">
						<div class="price">105,000</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">C656NA 德瑞克Smart Ⅱ雙漩洗智慧馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">雙漩洗</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<a href="toilet/06"><img src="~/images/product/pro_pic_06.jpg" alt="" /></a>
				<div class="card-body">
					<div class="card-title">
						<div class="price">11,900</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS606 上押一段省水馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<a href="toilet/07"><img src="~/images/product/pro_pic_07.jpg" alt="" /></a>
				<div class="card-body">
					<div class="card-title">
						<div class="price">26,200</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">C613NA二段省水奈米高背單體馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">二段省水</li>
						<li class="rounded-pill">單體</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<a href="toilet/08"><img src="~/images/product/pro_pic_08.jpg" alt="" /></a>
				<div class="card-body">
					<div class="card-title">
						<div class="price">25,400</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">C612NA 二段省水奈米高背單體馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">二段省水</li>
						<li class="rounded-pill">單體</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>
		</div>
	</div>
	<i class="btn_swiper_next_hotproducts fa-solid fa-chevron-right"></i>
	<i class="btn_swiper_prev_hotproducts fa-solid fa-chevron-left"></i>
</div>

<div id="Badge" class="gap-1">
	<div class="card text-center">
		<img src="~/images/pro_icon1.jpg" alt="" />
		<div class="card-body">
			<h5 class="card-title fw-bold">安心線上付款</h5>
			<p class="card-text">透過SSL加密機制<br>提供安全信用卡付款</p>
		</div>
	</div>

	<div class="vr"></div>

	<div class="card text-center">
		<img src="~/images/pro_icon2.jpg" alt="" />
		<div class="card-body">
			<h5 class="card-title fw-bold">免運服務</h5>
			<p class="card-text">結帳商品滿<span class="price">8000</span>免運費</p>
		</div>
	</div>

	<div class="vr"></div>

	<div class="card text-center">
		<img src="~/images/pro_icon3.jpg" alt="" />
		<div class="card-body">
			<h5 class="card-title fw-bold">售後服務</h5>
			<p class="card-text">享有七天鑑賞期</p>
		</div>
	</div>

	<div class="vr"></div>

	<div class="card text-center">
		<img src="~/images/pro_icon4.jpg" alt="" />
		<div class="card-body">
			<h5 class="card-title fw-bold">商品問與答</h5>
			<p class="card-text">免費服務電話<br>0800-063366</p>
		</div>
	</div>
</div>

<div class="swiper_ads container-fluid">
	<div class="swiper AdsSwiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img class="img-fluid mx-auto " src="~/images/proban1.jpg" alt="" />
			</div>
			<div class="swiper-slide">
				<img class="img-fluid " src="~/images/pro_ban2.jpg" alt="" />
			</div>
		</div>
	</div>
	<i class="btn_swiper_next_ads fa-solid fa-chevron-right"></i>
	<i class="btn_swiper_prev_ads fa-solid fa-chevron-left"></i>
</div>

<div class="text-center container_title">相關商品</div>
<div class="swiper_four_grid container-fluid">
	<div class="swiper RelatedProductsSwiper">
		<div class="swiper-wrapper">
			<div class="card swiper-slide border-light">
				<a href="toilet/09"><img src="~/images/product/pro_pic_09.jpg" alt="" /></a>
				<div class="card-body">
					<div class="card-title">
						<div class="price">2,800</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">96657 單桿毛巾架</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						@*<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>*@
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<a href="toilet/10"><img src="~/images/product/pro_pic_10.jpg" alt="" /></a>
				<div class="card-body">
					<div class="card-title">
						<div class="price">1,500</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">6602 衛生紙架</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						@*<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>*@
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<a href="toilet/09"><img src="~/images/product/pro_pic_09.jpg" alt="" /></a>
				<div class="card-body">
					<div class="card-title">
						<div class="price">2,800</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">96657 單桿毛巾架</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						@*<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>*@
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<a href="toilet/10"><img src="~/images/product/pro_pic_10.jpg" alt="" /></a>
				<div class="card-body">
					<div class="card-title">
						<div class="price">1,500</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">6602 衛生紙架</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						@*<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>*@
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>
		</div>
	</div>
	<i class="btn_swiper_next_relatedproducts fa-solid fa-chevron-right"></i>
	<i class="btn_swiper_prev_relatedproducts fa-solid fa-chevron-left"></i>
</div>
