
<link rel="stylesheet" href="~/Shared/css/Frame.min.css" asp-append-version="true" />
<script src="~/Shared/js/DirectoryGetData.min.js" asp-append-version="true"></script>
<script src="~/js/Page/Test.min.js" asp-append-version="true"></script>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="cloudimage-360"
                         id="gurkha-suv"
                         data-folder="../upload/Product/"
                         data-filename-x="07a2f775-5d4a-4028-be55-163ab7ec785f.jpg"
                         data-amount-x="1"
                         data-pointer-zoom="2"
                         hide-360-logo=""
                         draggable="false"
                         style="position: relative; width: 100%; cursor: zoom-in;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="container">
    <div class="menu_directory">
        <div class="title custom_h5 fw-bold py-3 px-3"></div>
        <div class="accordion accordion-flush"></div>
        <template id="TemplateAccordionItem">
            <div class="accordion-item border-0 border-bottom">
                <div id="" class="accordion-header">
                    <button class="accordion-button collapsed custom_h5 sectitle" type="button" data-bs-toggle="collapse" data-bs-target="" aria-expanded="false" aria-controls=""></button>
                </div>
                <div id="" class="accordion-collapse collapse" aria-labelledby="">
                    <div class="accordion-body p-0"></div>
                </div>
            </div>
        </template>
    </div>
</div>*@

@*<div class="container my-5 py-5">
    <div class="row mx-0 edit_lock">
        <div class="col-12 col-md-6 text-center position-relative allowedit">
            <img class="w-100 h-auto allowedit" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImZpbGw6IHJnYmEoMCwwLDAsMC4xNSk7IHRyYW5zZm9ybTogc2NhbGUoMC43NSkiPgogICAgICAgIDxwYXRoIGQ9Ik04LjUgMTMuNWwyLjUgMyAzLjUtNC41IDQuNSA2SDVtMTYgMVY1YTIgMiAwIDAgMC0yLTJINWMtMS4xIDAtMiAuOS0yIDJ2MTRjMCAxLjEuOSAyIDIgMmgxNGMxLjEgMCAyLS45IDItMnoiPjwvcGF0aD4KICAgICAgPC9zdmc+" alt="" />
            <div class="position-absolute w-50 h-100 translate-middle-y top-50 end-0 d-flex flex-column justify-content-center me-2 p-0 p-md-5">
                <div class="custom_h3 fw-bold mb-0 mb-md-5 allowedit">大標</div>
                <a class=" allowedit" title="" href="">
                    <div class="More text-warning text-decoration-underline">了解更多</div>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 text-center position-relative allowedit">
            <img class="w-100 h-auto allowedit" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImZpbGw6IHJnYmEoMCwwLDAsMC4xNSk7IHRyYW5zZm9ybTogc2NhbGUoMC43NSkiPgogICAgICAgIDxwYXRoIGQ9Ik04LjUgMTMuNWwyLjUgMyAzLjUtNC41IDQuNSA2SDVtMTYgMVY1YTIgMiAwIDAgMC0yLTJINWMtMS4xIDAtMiAuOS0yIDJ2MTRjMCAxLjEuOSAyIDIgMmgxNGMxLjEgMCAyLS45IDItMnoiPjwvcGF0aD4KICAgICAgPC9zdmc+" alt="" />
            <div class="position-absolute w-50 h-100 translate-middle-y top-50 end-0 d-flex flex-column justify-content-center me-2 p-0 p-md-5">
                <div class="custom_h3 fw-bold mb-0 mb-md-5 allowedit">大標</div>
                <a class=" allowedit" title="" href="">
                    <div class="More text-warning text-decoration-underline">了解更多</div>
                </a>
            </div>
        </div>
    </div>
</div>*@