@using EtheriT.Coker.Web.Public.Views.Shared.Components.Footer
@using EtheriT.Coker.Web.Public.Views.Shared.Components.Header
<!DOCTYPE html>
<html lang="zh-tw">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Derek</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/fortawesome/css/all.min.css" />
	<link rel="stylesheet" href="~/lib/swiper/swiper-bundle.min.css" />
	<link rel="stylesheet" href="~/lib/sweetalert2/dist/sweetalert2.min.css" />
	<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/EtheriT.Coker.Web.Public.styles.css" asp-append-version="true" />
</head>
<body onload="ready()">
	<header class="fixed-top">
		@await Component.InvokeAsync(nameof(Header))
	</header>

	<div id="Floating_Center" class="position-fixed d-flex flex-column align-items-center">
		<div id="History" class="text-end d-none d-lg-block">
			<div id="CollapseHistory" class="">
				<div class="title text-center text-white">瀏覽紀錄</div>
				<ul class="m-0">
					<li class="mb-1 border" data-pid="1"><a class="pro_link" href="/Toilet/1"><img class="img-fluid" src="~/images/product/pro_pic_01.jpg" alt="" /></a></li>
					<li class="mb-1 border" data-pid="1"><a class="pro_link" href="/Toilet/1"><img class="img-fluid" src="~/images/product/pro_pic_01.jpg" alt="" /></a></li>
					<li class="mb-1 border" data-pid="1"><a class="pro_link" href="/Toilet/1"><img class="img-fluid" src="~/images/product/pro_pic_01.jpg" alt="" /></a></li>
					<li class="mb-1 border" data-pid="1"><a class="pro_link" href="/Toilet/1"><img class="img-fluid" src="~/images/product/pro_pic_01.jpg" alt="" /></a></li>
				</ul>
				<a class="collect d-flex justify-content-center align-items-center text-white mb-1" href="/Favorites">
					<i class="fa-solid fa-regular fa-heart px-1"></i>
					<div class="text">收藏</div>
					<div class="amount px-1">20</div>
				</a>
				<a class="checkout d-flex justify-content-center align-items-center text-white py-1 mb-1" href="/ShoppingCar">
					<i class="fa-solid fa-cart-shopping px-1"></i>
					<div class="text px-1">結帳</div>
				</a>
			</div>
		</div>
	</div>

	<div id="Floating_Bottom" class="position-fixed d-flex flex-column align-items-center bottom-0 end-0 p-2">
		<button id="btn_chat" class="bg-transparent border-0 rounded-circle">
			<img class="img-fluid" src="~/images/icon-linechat.png" alt="" />
		</button>

		<div id="Chatbot_Frame" class="card position-absolute border-0">
			<div class="card-header fw-bold">LINE</div>
			<div class="card-body text-center">
				<figure class="m-0">
					<img class=" card-img-topw-50" src="~/images/QRcode_linechatbot.png" alt="Chatbot QRcode">
					<figcaption>
						<div class="mt-3">透過行動條碼加入LINE好友</div>
					</figcaption>
				</figure>
				<div>或直接點擊下方按鈕進行連結</div>
				<a class="h-100 rounded" href="line://ti/p/&#64;993kweuu?oat_referrer=PROFILE"><div class="btn_gochat mt-2 py-1">前往聊天</div></a>
			</div>
		</div>

		<button id="btn_gotop" class="bg-black border-0 mt-3 px-3 rounded-3 text-white">
			<i class="fa-solid fa-chevron-up"></i>
			<div>Top</div>
		</button>
	</div>

	@RenderBody()

	<footer>
		@await Component.InvokeAsync(nameof(Footer))
		<div id="Cookie" class="cookie position-fixed text-white w-100 bottom-0 justify-content-center align-items-center">
			<p class="cookie_text my-3 pe-3">本網站使用cookies。使用我們的網站並同意隱私權政策，即表示您同意我們根據本政策內的條款使用cookie。如果您不同意，請按照說明停用，本網站的cookie即不會安裝於您的裝置上。了解更多請見&ensp;<span style="cursor:pointer">隱私權政策</span>。</p>
			<div id="Cookie_button">
				<div class="btn_cookie_accept m-2 p-1 px-4 rounded-2 text-center">接受</div>
				<div class="btn_cookie_reject m-2 p-1 px-4 rounded-2 text-center">拒絕</div>
			</div>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/swiper/swiper-bundle.min.js"></script>
	<script src="~/lib/jquery-plugin-c-share/dist/jquery.c-share.min.js"></script>
	<script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>
	<script src="~/lib/jquery-twzipcode/jquery.twzipcode.min.js"></script>
	<script src="~/lib/masonry-layout/dist/masonry.pkgd.min.js"></script>
	<script src="https://scaleflex.cloudimg.io/v7/plugins/js-cloudimage-360-view/latest/js-cloudimage-360-view.min.js?func=proxy"></script>
	<script src="~/js/site.min.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
