@using DevExtreme.AspNet.Mvc
@using DevExpress.AspNetCore

@model EtheriT.Coker.Web.MVC.Models.Report.R001ViewModel
<div class="content d-flex flex-column flex-column-fluid">
    @{
        var viewerRender = Html.DevExpress().WebDocumentViewer("DocumentViewer")
        .ClientSideModelSettings(x => x.IncludeLocalization = false)
        .ClientSideEvents(x => x.CustomizeExportOptions("customizeExportOptions")
        .CustomizeElements("previewCustomizeElements")
        .CustomizeMenuActions("customizeActions")
        .CustomizeLocalization("CustomizeLocalization")
        .BeforeRender("beforeRender"))
        .Bind(Model.ReportObject);

        if (Model.ReportObject != null)
        {
            @section scripts {
                @{
                    await Html.RenderPartialAsync(@"DevExpress\_ReportingLocalization");
                }
                @if (Model.ReportObject != null)
                {
                    await Html.RenderPartialAsync(@"DevExpress\_ReportingCommonScript");
                    await Html.RenderPartialAsync(@"DevExpress\_ReportingCSRF");
                    @viewerRender.RenderScripts()
                }
            }
            @viewerRender.RenderHtml()

            @section styles {
            @{
                    await Html.RenderPartialAsync(@"DevExpress\_ReportingCommonStyle");
                }
        }
        }
    }
</div>