
.type_change_frame > .catalog {
    max-width: 1024px;
    margin: auto;
}


.type_change_frame > .catalog .image_frame > img {
        max-height: 350px;
}


.text-border {
    border-left: #888888 solid .5rem;
}

.type_change_frame > .catalog .box-shadow {
    box-shadow: 2px 3px 5px rgba(50,50,50,0.3);
    height: 100%;
    padding: 10px;
}

.type_change_frame > .catalog .date {
    color: gray;
    font-size: 12px;
}

.type_change_frame > .catalog .image_frame {
    width: 50%;
    overflow: hidden;
}

.type_change_frame > .catalog .img-fluid {
    height: 200px;
}

.type_change_frame > .catalog .type1 {
    height: 80px;
    border-left: solid 10px #919191;
}

.type_change_frame > .catalog .type2 {
    height: 320px;
}

.type_change_frame > .catalog .type3 {
    height: 250px;
}
.type_change_frame > .catalog .more-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #DEDEDE;
    top: 20px;
    right: 10px;
    color: #fff;
}

    .type_change_frame > .catalog .more-btn:hover {
        background: #919191;
    }
.type_change_frame > .catalog .pr3 {
    padding: 0.5rem 3rem 0.5rem 0.5rem;
}
@media only screen and (max-width: 768px) {
    .type_change_frame > .catalog .title {
        line-height: 1.5rem;
        max-height: 3rem;
    }

    .type_change_frame > .catalog .description {
        line-height: 1.5rem;
        max-height: 4.5rem;
        height: fit-content;
    }
    .type_change_frame > .catalog .max-hei {
        flex-direction: column;
        justify-content: center;
    }

    .type_change_frame > .catalog .image_frame {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}

@media only screen and (max-width: 576px) {
    .type_change_frame > .catalog .title {
        font-size: 0.8rem !important;
        line-height: 1rem;
        max-height: 2rem;
    }

    .type_change_frame > .catalog .description {
        font-size: 0.8rem !important;
        line-height: 1rem;
        max-height: 2rem;
    }
}
