.link_with_icon .fa-file-image {
    color: #ff9500;
}

.link_with_icon .fa-file-pdf {
    color: #b30b00;
}

.link_with_icon .fa-file-word {
    color: #2c599d;
}

.link_with_icon .fa-file-powerpoint {
    color: #D04323;
}

.link_with_icon .fa-file-excel {
    color: #037945;
}

.link_with_icon .fa-file {
    color: #999999;
}