@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/Product/Index.css" asp-append-version="true" />
<script src="~/js/Product/Index.js" asp-append-version="true"></script>

<div class="text-center container_title">猜您會喜歡</div>
<div class="swiper_four_grid container-fluid">
	<div class="swiper GuessYouLikeSwiper">
		<div class="swiper-wrapper">
			<div class="card swiper-slide border-light">
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>
		</div>
	</div>
	<i class="btn_swiper_next_guessyoulike fa-solid fa-chevron-right"></i>
	<i class="btn_swiper_prev_guessyoulike fa-solid fa-chevron-left"></i>
</div>

<div id="Ads">
	<div class="title">廣告</div>
	<div class="content">
		<div class="frame">
			<a class="image" href=""><img src="~/images/hotad1.jpg" alt="" /></a>
			<div class="describe">
				<a href="">
					母親節來臨，以全新獨立式浴缸系列與「淨未來瞬熱式微電腦馬桶座」，給天下媽媽們一份療癒身心之禮
				</a>
			</div>
			<div class="keywords">
				<ul>
					<li>#淨未來</li>
					<li>#全自動</li>
					<li>#冷熱SPA按摩</li>
				</ul>
			</div>
		</div>
		<div class="frame">
			<a class="image" href=" "><img src="~/images/hotad2.jpg" alt="" /></a>
			<div class="describe">
				<a href="">
					Derek獨立式美型缸系列，以壓克力材質形塑柔和輪廓，分為經典款、魅力款、個性款、古典款，造型多樣、擺放自由度高，完美匹配多種裝潢風格。
				</a>
			</div>
			<div class="keywords">
				<ul>
					<li>#浴缸</li>
					<li>#新品</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="text-center container_title">熱門商品</div>
<div class="swiper_four_grid container-fluid">
	<div class="swiper HotProductsSwiper">
		<div class="swiper-wrapper">
			<div class="card swiper-slide border-light">
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>
		</div>
	</div>
	<i class="btn_swiper_next_hotproducts fa-solid fa-chevron-right"></i>
	<i class="btn_swiper_prev_hotproducts fa-solid fa-chevron-left"></i>
</div>

<div id="Badge" class="gap-1">
	<div class="card text-center">
		<img src="~/images/pro1.png" alt="" />
		<div class="card-body">
			<h5 class="card-title fw-bold">安心線上付款</h5>
			<p class="card-text">享有七天鑑賞期</p>
		</div>
	</div>

	<div class="vr"></div>

	<div class="card text-center">
		<img src="~/images/pro1.png" alt="" />
		<div class="card-body">
			<h5 class="card-title fw-bold">安心線上付款</h5>
			<p class="card-text">享有七天鑑賞期</p>
		</div>
	</div>

	<div class="vr"></div>

	<div class="card text-center">
		<img src="~/images/pro1.png" alt="" />
		<div class="card-body">
			<h5 class="card-title fw-bold">安心線上付款</h5>
			<p class="card-text">享有七天鑑賞期</p>
		</div>
	</div>

	<div class="vr"></div>

	<div class="card text-center">
		<img src="~/images/pro1.png" alt="" />
		<div class="card-body">
			<h5 class="card-title fw-bold">安心線上付款</h5>
			<p class="card-text">享有七天鑑賞期</p>
		</div>
	</div>
</div>

<div class="swiper_ads container-fluid">
	<div class="swiper AdsSwiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img class="img-fluid mx-auto " src="~/images/banner/Home/banner.jpg" alt="" />
			</div>
			<div class="swiper-slide">
				<img class="img-fluid " src="~/images/banner/Home/banner02.jpg" alt="" />
			</div>
		</div>
	</div>
	<i class="btn_swiper_next_ads fa-solid fa-chevron-right"></i>
	<i class="btn_swiper_prev_ads fa-solid fa-chevron-left"></i>
</div>

<div class="text-center container_title">相關商品</div>
<div class="swiper_four_grid container-fluid">
	<div class="swiper RelatedProductsSwiper">
		<div class="swiper-wrapper">
			<div class="card swiper-slide border-light">
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>
		</div>
	</div>
	<i class="btn_swiper_next_relatedproducts fa-solid fa-chevron-right"></i>
	<i class="btn_swiper_prev_relatedproducts fa-solid fa-chevron-left"></i>
</div>
