@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/Product/Index.css" asp-append-version="true" />
<script src="~/js/Product/Index.js" asp-append-version="true"></script>

<div class="text-center container_title">猜您會喜歡</div>
<div class="swiper_four_grid container-fluid">
	<div class="swiper GuessYouLikeSwiper">
		<div class="swiper-wrapper">
			<div class="card swiper-slide border-light">
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>
		</div>
	</div>
	<i class="btn_swiper_next_guessyoulike fa-solid fa-chevron-right"></i>
	<i class="btn_swiper_prev_guessyoulike fa-solid fa-chevron-left"></i>
</div>

<div class="text-center container_title">熱門商品</div>
<div class="swiper_four_grid container-fluid">
	<div class="swiper HotProductsSwiper">
		<div class="swiper-wrapper">
			<div class="card swiper-slide border-light">
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>
		</div>
	</div>
	<i class="btn_swiper_next_hotproducts fa-solid fa-chevron-right"></i>
	<i class="btn_swiper_prev_hotproducts fa-solid fa-chevron-left"></i>
</div>
</div>

<div class="text-center container_title">相關商品</div>
<div class="swiper_four_grid container-fluid">
	<div class="swiper RelatedProductsSwiper">
		<div class="swiper-wrapper">
			<div class="card swiper-slide border-light">
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>

			<div class="card swiper-slide border-light">
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<div class="icon d-flex justify-content-center">
							<i class="btn_favorites fa-regular fa-heart"></i>
							<i class="fa-solid fa-share"></i>
						</div>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<div class="card-footer bg-transparent d-flex">
					<ul class="d-block">
						<li class="rounded-pill">一段省水</li>
						<li class="rounded-pill">幼兒</li>
					</ul>
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>
		</div>
	</div>
	<i class="btn_swiper_next_relatedproducts fa-solid fa-chevron-right"></i>
	<i class="btn_swiper_prev_relatedproducts fa-solid fa-chevron-left"></i>
</div>
