@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/Product/Index.css" asp-append-version="true" />
<script src="~/js/Product/Index.js" asp-append-version="true"></script>

<div class="text-center container_title">猜您會喜歡</div>
<div class="swiper_four_grid container-fluid">
	<div class="swiper ProductSwiper">
		<div class="swiper-wrapper">
			<div class="card swiper-slide border-light">
				<i class="btn_delecard fa-regular fa-circle-xmark"></i>
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<i class="btn_favorites fa-regular fa-heart"></i>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<ul class="card-footer bg-transparent border-light">
					<li class="rounded-pill">一段省水</li>
					<li class="rounded-pill">幼兒</li>
				</ul>
			</div>

			<div class="card swiper-slide border-light">
				<i class="btn_delecard fa-regular fa-circle-xmark"></i>
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<i class="btn_favorites fa-regular fa-heart"></i>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<ul class="card-footer bg-transparent border-light">
					<li class="rounded-pill">一段省水</li>
					<li class="rounded-pill">幼兒</li>
				</ul>
			</div>

			<div class="card swiper-slide border-light">
				<i class="btn_delecard fa-regular fa-circle-xmark"></i>
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<i class="btn_favorites fa-regular fa-heart"></i>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<ul class="card-footer bg-transparent border-light">
					<li class="rounded-pill">一段省水</li>
					<li class="rounded-pill">幼兒</li>
				</ul>
			</div>

			<div class="card swiper-slide border-light">
				<i class="btn_delecard fa-regular fa-circle-xmark"></i>
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<i class="btn_favorites fa-regular fa-heart"></i>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<ul class="card-footer bg-transparent border-light">
					<li class="rounded-pill">一段省水</li>
					<li class="rounded-pill">幼兒</li>
				</ul>
			</div>
		</div>
	</div>
	<i class="btn_swiper_next fa-solid fa-chevron-right"></i>
	<i class="btn_swiper_prev fa-solid fa-chevron-left"></i>
</div>

<div class="text-center container_title">熱門商品</div>
<div class="swiper_four_grid container-fluid">
	<div class="swiper ProductSwiper">
		<div class="swiper-wrapper">
			<div class="card swiper-slide border-light">
				<i class="btn_delecard fa-regular fa-circle-xmark"></i>
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<i class="btn_favorites fa-regular fa-heart"></i>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<ul class="card-footer bg-transparent border-light">
					<li class="rounded-pill">一段省水</li>
					<li class="rounded-pill">幼兒</li>
				</ul>
			</div>

			<div class="card swiper-slide border-light">
				<i class="btn_delecard fa-regular fa-circle-xmark"></i>
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<i class="btn_favorites fa-regular fa-heart"></i>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<ul class="card-footer bg-transparent border-light">
					<li class="rounded-pill">一段省水</li>
					<li class="rounded-pill">幼兒</li>
				</ul>
			</div>

			<div class="card swiper-slide border-light">
				<i class="btn_delecard fa-regular fa-circle-xmark"></i>
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<i class="btn_favorites fa-regular fa-heart"></i>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<ul class="card-footer bg-transparent border-light">
					<li class="rounded-pill">一段省水</li>
					<li class="rounded-pill">幼兒</li>
				</ul>
			</div>

			<div class="card swiper-slide border-light">
				<i class="btn_delecard fa-regular fa-circle-xmark"></i>
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<i class="btn_favorites fa-regular fa-heart"></i>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<ul class="card-footer bg-transparent border-light">
					<li class="rounded-pill">一段省水</li>
					<li class="rounded-pill">幼兒</li>
				</ul>
			</div>
		</div>
	</div>
	<i class="btn_swiper_next fa-solid fa-chevron-right"></i>
	<i class="btn_swiper_prev fa-solid fa-chevron-left"></i>
</div>

<div class="text-center container_title">相關商品</div>
<div class="swiper_four_grid container-fluid">
	<div class="swiper ProductSwiper">
		<div class="swiper-wrapper">
			<div class="card swiper-slide border-light">
				<i class="btn_delecard fa-regular fa-circle-xmark"></i>
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<i class="btn_favorites fa-regular fa-heart"></i>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<ul class="card-footer bg-transparent border-light">
					<li class="rounded-pill">一段省水</li>
					<li class="rounded-pill">幼兒</li>
				</ul>
			</div>

			<div class="card swiper-slide border-light">
				<i class="btn_delecard fa-regular fa-circle-xmark"></i>
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<i class="btn_favorites fa-regular fa-heart"></i>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<ul class="card-footer bg-transparent border-light">
					<li class="rounded-pill">一段省水</li>
					<li class="rounded-pill">幼兒</li>
				</ul>
			</div>

			<div class="card swiper-slide border-light">
				<i class="btn_delecard fa-regular fa-circle-xmark"></i>
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<i class="btn_favorites fa-regular fa-heart"></i>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<ul class="card-footer bg-transparent border-light">
					<li class="rounded-pill">一段省水</li>
					<li class="rounded-pill">幼兒</li>
				</ul>
			</div>

			<div class="card swiper-slide border-light">
				<i class="btn_delecard fa-regular fa-circle-xmark"></i>
				<img src="~/images/pro1.png" alt="" />
				<div class="card-body">
					<div class="card-title">
						<div class="price">$9,100</div>
						<i class="btn_favorites fa-regular fa-heart"></i>
					</div>
					<div class="name">CS230一段省水分離式幼兒馬桶</div>
				</div>
				<ul class="card-footer bg-transparent border-light">
					<li class="rounded-pill">一段省水</li>
					<li class="rounded-pill">幼兒</li>
				</ul>
			</div>
		</div>
	</div>
	<i class="btn_swiper_next fa-solid fa-chevron-right"></i>
	<i class="btn_swiper_prev fa-solid fa-chevron-left"></i>
</div>