
.logo {
    max-width: 80%;
    width: 100%;
    height: auto;
}

.modal-body {
    min-height: 500px;
}

.btn_expand {
    padding: 0 4px;
    background-color: var(--blue-dark);
    color: white;
}

.img_ul {
    position: absolute;
    right: 0;
    top: 87px;
}

    .img_ul > li {
        min-width: 80px;
    }

@media only screen and (max-width: 768px) {
    .img_ul {
        width: 100%;
        right: unset;
        left: 50%;
        transform: translateX(-50%);
    }

        .img_ul > li {
            min-width: unset;
        }
}
